[2020-09-02 15:06] nitzan-tz commented on #282
I have tried with the lates master branch but I see the same issue
I saw this error in Chrome and Firefox debugging (Line 81 is one line after the adhocCondition )
[code]

This is the create table

[code]

This is the dashboard

[dashboard-with-adhoc.json.txt](https://github.com/Vertamedia/clickhouse-grafana/files/5163119/dashboard-with-adhoc.json.txt)

[2020-09-02 17:47] ashutoshraina commented on #281
@Slach Exactly what @genzgd mentioned. If the meta and data keys are not in the same order then the table columns are not populated correctly.
If we match the key names instead of the indices, this would probably work correctly.

[2020-09-03 22:35] Zaytsev11B opened #286 "milliseconds in the timeseries / group by 100ms intervals"
in our timeseries we have time = DateTime64(9) with nanoseconds, with the  goal of drilling down inside the second (get it in 100ms / 10ms intervals). However, plugin rounds interval up to 1 second and data is coming back grouped by second, even though Grafana sends 0.1 or even 0.01.

How do we go about getting 100/10ms timeseries ?

[2020-09-04 02:56] yishanchuan opened #287 "adding datasource need to login but the clickhouse or grafana's username-password both failed"
Hi, guys. I met a problem during adding clickhouse datasource .
When I click the "save and test", a confirm form appeared.
Then I tried to using clickhouse profile to fill the username and password input. I get the following error warning:

![屏幕截图_20200904104816](https://user-images.githubusercontent.com/16149816/92194462-4bf75d00-ee9d-11ea-986f-05ac2ddb26e8.png)

It is the same as that I input gr

[2020-09-04 03:48] Slach commented on #287
@yishanchuan could share more detail?
could you explain how exactly did you try to add `clickhouse` data source?
do you use Access: "Browser" or "Server"?
which `schema` (http, https), `host` and `port`  did you use?
![image](https://user-images.githubusercontent.com/105560/92197173-7390fa00-ee8a-11ea-91bd-ccc1f42968ac.png)
by default clickhouse support `http://` schema on `8123` port, and `https:

[2020-09-04 03:52] yishanchuan commented on #287
yes, I use http://10.60.25.130:8123 and Server (default)

[2020-09-04 03:53] yishanchuan commented on #287
I use tabix to connect clickhouse , the same username and password can access that.

[2020-09-04 04:27] Slach commented on #287
@yishanchuan how do you install Grafana? is it the same server with the same IP where install clickhouse or is it the separate server with different IP?

did you check Basic auth checkbox?
![image](https://user-images.githubusercontent.com/105560/92199414-873f5f00-ee90-11ea-9a51-98007d2fac98.png)
or do you use Yandex Cloud authorization?
![image](https://user-images.githubusercontent.com/105560/92

[2020-09-04 06:30] yishanchuan commented on #287
Thanks a lot! It's work!

[2020-09-04 06:48] #287 closed

[2020-09-04 23:23] #286 closed

[2020-09-04 23:27] Zaytsev11B commented on #286
not an issue - had to convert DateTime64(9) to int in the getTimeSeries

[2020-09-08 03:51] xingyaa opened #288 "process is not defined Evaluating"

[2020-09-08 03:54] #288 closed

[2020-09-10 05:43] ashutoshraina commented on #281
@Slach Is there some more information I can provide to help move this forward ?

[2020-09-10 08:31] Slach commented on #281
@ashutoshraina thanks a lot for testcase i will fix it ASAP

[2020-09-10 10:41] Slach commented on #281
@ashutoshraina hmm, look like your test case PASSED currently, on latest `master` branch
I will try to reproduce via `docker-compose` environment with `trickster`

[2020-09-10 12:33] Slach commented on #281
@genzgd as I see `trickster` doesn't support case when clickhouse-grafana pass SQL query via POST request body?

[2020-09-10 12:57] Slach commented on #282
@nitzan-tz could you check master again and report if still reproduce?

[2020-09-10 13:02] Slach commented on #281
@genzgd and @ashutoshraina
could you help me reproduce this issue?
I add trickster to `docker-compose` environment

Currently after run
[code]
and open in browser http://localhost:3000/d/2LfUU3vMz/trickster-dashboard?orgId=1
I don't see changes in field order in "data" section when grafana pass request to trickster

maybe I do something wrong?
[code]
I can't figure out, was request from grafana to

[2020-09-10 15:57] genzgd commented on #281
Correct, Trickster does nothing with POSTs but pass them through.  With a GET you can tell if the response is cached by looking at the special header coming back.  Unfortunately it isn't currently caching correctly with the newest Plugin version, because of the additional wrapping of the $timeFilter variable in another level of parens (I'm working on fixing that now).  When it *does* work you can

[2020-09-10 16:20] Slach commented on #281
@genzgd i got following results for my environment
![image](https://user-images.githubusercontent.com/105560/92761524-360cff00-f3ab-11ea-9349-7841d91f270e.png)
![image](https://user-images.githubusercontent.com/105560/92761706-618fe980-f3ab-11ea-99bb-e22de4087de9.png)
what it mean?

[2020-09-10 16:39] genzgd commented on #281
Because the X-Trickster-Result is "proxy-only", Trickster did not cache this result but just returned the unchanged result fro ClickHouse.  You need to send a query in that looks like a time series query and send it twice, so that the second response comes from the Trickster cache and gets recreated instead of coming directly from ClickHouse.

This is the sample query I use in the unit tests that

[2020-09-10 16:42] genzgd commented on #281
Also just a reminder that the Grafana plugin works for charts, it seems that only tables are broken.

[2020-09-11 06:55] Slach commented on #281
@genzgd I can't catch cache behavior from trickster with change column orders

I trying to send following curl request:

[code]

first time I got
[code]
and `data` section with the same fields order as `meta` section
[code]

second time
[code]

with same JSON results
[code]

what I should do to reproduce errornomus behavior?
also `&add_http_cors_header=1` in query string completely turn off proxy

[2020-09-11 16:03] nitzan-tz commented on #282
@Slach it is working now
Thanks for your effort

[2020-09-12 02:24] Brucecarl opened #290 "how to show date or month count"
Hi,I wanna count data group by date or month,but the graph time x-axis cannot show in date and month ,how to do that?

[2020-09-12 11:11] Slach commented on #290
@Brucecarl could you share your current SQL query?
grafana expect for time series data UInt64 field which represent unix timestamp in ms
maybe you need try to use `toUInt64(toStartOfMonth(your_datetime_filed))*1000 AS month`

[2020-09-14 11:01] Slach commented on #281
@genzgd could you suggest to me how I can trigger change columns order behavior in trickster?

[2020-09-14 11:02] Slach commented on #290
@Brucecarl issue is relevant for you? or suggestion with toUInt is enough?

[2020-09-14 11:34] genzgd commented on #281
I'll try to find time to reproduce this; it's been a busy few days.  Regardless, I think @ashutoshraina has identified the code that causes the problem.  Because the plugin uses the order of JSON properties instead of their names, and the order of JSON properties is not guaranteed, the plugin is broken.  You could just create an artificial response with "out of order" properties to test a fix.

[2020-09-14 13:40] Slach commented on #281
@genzgd, hmm, as I see @ashutoshraina found https://github.com/Vertamedia/clickhouse-grafana/blob/master/src/response_parser.ts#L30 but this part of code is executed only when we have `__value` and `__text` in field names in SQL query, it part of code usual used when we run queries for getting "grafana template variables" dropdown boxes

[code]

and indexes `textColIndex` and `findColIndex` is cal

[2020-09-15 07:38] ashutoshraina commented on #281
@Slach I think my test may be incorrect. I need your help in understanding if the test I submitted is correct or not.

What is the expected size of the array res for the test case I submitted ? Should it be 2 ?

Here's what I am thinking and please do let me know if this does not make sense.

sqlResults (https://github.com/Vertamedia/clickhouse-grafana/blob/master/src/response_parser.ts#L21) will

[2020-09-15 07:51] #290 closed

[2020-09-19 03:28] liangli1213 commented on #283
@Slach ,I try to use WITH FILL, but it is not 100% compatible in some situation.

Here is my SQL, note that metric is used, on some timepoint, the value is missing.
[code]
I found below issue:
1. ClickHouse fill the missing value to NULL, both metric name and its value, this is different from that of MySQL datasource
2. ClickHouse fill only a portion of the duration, not the whole (From to To)
3.

[2020-09-19 13:13] liangli1213 opened #291 "Metric not work when use join in Graph panel"
I use below SQL query, and the result was displayed incorrectly.
[code]
![图片](https://user-images.githubusercontent.com/69909759/93667700-7a3e8480-faba-11ea-9db1-245525346881.png)

And here is the data structure:

![图片](https://user-images.githubusercontent.com/69909759/93668079-e7ebb000-fabc-11ea-8cef-db61d270a1d2.png)

[2020-09-19 13:24] Slach commented on #291
@liangli1213 could you share a full SQL query with full JOIN clause? it will help me reproduce your issue

and could you suggest which columns contains NULL values? it is sum(f_value)?

[2020-09-19 14:17] liangli1213 commented on #291
**Create table**
test_datetime:
[code]
test_usage:
[code]
**Add data**
[code]
I think it has no relationshit with the NULL value, here is the steps:

**SQL**
[code]
And you can see, the legend is incorrect.

![图片](https://user-images.githubusercontent.com/69909759/93669287-c9d67d80-fac5-11ea-8ead-c7481c61b075.png)

[2020-09-19 15:30] Slach commented on #291
@liangli1213 thanks a lot for reporting
I will figure out  and try to fix issue ASAP

[2020-09-21 09:26] liangli1213 commented on #291
@Slach , have you reproduced the issue successfully? and any update?

[2020-09-21 12:18] chr-istoph opened #292 "DateTime64 Support"
Thanks for this great plugin!

DateTime64 is the preferred Clickhouse data type for sub-second precision timestamps:
https://clickhouse.tech/docs/en/sql-reference/data-types/datetime64/

Is DateTime64 support on the horizon for this plugin?

Namely
- Time range selection in the query builder (e.g. `WHERE Timestamp BETWEEN toDateTime64(1598007073,3) AND toDateTime64(1598028056,3)`)
- Display of sub

[2020-09-21 12:49] Slach commented on #292
@chr-istoph
according to https://github.com/grafana/grafana/issues/3035
grafana itself supports only milliseconds resolution right now

so, for quick workaround you can try to use something like that
`SELECT intDiv(toUInt64(datetime64_precision_3_field),$__interval_ms) AS t ...` and
`WHERE t BETWEEN toDateTime64($__from,3) AND toDateTime64($__to,3))`
with grafana-clickhouse

[2020-09-24 14:08] Serrous opened #293 "Poor performance when using JSON format"
Hello, colleagues
At the moment we are trying to transfer our monitoring system to the Clickhouse + Grafana bundle and we are faced with poor performance.
The fact is that we have a large number of servers and metrics and we need to be able to visualize them for all servers in our cluster. We have uploaded test data to Clickhouse such as RAM, CPU, SysUtil, UserUtil and the like. When we make a sel

[2020-09-24 15:26] Slach commented on #293
@Serrous your SQL query from `query_log` looks weird
1) why you need data for one month data (from 2020-07-26 to 2020-08-22), but grouped only for 60s interval?
2) why SQL query doesn't contains `GROUP BY t` clause?

could you share your original SQL query which you used inside grafana graph panel?
do you use $timeSeries or other macros in your query?

1.4kk rows it's no good idea in any case

[2020-09-24 15:52] Serrous commented on #293
@Slach

Yes, you right, this is my stupid mistake - I was requesting the data I needed incorrectly. I rewrote the query where I only get 3000 lines of output for all servers and now it works about 40ms)
You can close and delete this post - it is not a problem for plugin.

[2020-09-24 15:53] #293 closed

[2020-09-25 12:38] Slach opened #294 "combine $timeFilterByColumn and $dateTimeCol doesn't work"
$timeFilterByColumn doesn't exists on auto-complete
$timeFilterByColumn($dateTimeCol) doesn't convert to right SQL query

![image](https://user-images.githubusercontent.com/105560/94267886-c758a580-ff55-11ea-8d3e-8e8f5b8d0194.png)

[2020-09-26 03:28] ashutoshraina commented on #281
Just bumping this up.
How can we move this forward ?

[2020-09-26 13:31] Slach commented on #281
@ashutoshraina thanks a lot for your attention I going to try to fix it on next week

[2020-09-28 12:12] chr-istoph commented on #292
@Slach
Thanks for the pointer 👍
This works a treat:

- `intDiv(toFloat64(datetime64_field)*1000, $__interval_ms) * $__interval_ms) as t`

- `WHERE t BETWEEN toDateTime64($__from,3) AND toDateTime64($__to,3))`

[2020-10-05 17:35] igor9292 commented on #284
it's work

[2020-10-06 04:08] Slach commented on #284
nice to hear it ;)

[2020-10-09 03:40] liangli1213 commented on #291
@Slach , do you have any update?

[2020-10-09 10:24] Slach commented on #291
@liangli1213 sorry for late response
could you just try following query

[code]

[2020-10-09 14:40] Slach commented on #283
@liangli1213 maybe `null as zero` visualization option is enough for you ?
![image](https://user-images.githubusercontent.com/105560/95596745-37435180-0a67-11eb-8716-95dee20ab768.png)

[2020-10-10 12:07] negbie commented on #116
I think this can be closed as it works like @olafbuitelaar pointed out.

[2020-10-10 12:11] negbie commented on #114
Seems to work fine in recent releases.
![cerr](https://user-images.githubusercontent.com/20154956/95654755-74105680-0b02-11eb-9cfb-d7b325b90d20.jpg)

[2020-10-10 15:39] Slach commented on #114
It is the last release of Grafana 7.2.x?
Cause we did nothing on ClickHouse-Grafana 2.1.0

ok. I close ticket

[2020-10-10 15:39] #114 closed

[2020-10-10 15:40] negbie commented on #114
Yes it's Grafana 7.2.0.

[2020-10-10 15:49] Slach commented on #116
@negbie ok, let's close issue

[2020-10-10 15:49] #116 closed

[2020-10-12 01:38] liangli1213 commented on #291
@Slach , this method works, thanks very much.

[2020-10-12 01:43] liangli1213 commented on #283
@Slach , 'null as zero' will fill all NULL fields to 0, but what I want is only fill the value field to 0, and fill the metric field to the metric, like 'DENIED-RULES_USER_GROUP', MySQL data source can meet my requirement.

[code]

[2020-10-12 08:32] Hukuta opened #295 "Failed to Add Data Source: HTTP Error Bad Gateway"
![Selection_139](https://user-images.githubusercontent.com/3100053/95723938-667fdb80-0c7e-11eb-87b4-685fa8085b5c.png)

![Selection_140](https://user-images.githubusercontent.com/3100053/95723984-75ff2480-0c7e-11eb-9576-71c2deec0f47.png)
![Selection_141](https://user-images.githubusercontent.com/3100053/95724003-7c8d9c00-0c7e-11eb-92e9-eaa16bcb2cf1.png)

ClickHouse server version 20.9.3
Grafana v7.

[2020-10-12 08:37] Slach commented on #295
please use localhost:8123 instead of localhost:9000
plugin use http/https protocol for connection

[2020-10-12 08:37] #295 closed

[2020-10-12 08:38] Hukuta commented on #295
I have the same Error message when using 8123 port

[2020-10-12 08:39] Hukuta commented on #295
I'm not using CHProxy ( it marked as optional in readme )

[2020-10-12 09:00] Slach commented on #295
do you have grafana and clickhouse on the same stateful server? or it's a separate docker containers or Linux machines?

could you run the following command on your grafana server and share the results?
[code]

[2020-10-12 09:26] Hukuta commented on #295
I realized that CH server crashes after start, sorry to bother. Closed

[2020-10-13 01:07] ashutoshraina commented on #281
In case this helps I have tried multiple versions of grafana and plugins and the issue was reproducible every time in both.

7.0.6 - Grafana with Clickhouse Plugin 1.9.1
7.2.0 - Grafana with Clickhouse Plugin 2.1.0

[2020-10-15 11:13] xgxshtc commented on #267
I 've met the same problem. But what is this "Use Yandex.Cloud authorization headers" used for? It seems like account of Yandex.Cloud, why does it can solve this problem? In my test environment, I didn't turn this on, but the Alert is OK.

[2020-10-15 11:21] Slach commented on #267
@xgxshtc it means use authorization method via `X-ClickHouse-User` and `X-ClickHouse-Key` headers instead of basic auth
so, just turn on this option in connection properties and use your user \ password credentials

please read https://clickhouse.tech/docs/en/interfaces/http/ for details

[2020-10-16 02:18] xgxshtc commented on #267
Thks a lot, it really helped. Now it works.

[2020-10-16 08:10] ghuname opened #296 "How to get required template variable expansion?"
While I was on plugin version 2.0.2 and clickhouse database version 19.15.4 revision 54426, I had a problem described on https://github.com/Vertamedia/clickhouse-grafana/issues/252.
After upgrading plugin to 2.1.0, one problem vanished, but another showed up.

[code]

I had the problem with $SEVERITY variable that upgrade to 2.1.0 solved. Now I have a problem with $CORR_GROUP variable.
With 2.0.2

[2020-10-16 09:06] Slach commented on #296
hasAny with [$CORR_GROUP] will work with old versions
[code]

[2020-10-16 19:29] ghuname commented on #296
Will this approach be a problem with newer version of clickhouse?

[2020-10-17 16:32] Slach commented on #296
no, it should not a problem
just use `$conditionalTest(AND hasAny(corrGroup,[$CORR_GROUP]),$CORR_GROUP)`
[code]

[2020-10-21 12:40] msvihra opened #297 "grafana timeout override"
At first sorry if this question doesn't belong there.

We are using grafana to show data from clickhouse, which is forwarding queries into chproxy used as proxy in front of clickhouse.
Dashboards are working as intended - but only if i use range for only few days. If i need more data from wider range - two weeks or one month - i am facing timeouts after 60seconds.

I have digged what is causing th

[2020-10-21 16:28] mikhno-s commented on #292
Hey, similar ussue.

I have changed timestamp column type to DateTime64 and found out that my dashboard stopped to work.
Is it complex task to add DateTime64 as allowed column type to search?

it should be interpolated in row query into workaround as in upper messages.

Or if it is already done - how can I chose my DateTime64 field as a timestamp column?

[2020-10-21 16:51] Slach commented on #297
first of all, 60 seconds is too long for one month date range in ClickHouse

could you share SQL query, CREATE TABLE statements with ENGINE and ORDER BY  \ PARTITION BY ?

[2020-10-21 20:41] ghuname commented on #296
Thanks

[2020-10-21 20:41] #296 closed

[2020-10-26 06:22] kakvablyat commented on #292
+1

[2020-10-26 11:05] msvihra commented on #297
Thanks for reply.

Yes it took a long time to finish, but this is not problem. We are performing selects with a lot of GROUP BY and joins to show right data in our graphs. My question was pointing maybe to te point how to modify this timeout inside grafana or plugin itself. I saw in debug logs that grafana is sending **connection close** after 60 seconds, so timeout in chproxy is pretty much usele

[2020-11-03 11:33] Slach commented on #292
@chr-istoph @kakvablyat @mikhno-s could you check latest `master` version?

[2020-11-03 11:34] #291 closed

[2020-11-03 12:10] Slach commented on #292
@chr-istoph @kakvablyat @mikhno-s
you should change datetime column type to Column:DateTime64 in your queries

![image](https://user-images.githubusercontent.com/105560/97983645-68f5d100-1df7-11eb-8425-4acc27e5c155.png)

[2020-11-03 13:59] mikhno-s commented on #292
Cannot save that parameter. It returns to DateTime.

However, this does not work for me
[code]

The only way I made it work -
[code]

[2020-11-03 15:22] mikhno-s commented on #292
Also, possible solution for grafana > v7.1.2
[code]

[2020-11-04 06:55] fishdemon opened #299 "alert error :"tsdb.HandleRequest() error Could not find executor for data source type: vertamedia-clickhouse-datasource""
grafana 7.2.2 + clickhouse
For graphs the datasourse is working normally . such as query A can run normally , but alert  for query A is error

[code]

[2020-11-04 08:33] shizhenchina commented on #299
`error:"tsdb.HandleRequest() error rpc error: code = Unknown desc = Get "http://XXXX?query=SELECT%0A++++%28intDiv%28toUInt32%28event_time%29%2C+1%29+%2A+1%29+%2A+1000+as+t%2C%0A++++count%28%29%0AFROM+system.query_log%0A%0AWHERE+event_time+%3E%3D+toDateTime%281604476897%29%0A%0AGROUP+BY+t%0A%0AORDER+BY+t+FORMAT+JSON": net/http: invalid header field name """`
I also reported an error when I used Cli

[2020-11-04 13:32] Slach commented on #299
@fishdemon @shizhenchina could you share CREATE TABLE statement and dashboard JSON with alerts to help me reproduce issue?

[2020-11-04 15:20] Slach commented on #292
@mikhno-s @chr-istoph @kakvablyat could you check latest `master` again?
I added support DateTime64 to $timeFilter and $timeSeries
please look to https://github.com/Vertamedia/clickhouse-grafana/blob/master/docker/grafana/dashboards/test_datetime64_support.json for dashboard example

[2020-11-05 07:13] Slach commented on #292
@mikhno-s could please try to use latest `master` version
![image](https://user-images.githubusercontent.com/105560/98017536-3660ce00-1e21-11eb-95cd-d5388cf2bd21.png)
and look to https://github.com/ClickHouse/ClickHouse/issues/16655

[2020-11-05 07:47] koallen opened #301 "ALIAS BY support similar to InfluxDB in Grafana"
For the InfluxDB queries, there's an ALIAS BY option that allows customizing the alias for each series in the graph (not ALIAS in the query but the ALIAS BY in the query editor). Can similar feature be added to the ClickHouse plugin as well?

[2020-11-05 08:05] Slach commented on #301
@koallen could you get more examples or link to documentation references?

[2020-11-05 08:08] Slach commented on #301
@koallen maybe `$columns` macro is enough for you?

[2020-11-05 10:49] shizhenchina commented on #299
This is my configuration problem, and I've solved it.

[2020-11-05 13:01] Slach commented on #299
@fishdemon could you share CREATE TABLE statements and grafana dashboard JSON to help me reproduce your issue?

[2020-11-06 08:49] koallen commented on #301
Hi, I'm able to solve my issue with `$columns` together with `concat` (which is a CH function). In case anyone is having the same question, an example query would be

[code]

[2020-11-06 08:49] #301 closed

[2020-11-10 05:15] Slach commented on #299
@fishdemon any news about this issue? It still reproduce for you?

[2020-11-10 05:25] Slach commented on #281
@ashutoshraina, unfortunately, I can't  reproduce JSON with different order with `meta` and `data` section

@genzgd could you help us trigger this behavior with trickster?

[2020-11-10 13:55] vbichov commented on #292
@Slach  doesn't work:
the generated sql for $timeFilter with min step of 60s is:
(intDiv(toFloat32(timestamp) * 1000, 60) * 60) as t

while it should be:
(intDiv(toFloat32(timestamp) * 1000, 600) * 600) as t

[2020-11-10 15:37] Slach commented on #292
@vbichov which DateTime64 type do you use? `DateTime64(3)` or `DateTime64(6)` ?

[2020-11-10 15:38] genzgd commented on #281
I'll try to take a look, but the fragile ClickHouse "time series" parsing in the current version of Trickster is currently broken (by the addition of an extra set of parentheses around the $timeFilter expression), and I've not had time to fix it.  What query does that dashboard use?

[2020-11-10 15:40] mikhno-s commented on #292
@Slach DateTime64(3)

[2020-11-10 18:24] ryn9 commented on #212
Has the team submitted for a Community signature per the instructions noted below? [https://grafana.com/docs/grafana/latest/developers/plugins/sign-a-plugin/#sign-a-public-plugin](url)

[2020-11-11 09:26] #292 closed

[2020-11-11 09:28] Slach commented on #292
@mikhno-s , @vbichov could you try latest `master` again?

[2020-11-11 11:06] Slach commented on #212
@ryn9 thanks a lot for link, I will make request and prepare signin process related files

[2020-11-11 11:31] ryn9 commented on #212
Many thanks. Looking forward to getting this signed :)

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Eugene Klimov <notifications@github.com>
Sent: Wednesday, November 11, 2020 5:06:31 AM
To: Vertamedia/clickhouse-grafana <clickhouse-grafana@noreply.github.com>
Cc: Ryan Paras <ryan@worldtechit.com>; Mention <mention@noreply.github.com>
Subject: Re: [Vertame

[2020-11-11 12:21] vbichov commented on #292
Works for me - thanks.

[2020-11-11 20:44] mohnishkodnani opened #303 "[Feature Request] Annotation Region Support"
I wanted to add a feature request to add support for annotation regions from clickhouse plugin.
More details are here
[Annotation Regions](https://github.com/grafana/grafana/issues/10589)
It would be great to see deployment job start and end as a region along with the metrics rather than individual events.

[2020-11-13 00:03] DefauIt opened #304 "Incorrect time range when choose "last 1hour" in grafana"
Incorrect time range

Local browser TIMEZONE is GMT+3 (2020-11-13 02:45:41)

When time range picked from calendar in grafana using "from day to day", pickups correct date/timestamp

Grafana v7.1.3 (5723d951af)

![screenshot](https://user-images.githubusercontent.com/923816/99010889-ed64f400-255b-11eb-9195-df4c66238b5b.png)

[code]

[code]

[2020-11-13 18:01] Slach commented on #189
@kotchuprik please subscribe to https://github.com/ClickHouse/ClickHouse/pull/7426

[2020-11-18 02:57] shizhenchina opened #305 "alert :the query was executed at an incorrect time"
` WHERE $timeFilter AND $to -$from<3601`
This is my query.When I use Alert, I test that the values from and to are correct.But the rawQuery value is problematic.

logs[0].data :
`from:1605667726607`
`to:1605667846607`
`WHERE  timestamp >= toDateTime(1605667340) AND 1605667640 -1605667340<3601`
You can see that the values from and to are not used. I think the value of from and to is correct.But raw

[2020-11-18 06:46] shizhenchina commented on #305
I activated the alarm again, I find that the execution time is the previous time.the time is
`WHERE timestamp >= toDateTime(1605168658) AND 1605168958 -1605168658<3601`,this date is '2020-11-12',but today is '2020-11-18'

[2020-11-19 04:32] oplehto commented on #283
I'm facing the same issue. I'm trying something like:
[code]
I get just the single data point without any padding which causes Grafana to render just a single wide bar across the whole panel:
[code]

On the other hand InfluxDB I can formulate a query as simply as:
[code]
And I get a padded with nulls based on the interval settings:
[code]
Grafana seems to expect padded results like this in most ty

[2020-11-20 12:38] lmangani opened #306 "Grafana Alerts return: `rpc error: code = Unknown desc = invalid status code`"
Hello Team,

Thank you so much the continued work on this amazing, vital plugin for Grafana.

While trying the Alerting support on Grafana v7.3.3 (2489dc4d3a) I'm always receiving the following error.
Mind the timeseries are correctly returned and displayed. Any suggestion?

clickhouse-grafana query:
[code]

clickhouse-grafana error:
[code]

[2020-11-22 16:27] lmangani commented on #306
Note: I realize the errors is actually from Grafana, I am just wondering if anyone has encountered a similar scenario - thanks!

[2020-11-22 16:32] lmangani commented on #306
I suspect this might be related:
[code]

[2020-11-22 16:48] Slach commented on #306
Hello @lmangani sorry for late response, could you share your grafana dashboard to help me reproduce
i will try fix it later
also we plan to switch no new Grafana golang sdk, but no have time yet

[2020-11-22 18:01] lmangani commented on #306
Thanks @Slach - what can i provide to troubleshoot best?

[2020-11-22 19:04] lmangani commented on #306
btw @Slach we have golang devs in our team working on cloki-go, if you want we we can help or team up - ping @adubovikov

[2020-11-23 08:27] negbie commented on #305
Just use something like this and you should be good to go
WHERE timestamp >= NOW() - INTERVAL ($to-$from)
Save the dashboard with your desired timeinterval.

[2020-11-23 08:32] negbie commented on #305
Just make sure that the alert uses the new condition. Sometimes you need to hit the refresh button otherwise it won't be updated.

[2020-11-23 09:22] lmangani commented on #306
Just to be sure, I've tried with multiple types of clickhouse queries without macros or variables but the failure is exactly the same - Grafana logs are completely useless and really point nowhere. Is there an example for a working alert around?

[2020-11-23 11:35] Slach commented on #305
@negbie thanks a lot for the workaround
@shizhenchina could you confirm this solution is working for you?

[2020-11-24 07:10] shizhenchina commented on #305
@negbie @Slach thank you, I'm going to test this method, and I'm going to synchronize the results

[2020-11-24 10:05] shizhenchina commented on #305
@Slach It is ok to use this method.But there must be some limitations.

[2020-11-24 10:16] shizhenchina commented on #305
![image](https://user-images.githubusercontent.com/34642989/100079908-3122fc00-2e80-11eb-8c87-b0765e12323f.png)
![image](https://user-images.githubusercontent.com/34642989/100080018-4e57ca80-2e80-11eb-93a9-942360960c09.png)
![image](https://user-images.githubusercontent.com/34642989/100080548-ec4b9500-2e80-11eb-98a6-a97db021337a.png)
This is a specific situation, if you can fix it, it should be be

[2020-11-24 10:29] #212 closed

[2020-11-24 10:40] Slach commented on #281
@genzgd sorry for the late response, this dashboard uses a simple query with two time-series

[code]
and i can't reproduce trickster behavior when "a" and "b" switched values in JSON cached response from trickster

steps to reproduce
[code]

[2020-11-24 11:11] Slach commented on #306
@lmangani I can't reproduce your issue with grafana 7.3
![image](https://user-images.githubusercontent.com/105560/100086221-f06eb700-2e6e-11eb-886b-17792ea4e65e.png)
![image](https://user-images.githubusercontent.com/105560/100086687-928e9f00-2e6f-11eb-8c0a-b31011e63aaa.png)
![image](https://user-images.githubusercontent.com/105560/100086795-b5b94e80-2e6f-11eb-8cab-5c06aab6a8d9.png)

steps to repr

[2020-11-24 11:21] Slach commented on #305
@shizhenchina

maybe alert features in grafana is not enough flexible for your use case
maybe https://github.com/balerter/balerter will enough for your requirements for flexibility?

[2020-11-24 11:24] lmangani commented on #306
Thank you so much @Slach for giving this a try and sorry for the complexity here.

I'm using a simple count, but also tried $columns w/o differences.

![image](https://user-images.githubusercontent.com/1423657/100087390-eb9a0b00-2e4e-11eb-9b92-1b35833ab3ad.png)

and pretty much the identical alert setup

![image](https://user-images.githubusercontent.com/1423657/100087410-f48adc80-2e4e-11eb-88ab-a

[2020-11-24 11:25] Slach commented on #305
also, @shizhenchina look like this issue related to https://github.com/Vertamedia/clickhouse-grafana/issues/237, so I close issue, cause currently, I don't see good solution

[2020-11-24 11:25] #305 closed

[2020-11-24 11:28] Slach commented on #304
@DefauIt could you answer, which time zone you have on your clickhouse server?
also, please disable the `Extrapolate` checkbox in your query editor to skip default extrapolation behavior, maybe it will solve your issue, cause plugin always pass time range as unix timestamp uint32 value

[2020-11-24 12:49] Slach commented on #306
on my side, I got correct answer when "test alert",
ok 500 status code means clickhouse server can't process query from golang backend plugin as I think
could you check connection between your grafana server and your clickhouse server?
also, which settings do you use in grafana clickhouse datasource to authorization?
[code]

[2020-11-24 14:16] Slach commented on #306
@lmangani also could you check tablbe `system.query_log` or `/var/log/clickhouse-server.log` on your clickhouse installation and check queries which come from grafana server?

[2020-11-24 14:37] lmangani commented on #306
Good point and.. indeed! I completely missed this in the gazillion loglines. This seems to only affect the Alert, while normal queries are also authenticated and doing fine. I only use basic auth w/ username:password and no headers.
[code]

[2020-11-24 17:39] Slach commented on #306
Please change basic auth type to Yandex.Cloud authorization
closed cause duplicate https://github.com/Vertamedia/clickhouse-grafana/issues/267

[2020-11-24 17:39] #306 closed

[2020-11-24 18:59] lmangani commented on #306
Super super super thanks @Slach and sorry if it was a duplicate! Header authentication is not working for me (2.8.3.18)
I can't find a setting to convince clickhouse to accept those headers, do you perhaps know which server setting this referts to?

[2020-11-24 19:36] lmangani commented on #306
After a little back and forth with Grafana failing auth, it works! Thank you so much and again apologies for the duplicate

[2020-11-24 21:14] levonet commented on #212
@Slach When to expect a new version?

[2020-11-25 04:40] ashutoshraina commented on #281
I tried to repro this as well using the steps mentioned. I wasn't able to do that.
I always saw the `X-Trickster-Result: engine=HTTPProxy; status=proxy-only `. Perhaps, my query isn't correct.

[code]

[code]

I think there might be another way of trying to repro this.
The difference between the meta and data keys is the sort order of keys in the data section.
Is there a way in the plugin to mock

[2020-11-25 09:54] Slach commented on #212
@levonet couple of weeks
i need resolve another issues and implements some new functions

[2020-11-25 14:29] #281 closed

[2020-11-25 14:29] #303 closed

[2020-11-25 14:30] Slach commented on #303
@mohnishkodnani could you check latest `master` version? feel free reopen issue if you find any bugs

[2020-11-25 14:34] Slach commented on #281
@genzgd @ashutoshraina maybe I catch it for the "Table" format of the query
please look to https://github.com/Vertamedia/clickhouse-grafana/pull/308/files#diff-c1f7653433bd942fb1367cfad8e55de756b7e32462eab1048cdb760f6856cbccR35-R36

could you check the latest `master` version in your environment and confirm the issue doesn't reproduce anymore?

[2020-11-25 14:35] #299 closed

[2020-11-25 14:37] Slach commented on #299
@fishdemon feel free to make a comment if you have any news
if this issue still reproduce for you, I will reopen issue

[2020-11-25 14:59] Slach commented on #297
@msvihra sorry, we can't override grafana default timeout, cause plugin make http request not directly and use grafana backendSrv interface for it

i spent some time to try to figure out how timeout setup in grafana sources, but without success

so, if you use JOINS and GROUP BY
maybe you query can be improved via dictionaries and dictGet* functions?

[2020-11-30 09:13] DefauIt commented on #304
Disabling the `Extrapolate` checkbox in query editor didn't solved.

clickhouse-server timezone:
[code]

[2020-11-30 09:40] Slach commented on #304
@DefauIt I can't reproduce this behavior on my local environment
let's try to describe steps to reproduce?
could you share CREATE TABLE statement for your table and smile dashboard JSON from your environment?

[2020-11-30 10:06] DefauIt commented on #304
with interpolation disabled, the query works correctly, thanks.

[2020-11-30 10:06] #304 closed

[2020-11-30 15:16] #294 closed

[2020-11-30 22:25] ashutoshraina commented on #281
I can confirm now that the table headers are rendered in the right order. Thanks a lot @Slach and @genzgd .

[2020-12-02 10:57] Slach commented on #283
@oplehto you could you try to use, and report if it enough for you?
[code]

[2020-12-07 15:31] glebsam commented on #267
So, my story is:

1. Setup Basic Auth in ClickHouse datasource
2. Build a dashboard, see graphs
3. Create alert, click "Test rule" button, get `Error: tsdb.HandleRequest() error rpc error: code = Unknown desc = invalid status code. status: 401 Unauthorized`
4. Enable "Yandex.Cloud authorization headers" in datasource settings, fill with basic auth credentials
5. Click "Test rule" button, test is o

[2020-12-07 15:40] Slach commented on #267
@glebsam thanks a lot for workaround ;)

[2020-12-09 08:54] xieziqiang commented on #299
@shizhenchina I have the same problem. Can you tell me how to solve it ? thanks

[2020-12-09 08:55] xieziqiang commented on #299
@fishdemon  @shizhenchina I have the same problem. Can you tell me how to solve it ? thanks

[2020-12-09 12:06] msvihra commented on #297
@Slach Thanks for reply and follow up.
In this case we should come with another solution

THanks you very much

[2020-12-09 12:06] #297 closed

[2020-12-22 03:44] yangliuyu opened #312 "Enable gzip for json response from clickhouse db."
When I launch a big query, which get 70MB data from clickhouse db, the http response body do not encoding content with gzip i.e. missing `Content-Encoding: gzip`, even though I enabled the `enable_gzip = true` in /etc/grafana/grafana.ini
<img width="1453" alt="reqres" src="https://user-images.githubusercontent.com/1361821/102846210-5b011b80-444a-11eb-8a90-fa827eb52f3d.png"> Is plugin or grafana it

[2020-12-22 04:42] Slach commented on #312
@yangliuyu thanks a lot for the good feature request,

currently, the plugin doesn't pass a query parameter `enable_http_compression=1`
https://clickhouse.tech/docs/en/interfaces/http/

you could enable HTTP Compression on ClickHouse Server as a workaround
https://clickhouse.tech/docs/en/operations/settings/settings/#settings-enable_http_compression
you can create `/etc/clickhouse-server/users.d/h

[2020-12-22 05:34] yangliuyu commented on #312
@Slach it works now and I got `content-encoding: br` . The response is quite faster now. Thanks a lot:)

[2020-12-22 05:58] #312 closed

[2020-12-28 15:27] BigFatDog opened #313 "[Feature Request] select DateTime64 as $timeSeries"
when creating a dashboard, adding a `Column: DateTime64` option would enable visualizations in milliseconds.

[Clickhouse Link](https://clickhouse.tech/docs/en/sql-reference/data-types/datetime64/)

Please see attached screenshot.
<img width="278" alt="截屏2020-12-28 上午10 24 19" src="https://user-images.githubusercontent.com/5818886/103225105-364bee80-48f7-11eb-8630-8e091326fb7b.png">

[2020-12-28 15:51] Slach commented on #313
@BigFatDog latest version of plugin already supports DateTime64
please look to https://github.com/Vertamedia/clickhouse-grafana/issues/292
and subscribe https://github.com/grafana/grafana-plugin-repository/pull/803

[2020-12-28 15:51] #313 closed

[2020-12-28 15:52] BigFatDog commented on #313
Thank you !

[2021-01-03 15:31] asafcombo opened #315 "How to Log view with ClickHouse datasource plugin"
Hi, I was wondering if I could use this plugin with grafana to enable a log view on a specific table.

I want something similar to the kibana experience. Is that possible ?

[2021-01-03 16:00] Slach commented on #315
@asafcombo what exactly do you mean?
you can use template variables as search string
https://grafana.com/docs/grafana/latest/variables/
and table plugin for visualization
https://grafana.com/docs/grafana/latest/panels/visualizations/table/

and use SQL queries with ```field LIKE '%${template_variable_name}%'```

and for speedup on clickhouse side you can try to data skip indexes with type `ngrambf

[2021-01-03 17:51] asafcombo commented on #315
Thanks, Not a grafana expert.  Your suggestions did help me achieve some of what I had in mind.

Still have some missing features, but I guess I just need to look how to do it.

Initially I tried to achieve that with the explorer panel :/

[2021-01-03 18:28] #315 closed

[2021-01-07 14:21] asafcombo opened #316 "enable table filtering for adhoc varaible"
For large databases it would be beneficial to limit somehow the user's ability to filter adhoc returned fields. ( I know that it can be further scoped down with the text input box ).

Unless there is an easier method, I was looking at:
https://github.com/Vertamedia/clickhouse-grafana/blob/79577010137b8401a263af3927546c21e9b22ef2/src/adhoc.ts#L1

which could be replaced to:

`const queryFilter = "d

[2021-01-10 12:47] Slach opened #317 "Multiple series when wrong GROUP BY"
![image](https://user-images.githubusercontent.com/105560/104123248-d419d180-536b-11eb-9f8c-21e9ed7e7e5c.png)

[2021-01-11 20:00] mzealey opened #318 "When get DateTime from server as "YYYY-MM-DD HH:MM:SS" format, grafana interpret it as time with client timezone"
I'm using `$from` and `$to` everywhere in my SQL queries like `WHERE time BETWEEN toDateTime($from) AND toDateTime($to)`. Being based in UK everything is displaying correctly. However if I go into chrome dev tools and change the timezone to say US/Pacific I get an 8h truncate at the beginning of the graph (the `$from/$to` values embedded in the SQL itself change).

If I'm changing the timezone via

[2021-01-12 07:45] Slach commented on #318
I think it's an expected behavior

which time range did you use? "Last XXX hours/minutes"?
![image](https://user-images.githubusercontent.com/105560/104269592-79da5700-54b8-11eb-9ec3-e18d1fb205c9.png)

`$from` and `$to`
are macros from a clickhouse plugin, which values are always the unix timestamp and always converted from the currently selected time range in the grafana interface

please look at

[2021-01-12 16:45] mzealey commented on #318
OK so digging further the issue I raised is a bit misleading. The time ranges are passed correctly.

My SQL queries are written like:

[code]

which works fine in UTC timezone but I think the auto-conversion of those values into JS in the browser is doing the timezone calculations incorrectly.

If I change this to:

[code]

then it works as expected.

So it seems that somehow doing DateTime -> JS

[2021-01-13 05:00] Slach commented on #318
i think when you use `toStartOfInterval(time, interval $interval second) AS t`
you pass t as DateTime over JSON format without pass server timezone value, so on JS side we interpets it with browser time zone

[2021-01-13 09:14] mzealey commented on #318
Yes we get `"2021-01-13 08:39:35"` as the timestamp value. I'm not sure why you should interpret it as browser timezone though, surely it would make more sense to interpret as UTC unless the timezone is explicitly stated? If not then I think it is important to document this bug/feature in the readme

[2021-01-13 09:33] Slach commented on #318
I mean clickhouse doesn't pass "server time zone" over http protocol when apply FORMAT JSON for DateTime type
and grafana as HTTP clickhouse client can only format this string as JavaScript Date with browser time zone, I will investigate where conversion is happens

usually, clickhouse grafana plugin always pass time as UInt32 * 1000 inside macros

[2021-01-15 16:11] ADovgalyuk opened #319 "Union ALL + WITH: Syntax error (1.9.5 -> 2.2.0)"
Hi Team,
I was trying to migrate from 1.9.5 plugin version to fresh 2.2.0 and faced the issue with the final request syntax.
Original user request from grafana (last version 7.3.6):
[code]
On version 1.9.5 final request to CH works without any errors:
``
"api/datasources/proxy/2/?query=SELECT t, arrayMap(a -> (a.1, a.2/runningDifference( t/1000 )), groupArr) FROM (SELECT t, groupArray((key, value)

[2021-01-15 16:24] Slach commented on #319
yep look like it's a bug
thanks a lot for reporting?
could you share SHOW CREATE TABLE for dictionary.MAP_ErrorCodes and $table?

[2021-01-18 08:33] ADovgalyuk commented on #319
[code]
And $table is the following:
[code]

[2021-01-27 16:42] alteeho opened #320 "variable search"
Hi.
Using grafana-clickhouse variable query, Search does not work.
![image](https://user-images.githubusercontent.com/78098435/106023025-77424900-60d7-11eb-956b-5c1df02e778d.png)

[2021-02-20 05:25] KryptosKid opened #326 "Unable to plot grouped values when using ARRAY JOIN"
It appears that the plugin does not properly group results when using `ARRAY JOIN` with `GROUP BY` in a query.

Using the following query from grafana, I would expect the graph to plot the separate (key, value) pairs by time:

[code]

Instead, the graph does not plot them appropriately:

![image](https://user-images.githubusercontent.com/21028558/108584358-a468cc80-730e-11eb-9f3b-08d22c9e3a84.png)

[2021-02-20 10:10] peterpoetzi commented on #326
I have the same problem and solved it by using a VIEW on the server, which returns an identical result set. The problem appears to be the JOIN keyword, when it is present in the query, the function is disabled.

[2021-02-22 11:21] xieziqiang commented on #305
@shizhenchina Hello, I have the same problem.What's the reason? And what do you mean by some limitations?

[2021-02-23 09:33] azsane opened #327 "RawQuery cause time condition using from / to useless"
When using alert with clickhouse-grafana , time was immutable when using from / to  as #305 metioned

After digging into source code for both grafana & clickhouse-grafana
I found it was a problem with rawQuery

Everytime you edit the panel query then save, a rawQuery field in panel.targets **and also in alertRuleTags.query** was generated
rawQuery was transformed in sql_query.ts, the logic replace

[2021-02-23 15:14] Slach commented on #327
@azsane thanks a lot for the suggestions it really helpful

[2021-02-24 20:38] it1804 opened #328 "Grafana 7.4.2 Variables query using clickhouse groupArray() dosn't working"
Duplicate issue from https://github.com/grafana/grafana/issues/31445
In grafana variables 7.4.x, an error occurs when using the groupArray () function in a request.
In versions 7.3.x everything works fine.

[2021-03-18 16:17] ADovgalyuk commented on #319
Hi Guys,
Kindly reminder, any news?

[2021-03-18 16:22] Slach commented on #319
sorry, no news right now, i will try fix it this week

[2021-03-22 15:32] Slach commented on #319
@ADovgalyuk I found a root reason and it will fix in the next release
for a quick workaround for your query

just replace
```with (select groupArray(toInt64(Status)) from dictionary.scl_mt_cdr_error_state) as errorStateArr```
to
```with (select groupArray(toInt64(Status)) AS g_array from dictionary.scl_mt_cdr_error_state) as errorStateArr```
to avoid skip query UNION ALL

[2021-03-22 16:01] #319 closed

[2021-03-22 16:02] Slach commented on #319
@ADovgalyuk could you check latest `master` version of plugin?

[2021-03-23 09:19] #258 closed

[2021-03-23 10:00] Slach commented on #328
on latest master `groupArray` doesn't pass validation on the grafana side with "invalid data format" message, so, look like grafana team allow only scalar types in variables now
![image](https://user-images.githubusercontent.com/105560/112128695-7e259d80-8be8-11eb-8498-5c67ced37da1.png)

[2021-03-25 14:26] asafcombo opened #330 "Allow setup adhoc queries in ConnectionSettings"
There are 2 performance issues with how adhoc query gets the values.

https://github.com/Vertamedia/clickhouse-grafana/blob/d92ff14d529f5e02e835860adf4fa4d58192ed4b/src/adhoc.ts#L3

[code]

## issue 1
Happens when cardinality of values is lower than 300. In this case, the engine will scan the entire table to try and get to 300 values.

I suggest modify to

[code]

The query above limits the total

[2021-03-25 15:39] Slach commented on #330
@asafcombo thanks a lot for the suggestions, look like to resolve `issue2`, we should allow configuring `valuesQuery`, cause `timestamp`  field name is very specific, I will think about it, feel free to make pull request

[2021-03-30 12:20] asafcombo commented on #330
if `valuesQuery` could be configured, it could also allow a more fine grained control on the LIMITS, and could also make the  `adhoc_query_filter` obsolete

[2021-03-30 23:51] pixelsquared opened #331 "Support for Logs in Grafana"
Support for the "Logs" feature.

https://grafana.com/docs/grafana/latest/explore/logs-integration/
https://grafana.com/docs/grafana/latest/developers/plugins/build-a-logs-data-source-plugin/

Reason:

I am using ClickHouse as a log storage system and would like to be able to use the logs feature. I have a table with about over 300 columns for normalizing the logs fields, a column for the original

[2021-03-31 07:07] Slach commented on #331
@pixelsquared thanks a lot for suggestions
if you wish to make pull request
please read https://github.com/Vertamedia/clickhouse-grafana/blob/master/CONTRIBUTING.md will good point of start

also look to https://github.com/Vertamedia/clickhouse-grafana/tree/master/src

but after reading your links, it's not clear for me
which "query" will send from Grafana Logs UI? It will SQL query? Or something

[2021-03-31 07:12] pixelsquared commented on #331
@Slach I was thinking the query would just be a "WHERE" clause. Does that make sense or do you think there is a better way?

[2021-03-31 14:46] pixelsquared commented on #331
@Slach From what I have read in the Grafana docs it looks like we would need an option in the data source configuration to choose if it will use the logs explore page or the metrics one.

https://grafana.com/docs/grafana/latest/developers/plugins/add-support-for-explore-queries/#selecting-preferred-visualisation

[2021-03-31 16:31] Slach commented on #331
@pixelsquared looks like a good point to start, could try to make pull request?
for properly building you need to create `.release_env`
[code]

[2021-04-06 03:39] Slach commented on #281
@genzgd sorry for the inconvenience, could you consult me about some `tricksterproxy` internals?
I need to figure out how trickster SQL parser works to detect time range from SQL query for ClickHouse dialect
do you have email/telegram? could you share it to me on bloodjazman@gmail.com or https://t.me/bloodjazman?

[2021-04-06 07:33] #327 closed

[2021-04-06 07:33] #328 closed

[2021-04-06 08:03] bmanth60 commented on #267
This issue should be resolved by https://github.com/Vertamedia/clickhouse-grafana/pull/314

[2021-04-11 14:32] negbie commented on #267
@bmanth60 thank you very much for your great work!

[2021-04-11 14:32] #267 closed

[2021-04-14 11:59] Slach opened #334 "rawQuery passed to backend part with $template_variable"
maybe it happens cause grafana start before clickhouse and can't parse template variable values when clickhouse shutdown

[2021-04-14 12:02] Slach opened #335 "golang part of plugin incorrect handle empty (rows=0) results from Clickhouse"
need to research howto return "NODATA" instead of "ERROR" when we got empty result from ClickHouse

[2021-04-14 12:44] Slach commented on #335
@bmanth60 JFYI

[2021-04-21 09:46] #316 closed

[2021-04-21 09:50] asafcombo opened #336 "ahoc filters inside table view"
I cannot see the below option available,  I assume it is a plugin specific implementation ?

![image](https://user-images.githubusercontent.com/12124039/115533921-e7f49e00-a29f-11eb-8a67-dd53041ed70a.png)

For reference https://github.com/grafana/grafana/issues/25072  talks about  this feature with elasticsearch plugin

[2021-04-21 11:11] Slach commented on #316
@asafcombo sorry for late reply
I just didn't firuge out how achieve your goal and didn't answer

[2021-04-21 11:12] Slach commented on #316
we can reopen the issue if it still actual?
maybe label it's the best solution

[2021-04-22 04:55] oplehto opened #337 "Support for non-negative rates in $perSecondColumns"
It would be very useful to have a non-negative variant of the $perSecondColumns macro to deal with counter rollovers. Feel free to correct me if I'm wrong but right now looks like it is not possible.

It seems that just adding a variant of the macro with a `WHERE max_0_Rate >= 0` predicate would be a simple solution or even for that variant to support custom WHERE predicates to be able to set othe

[2021-04-23 12:04] Slach commented on #334
Unfortunately, grafana generally currently doesn't support template variables for alerting queries.
Also, grafana UI doesn't pass template variables values to a backend, after you change it on frontend UI.

So, the clickhouse grafana plugin can use template variables values, because we have "Generated SQL" which pass to backend "as is"
To ensure template variables values will properly pass to a ba

[2021-04-23 13:00] #334 closed

[2021-04-23 13:00] #335 closed

[2021-04-23 13:10] Slach commented on #283
@oplehto is this issue still actual for you?

[2021-04-23 19:32] bmanth60 commented on #335
@Slach I read the PR, but I don't quite understand the fix, is it that there is a nullable and low cardinality type?

[2021-04-24 03:55] Slach commented on #335
the main goal of fix
for most corner cases shall return multiple data frames instead of just one data.Frame

each `data.Frame` for each exists time series with two fields `(time, value)`
`String` fields and complex type fields used as labels

`Array(Tuple(` which return after apply $macro converts to multiple data.Frames use first field as label, second field as value

also, SQL queries can return

[2021-04-27 04:46] tashburn opened #340 "Time Range less than "6 Hours" results in "No data found in response" in Grafana Panel connected to Clickhouse Timeseries"
I have `clickhouse-server` (latest: version 21.4.5.46) and `grafana` (latest: version 7.5.4) both running in Docker on Windows 10 Pro with the Docker daemon running in the background.

I created a docker network so `grafana` can talk to `clickhouse` --

`docker network create net1`, I launched `clickhouse` with

I lauched `clickhouse` with --

`docker run -d --name clickhouse --network net1 --ulim

[2021-04-27 05:23] Slach commented on #340
thanks a lot for your efforts in making a detailed report

a couple of days ago we prepare version 2.3.1
please subscribe to  https://github.com/grafana/grafana-plugin-repository/pull/928

you can try to unpack zip file from https://github.com/Vertamedia/clickhouse-grafana/releases/tag/v2.3.1
directly into `/var/lib/grafana/plugins/vertamedia-clickhouse-grafana/`

[2021-04-27 05:31] Slach commented on #340
@tashburn after change the time range in UI
could you click on "Generated SQL" in the query editor?
and try to execute this query inside `docker exec $your_clickhouse_docker_id clickhouse-client`

[2021-04-27 05:39] bmanth60 commented on #335
Interesting, thanks!

[2021-04-30 12:56] tmanh17 opened #341 "ClickHouse plugin alert get 401 Unauthorized error"
**What happened**:

ClickHouse Datasource alert is always in pending/alerting status with error ```Error: tsdb.HandleRequest() error rpc error: code = Unknown desc = invalid status code. status: 401 Unauthorized```

**What you expected to happen**:

Just notify an alert when it exists actually

**How to reproduce it (as minimally and precisely as possible)**:

1. Install vertamedia-clickhouse-data

[2021-04-30 13:34] Slach commented on #341
could you share
how exactly do you add clickhouse datasource?
did you use Yandex authorization or basic authorization?

could you run on your grafana server following command
`curl -vvv http://your_clickhouse_server_ip:8123/ping`
and share results ?

[2021-04-30 14:57] tmanh17 commented on #341
I used basic authorization. I suppose that I already connected to CH successfully, since the graph can fetch data from CH
The following image are my configuration.

<img width="450" alt="portfolio_view" src="https://user-images.githubusercontent.com/29015535/116713484-09bbf680-a9ff-11eb-9989-cec22310ff76.png">

curl -vvv http://xxx.xxx.xx:xx/ping
*   Trying x.x.x.x...
* TCP_NODELAY set
* Connected

[2021-04-30 15:18] Slach commented on #341
duplicated https://github.com/Vertamedia/clickhouse-grafana/issues/267
should be fixed on 2.2.3 and 2.3.1

please subscribe to https://github.com/grafana/grafana-plugin-repository/pull/928 and watch when new version of plugin will available

you can also install plugin directly from https://github.com/Vertamedia/clickhouse-grafana/releases/tag/v2.3.1

[code]

[2021-04-30 17:42] tmanh17 opened #342 "Error invalid username or password for user "default" in Alerts"
**What happened**:

Get error ```invalid username or password for user "default";``` although don't use ```default``` user in configuration.

**What you expected to happen**:

It works for all normal users.

**How to reproduce it (as minimally and precisely as possible)**:

1. Install vertamedia-clickhouse-datasource plugin v2.3.1, by following https://github.com/Vertamedia/clickhouse-grafana/issu

[2021-05-03 06:21] Slach commented on #342
thanks a lot for reporting i will try to fix it ASAP

[2021-05-05 01:11] oplehto opened #343 "$timeFilterByColumn not working with DateTime64"
I have a timeseries where I'm using nanosecond-level timestamps and am trying to use it with $timeFilterByColumn to populate a template variable. However just using this fails:
[code]

I'm working around it with this:
[code]

[2021-05-05 03:14] Slach commented on #343
unfortunatelly, macros doesn't have information about filed type
if think we can implements $timeFilter64ByColumn to allow this option

[2021-05-05 03:14] Slach commented on #343
thanks a lot for reporting

[2021-05-05 03:22] oplehto commented on #343
Understood. I agree that having a dedicated macro is probably the most reasonable option.

[2021-05-05 03:42] oplehto opened #344 "Support for subsecond intervals"
It seems that it's not possible to have sub-second precision on graphs. This looks like it's due to a hard limit of 1 second for the `$timeSeries` macro:
https://github.com/Vertamedia/clickhouse-grafana/blob/2f2d2e164848ac0c54d745ab8d7ec301dc2c948a/src/sql_query.ts#L530-L532

A workaround is to use `$__interval_ms` instead of `$interval`. For example:
[code]

Adding  support for `$interval` to be

[2021-05-05 12:18] Slach commented on #344
I think we can apply $__interval_ms

[2021-05-07 15:41] tmanh17 opened #345 "Alert doesn't work correctly"
**What happened**:

Alert doesn't work correctly. It always send No Data alert

**What you expected to happen**:

It notify alert if it happens actually

**How to reproduce it (as minimally and precisely as possible)**:

1. Install vertamedia-clickhouse-datasource plugin v2.3.1
1.1. Download the plugin  https://github.com/Vertamedia/clickhouse-grafana/releases/tag/v2.3.1
1.2. Unzip to /var/lib/gra

[2021-05-07 16:11] Slach commented on #345
Thanks for reporting, could you share alert tab screenshot in your panel or just share full panel JSON?

[2021-05-12 08:53] adivinho opened #346 "Dashboard variables are not converted in Explore queries to values"
If we make a jump to Explore then a query is passed as it is without replacing dashboard variables by values.
![Screenshot_20210512_114218](https://user-images.githubusercontent.com/25184101/117946092-a348a980-b317-11eb-98b0-7d08318541ab.png)

e.g.
It's used variable $service_name and should be replaced by a value 'pxc_node_8.0_18.188.39.11_3'
![Screenshot_20210512_114940](https://user-images.gith

[2021-05-18 10:20] orbwalker opened #347 "Is this the correct way to use it via grafana?"
┌─name──────────┬─type──────────┬
│ FieldUUID     │ UUID          │
│ EventDate     │ Date          │
│ EventDateTime │ DateTime      │
│ Metric        │ String        │
│ LabelNames    │ Array(String) │
│ LabelValues   │ Array(String) │
│ Value         │ Float64       │
└───────────────┴───────────────┴
[code]
**question:** Is this the correct way to use it via grafana?
name{label1=' ', label2='

[2021-05-23 16:42] Slach commented on #347
lets discuss in https://stackoverflow.com/questions/67584369/is-this-the-correct-way-to-use-it-via-grafana/

[2021-05-23 16:42] #347 closed

[2021-06-02 11:21] Slach opened #348 "use secureJSON for X-ClickHouse* headers on frontend and backend part of plugin"
look to https://github.com/grafana/grafana-plugin-repository/pull/928#issuecomment-852943776

[2021-06-08 18:30] carlanton opened #350 "Alerting does not work (related to DateTime64?)"
Hi again,

I was trying to get alerting to work, but the backend kept crashing due to a failed type assertion.

My table looks like this:
[code]

The backend generates the following query:
[code]

This is the response from Clickhouse:
[code]

So for some reason the type for the time field `t` is `Int64`.

However, the ParseValue function [over here](https://github.com/Vertamedia/clickhouse-grafana

[2021-06-09 03:14] #350 closed

[2021-06-16 05:51] Slach commented on #345
@tmanh17 did you try to SAVE whole dashboard after change in "alerts"?

[2021-06-16 13:07] hyberdk opened #352 "[Feature] Support for "Node Graph" panel"
Hi all,

I was wondering if there are support for the new Node Graph panel plugin in the clickhouse datasource?

This is the one that I am talking about:
https://grafana.com/docs/grafana/latest/panels/visualizations/node-graph/

As far as I can see, there needs to be some special data frames returned. If there already are support, then do anyone have a working installation running or can you point

[2021-06-23 02:35] Slach commented on #352
@hyberdk thanks a lot for your reporting
I will try add this functionality to next release

[2021-06-25 07:29] hyberdk commented on #352
@Slach that would be awesome, let me know if you need someone to test or something like that..

Unfortunately the languages you use in this project is not really my flavor, so help coding is not realistic ;-)

[2021-06-26 10:42] silashansen commented on #343
We're using this more generic variant:

[code]

Still a little annoying.

[2021-06-28 09:46] winofi opened #353 "clickhouse-grafana falls back to POST for alert queries"
Database queries for grafana alerts seem to be send using HTTP POST even when usePost is set to false for the datasource. Symptoms are that the plots show data but alerts always fail.

Might be connected to to the hardcoded POST here: https://github.com/Vertamedia/clickhouse-grafana/blob/2f2d2e164848ac0c54d745ab8d7ec301dc2c948a/src/datasource.ts#L201 but I am not familiar with grafana internals.

[2021-06-28 09:46] winofi commented on #345
Are you using GET and your server does not support POST?

[2021-06-28 14:54] piotrp commented on #340
I came here with the same issue, but when I was trying to write a reproduction case I noticed that my `Column:Date` was incorrectly set and used `DateTime` column.

[2021-06-28 16:26] lmangani commented on #352
@Slach are you targetting 8,x or 7.x? Not sure if this is still the case right now, but there were some hardcoded limitations in 7.x preventing normal [datasources from working](https://github.com/grafana/grafana/issues/30630) due to the `preferredVisualisationType`

[2021-06-28 16:57] Slach commented on #353
@winofi do you make SQL queries not directly to clickhouse-server?
Which proxy server do you use?

[2021-06-29 07:14] winofi commented on #353
Sorry forgot to mention: there is an nginx proxy in front of the clickhouse server, which might block POST to enforce readonly access.

[2021-07-01 02:53] SachChen commented on #345
I have met a same problem, from the grafana's log , i found the vertamedia-clickhouse-datasourc plugin has been restarted ,  it seems like that the plugin has dumped when the response of   clickhouse's data is too much，just in version v2.3.1 but not only!

[2021-07-05 13:41] arickbro opened #354 "is there a support for __searchFilter on query variable ?"
Hi

thanks a lot for the this plugin, this really save us a lot of development time.
I've a question,  is this plugin support macro __searchFilter ?
https://grafana.com/docs/grafana/latest/datasources/mysql/#using-__searchfilter-to-filter-results-in-query-variable

loading thousand of options without typeahead really slowdown the dashboard

Regards
Ari

[2021-07-13 07:13] zhanghaicheng1 opened #355 "id：13606 CK UP Time display N/A"
grafana version：8.0.3
clickhouse version：20.8.3.18

![image](https://user-images.githubusercontent.com/46189785/125407796-ce6d7900-e3ec-11eb-9f83-6883acf1f51f.png)

[2021-07-13 07:34] Slach commented on #355
could you change format to "Table"
and change Field -> Unit on right panel

![image](https://user-images.githubusercontent.com/105560/125410706-9e1ae000-e3d6-11eb-8a68-777e9b5820b1.png)

[2021-07-13 07:34] #355 closed

[2021-07-13 19:08] gsingh14 opened #356 "Clickhouse Alert Throwing Error - request handler error: plugin unavailable"
Setup
Grafana : Grafana v8.1.0-pre (unknown-dev)
Clickhouse plugin : 2.3.1

Steps
1. Using Docker to build grafana image
2. In Dockerfile add command to copy vertamedia-clickhouse-datasource folder to var/lib/grafana/plugins
3. Build Docker image
4. Start Docker Container
5. Setup email alert config
6. Create a sample dashboard connecting to clickhouse instance
7. Use the following sample query in

[2021-07-14 03:11] Slach commented on #356
could you open "plugins" in UI and check clickhouse plugin is "signed"?

![image](https://user-images.githubusercontent.com/105560/125554930-6bb6985c-1ef3-4903-ab38-2b4ab11f1ec5.png)
![image](https://user-images.githubusercontent.com/105560/125554965-e641a1ca-ad7a-4220-9cb2-c49d0d0793fa.png)

[2021-07-14 03:20] gsingh14 commented on #356
Hi @Slach . Thanks for your reply. The plugin is signed per the following screenshot

![image](https://user-images.githubusercontent.com/128828/125555688-98f1de24-1748-4f66-a8c9-6b8f29d7cd1d.png)

[2021-07-14 03:41] Slach commented on #356
could you add to your Dockerfile `ENV GF_LOG_LEVEL=debug`
and share logs of your custom grafana container?

[2021-07-14 15:06] sonfire86 opened #357 "Not work Grafana v8.0.6"
Im used time series and graph(old) the error is the same
[code]
Error
![image](https://user-images.githubusercontent.com/26105224/125645760-2caf8cdb-da22-42c2-af06-0b6da3292753.png)

Grafana v8.0.6
Vertamedia v2.3.1

[2021-07-14 15:34] sonfire86 commented on #357
It works
grafana is connected to clickhouse is 100%

[2021-07-14 15:34] sonfire86 commented on #357
with grafana 7.5 everything works

[2021-07-14 16:11] sonfire86 commented on #357
generated sql works in grafane...very strange

[2021-07-14 16:19] Slach commented on #357
could you try to set up the `GF_LOG_LEVEL=debug` environment variable or setup `level=debug` in `[log]` section on grafana.ini file inside the grafana server and share grafana logs?

[2021-07-14 17:09] gsingh14 commented on #356
Following is the debug log when i create an alert and click on Test Rule.

[code]

Note : I have replaced my internal CH instance url with CH_URL here for security purposes.

[2021-07-15 05:19] Slach commented on #356
@gsingh14 thanks a lot for reporting I will try to reproduce, and tix it ASAP

[2021-07-15 05:46] sonfire86 commented on #357
[code]

[2021-07-20 16:47] Slach opened #358 "alert validation failed after change datasource name in dashboard"
Steps to reproduce
- create a datasource
- create a a panel and alert with the datasource
- find a typo in the datasource name, correct the name (dbUrl still the same)
- in the panel, point to correct datasource name, delete the alert associated w/ the datasource
- save the change will give the following pop up:
[code]

[2021-07-26 06:31] praisethejack opened #359 "Is there some compatibility issue between Grafana6.x and Grafana7.x to clickhouse 21.1?"
I have used Grafana6.5.2 and Grafana7.5.10 to query the same data source clickhouse21.1.3.32
In G6, it work well.
However, in G7, it return this
[code]

Beside, I found that if there are a column name `value` in the table, G7 will return error like this
[code]

Is there some compatibility issue between Grafana7.x to clickhouse 21.1?

[2021-07-26 07:43] Slach commented on #359
do you install the same version of clickhouse-grafana plugin?
look to "Plugins" and check version
![image](https://user-images.githubusercontent.com/105560/126951588-0fedb4f3-4e47-4996-a501-41b11b9a3c6a.png)
![image](https://user-images.githubusercontent.com/105560/126951675-810d3271-167e-4394-85a9-1f404c257d3b.png)

after it look to "generated SQL" on grafana SQL
and try find the differences betw

[2021-07-26 08:48] praisethejack commented on #359
@Slach Sure both are 2.3.1. I follow https://grafana.com/grafana/plugins/vertamedia-clickhouse-datasource/?tab=installation

[2021-07-26 09:00] praisethejack commented on #359
I just re-verified it at G7, it work, no error! Maybe I did the wrong operation this morning
Please close this issus.

[2021-07-26 09:04] #359 closed

[2021-07-26 21:05] lmangani commented on #352
Surprisingly, this actually works without any modifications!

Node Graph can be fed using two different table formatted (A,B) queries with the following mandatory fields in each:

- `nodes`
  - id *(distinct, unique)*
  - title
- `edges`
  - id *(ie: concat(source,target))*
  - source
  - target

*Note all the objects in source + target edges must exist as node ids for the panel to work!*

The ful

[2021-07-28 07:29] vbichov opened #360 "cleanup TODO tasks?"
not sure this is the best title for a task but any plans on removing the `if` statements here:

https://github.com/Vertamedia/clickhouse-grafana/blame/master/src/sql_query.ts#L174
https://github.com/Vertamedia/clickhouse-grafana/blame/master/src/sql_query.ts#L487

As far as I understand they are hearing performance when time fields are part of the key and the underlying issue in clickhouse was fix

[2021-07-28 08:32] Slach commented on #360
originally, these changes were not caused by performance, but by incorrect type comparisons
unfortunately, the underlying issue is not backported to 20.3 and  20.8
and available only from 20.10+

did you measure performance impact with GeneratedSQL ? with conversion and without?
Could you share results? It helps to decision remove if or stay until 21.8 will released

[2021-07-29 13:30] vbichov commented on #360
The short answer is I don't really need to measure performance, the logs say that the index is not used (see 6 below) so performance is affected

the long answer:
below is a reproducer on how to get the relevant logs but the bottom line is that clickhouse doesn't use primary key when casting applied to it - and this hurts performance

set up:
1. locally running clickhouse server
```docker run -d -

[2021-08-02 03:40] zjhcqbywd opened #361 "Can't find Raw SQL Editor"
I am in grafana7.5.7。
![image](https://user-images.githubusercontent.com/41995590/127801143-c5ab519d-7057-4061-a002-ee459a85d872.png)
I can't find Raw SQL Editor...
I don't know why

[2021-08-02 09:23] Slach commented on #361
which plugin version do you use?
did you select database and table before click "go to query"?
![image](https://user-images.githubusercontent.com/105560/127837772-4c7f5163-63fe-4a6d-ad06-b70f460d6e5e.png)

[2021-08-05 09:20] IvanTheFirst opened #362 "Grafana 8.0.4 alerts does not correctly work (multiple alerts per graph)"
Hello!
I have grafana 8.0.4 with new alerts and plugin version 2.3.1.
And there are two problems:
1. I can create alert only from dashboard graph. When I try to create alert from "Alerting" menu i get this error -

2. Alert does not contain "labels" and I can't create multiple alerts from one graph like this https://github.com/grafana/grafana/issues/7832#issuecomment-856725093

3. sometimes doubli

[2021-08-05 09:47] Slach commented on #362
thanks a lot for reporting
unfortunately I don't have resources to fix it asap, so feel free to create PR

[2021-08-05 10:13] IvanTheFirst commented on #362
Eugene, I will try :)

[2021-08-11 03:52] antipooh opened #363 "Generate bad time condition"
grafana 8.0.6, vertamedia-clickhouse-datasource 2.3.1, clickhouse 21.5.5.12
![Selection_002](https://user-images.githubusercontent.com/1614229/128965966-7de61a75-a0db-4824-aa38-610b6aa40df0.png)
generated SQL:
[code]

here toDate(1628648711) and toDate(1628652311) a both convert to 2021-08-11 and conditons `timestamp >= toDate(1628648711)
AND timestamp <= toDate(1628652311)` always FALSE for this

[2021-08-11 07:50] Slach commented on #363
could you select only "dateTime" field in query editor window before press "go to query" button?
![image](https://user-images.githubusercontent.com/105560/128989174-c7ecdccf-4ad7-4599-b47f-5292e5d1d34c.png)
![image](https://user-images.githubusercontent.com/105560/128990532-62181f6b-fe56-4b35-9b20-d20363f20d1d.png)

[2021-08-11 08:40] antipooh commented on #363
I couldn't make it via UI, but change direct in dashboard JSON `"dateColDataType": null`. And now all working good. Thanks! Sorry for the erroneous issue.

[2021-08-11 08:53] Slach commented on #363
hm, just try press `backspace` in `dropdown` it should works

[2021-08-11 08:53] #363 closed

[2021-08-17 12:56] arnitolog opened #364 "question on aggregated and fresh data"
Hello,

I'm wondering what is the proper way to show aggregated and fresh data on the same graph?
For example, we have a table with LoadBalancer's logs. Here we have 5 mins datasets
And we have another Aggregated table with data aggregated to 1-hour datasets.
Is it possible to create a panel that will show 5-min data on intervals from now to now-1d and 1-hour data for any older periods?

[2021-08-17 13:26] Slach commented on #364
yes it possible

![image](https://user-images.githubusercontent.com/105560/129733979-31c79b83-fc3c-4b60-8dea-64371aaa6c65.png)

[2021-08-17 13:26] #364 closed

[2021-09-02 05:52] dsztykman commented on #360
Any update on this ?
We are using timestamp as primary key and because of the cast `toDateTime64` we are not using index and the performance are really bad.
Changing from `toDateTime64` into `DateTime64` would solve this.

[2021-09-05 00:52] dsztykman commented on #330
We could also limit the value to the time interval of the dashboard itself?
Could we leverage variable like $from and $to here?

[2021-09-05 15:32] Slach commented on #330
@dsztykman I think if we use $from and $to we need also know which field is defined as "timestamp" field on specified {database}.{table}, but currently ad-hoc interface doesn't have ability to specified, we can try to parse system.columns before make `valuesQuery`

[2021-09-05 15:33] Slach commented on #330
@dsztykman feel free to make pull request if you figure-out with plugin source

[2021-09-05 16:23] dsztykman commented on #330
I'm going to try replacing with:
```const valuesQuery = "SELECT DISTINCT {field} AS value FROM {database}.{table}  WHERE $timeFilter LIMIT 300";```

[2021-09-09 11:02] iceman2077 opened #366 "Grafana 8.x.x alerts don't works with Provisioned data source"
Hi
I have Grafana 8.1.2 with plugin version 2.3.1.

The problem is that the alerts do not work, but the graphs work if the Provisioned data source is used, which we added to the helm values file of the grafana chart.
<img width="740" alt="image" src="https://user-images.githubusercontent.com/23246914/132674474-82b64878-760e-4613-bc4e-f989d1cae816.png">

At the same time, if you create a datasource

[2021-09-09 11:30] HardRock4Life commented on #295
@Slach
This is what happens when I run this command on a `clickhouse` docker container:
![image](https://user-images.githubusercontent.com/21273349/132677115-42ec06d2-ff7f-4882-9585-4ba7d9fd6f51.png)

However, this is what happens when I try to run the same command on a `grafana` container
![image](https://user-images.githubusercontent.com/21273349/132677953-af78278c-a29e-4f6c-97f5-c61e417b2883.pn

[2021-09-09 11:34] Slach commented on #295
@Hukuta look like on `grafana` container you have alpine based Linux distro

try to run `apk add --no-cache wget` and replace busybox wget version to full wget

[2021-09-09 11:37] HardRock4Life commented on #295
@Slach
![image](https://user-images.githubusercontent.com/21273349/132678945-16a7986b-a236-4de0-98fd-aab698af69bb.png)

Permission denied...

[2021-09-09 11:37] Slach commented on #366
could you share your provisioned clickhouse datasource ini file without credentials?

[2021-09-09 12:40] iceman2077 commented on #366
[code]

[2021-09-09 12:41] iceman2077 commented on #366
[code]

[2021-09-09 16:13] Slach commented on #360
I hope i fix it on next week

[2021-09-10 07:09] Slach commented on #295
@HardRock4Life
let's try to
[code]

[2021-09-10 09:49] HardRock4Life commented on #295
[code]

I did this on a grafana container.

[2021-09-10 10:01] Slach commented on #295
@HardRock4Life clickhouse container and grafana container have different loopback interfaces and `127.0.0.1` it's not the same IP
please use docker-compose or something else and try to link between containers and connect to IP containers

look to https://github.com/Vertamedia/clickhouse-grafana/blob/master/docker-compose.yaml for example

[2021-09-10 16:21] HardRock4Life commented on #295
![image](https://user-images.githubusercontent.com/21273349/132885442-b9e7bd42-3f34-4270-9b9a-3ce000f49d66.png)

I cloned the repository from https://github.com/lmangani/docker-clickhouse-grafana and replaced the ```docker-composer.yaml``` file with the one from the link above. This is the error it outputs now.

[2021-09-10 17:04] Slach commented on #295
@HardRock4Life
look like you don't understand how exactly works docker-compose
sorry, I have no time to explain it deeply

try to
[code]

[2021-09-16 04:50] oliverdding commented on #361
I've encountered this issue too, you can try to switch to time series instead of graph(old), then save the dashboard and reload.

[2021-09-16 04:57] zjhcqbywd commented on #361
Thanks
Now I've choosen grafana8.0.5 to slove this problem.

[2021-09-18 20:03] alexey-milovidov opened #367 "Difficult to use if only Date column is present (and there is no DateTime column)"
Workaround: add `WITH toDateTime($dateCol) AS undefined` to the query.
But that's exceptionally ugly.

[2021-09-19 13:22] Slach commented on #367
Thanks a lot for reporting, will fix on next version

[2021-09-20 11:12] Lucgarg opened #368 "Problem with alert, Error: request handler error"
hello i'm using the version 8.1.4 of grafana, and the 2.3.1 of clickhouse source.

**I'm using the next query**

SELECT COUNT(*) FROM test.test1 Column: datatime64  date

**if i click in get query:**

SELECT
    $timeSeries as t,
    count()
FROM $table

WHERE $timeFilter

GROUP BY t

**The query generated is:**

SELECT
    (intDiv(toFloat64(fecha) * 1000, (15 * 1000)) * (15 * 1000)) as t,
    cou

[2021-09-20 11:55] juliito19 commented on #368
please check your version,Lucas .

[2021-09-20 17:27] Slach commented on #368
[code]
Look like connection refused between grafana-server and plugin

Could you provide debug logs from your grafana server?

for example setup `GF_LOG_LEVEL=debug` on grafana-server
or define

[code]

in your grafana.ini ?

[2021-09-21 10:47] Lucgarg commented on #368
Hello, thanks for the reply. The logs are these, but as you can see they don't say much.

If I see something that catches my attention and it is this line panic: interface conversion: main.Value is int64, not time.Time "

If I do not misunderstand, first it have difficulties to find the plugin (I have looked and it is in the signed state and when I do the connection test it works). Then the error

[2021-09-21 14:58] Slach commented on #368
ok. look like you need to change query
if you just setup
[code]
in query editor
it will return not time-series compatible data
plugin backend expect only time series format with `t` column in resultset which represents as time series

[2021-09-21 15:27] Lucgarg commented on #368
thanks for the reply.

Try to leave alone

SELECT
    $timeSeries as t
FROM $table

GROUP BY t

ORDER BY t

But dont appear data in the dashboard.
But if I see the json i get
response:Object
meta:Array[1]
0:Object
name:"t"
type:"UInt64"
data:Array[108]
0:Object
t:149623200000
1:Object
t:149623500000
2:Object
t:149623800000
3:Object
t:149624100000
4:Object
t:149624400000
5:Object
t:149624700000

I

[2021-10-04 03:46] chendo commented on #360
I've mitigated around the issue by using the following instead of `$timeFilter`:

`timestamp BETWEEN toDateTime64($from, 3) AND toDateTime64($to, 3)`

[2021-10-04 09:24] dsztykman commented on #360
@Slach or @hagen1778 I have a version working locally I just need an  invite to Vertamedia grafana organization to sign it

[2021-10-04 15:20] Slach commented on #360
@dsztykman could you send me email to eklimov@altinity.com with following message
[code]

I will send you GRAFANA_API_KEY
for allow properly sign *.js files

after it, please prepare pull request
your changes will merge and release on next plugin release

[2021-10-06 15:48] Slach commented on #360
@dsztykman any news?

[2021-10-06 16:45] dsztykman commented on #360
@Slach sorry got stuck on urgent things and didn't do it yet, tomorrow for sure my bad

[2021-10-09 08:39] ever4Kenny opened #371 "[Enhancement]Support UInt64 unix timestamp with millisecond as datetime"
![image](https://user-images.githubusercontent.com/13478259/136651067-90cf01d0-fd2c-4b71-88f4-c543205afe20.png)
Currently we only support Datetime\DateTime\Timestmap(Unix timestamp with second) as datetime. However in some case, there are data using unix timestamp with millisecond as datetime(such as logs etc.). Should we support this?

[2021-10-09 17:51] carlanton commented on #368
This sounds a lot like #350! Alerting doesn’t work with DateTime64. It’s fixed in master but not released yet. :)

[2021-10-11 09:44] ever4Kenny commented on #371
I've edited the frontend part(without backend change) and tested it with grafana 8.1.1. It looks good to me and the data could be correctly filtered and displayed . Could you please shed some light on which golang part should be looked into?

[2021-10-11 16:18] PierreNowak opened #372 "[question] not working bar chart panel"
Hello,

Is the plugin compatible with Bar Chart panel ?

I tried to setup a simple bar chart with test_grafana table from here https://github.com/Vertamedia/clickhouse-grafana/blob/master/docker/clickhouse/init_schema.sql#L16

the query is very simple:

[code]

table view works perfectly but bar chart doesn't.
In postgresql it works out of the box so I compared the query inspector to a postgresql

[2021-10-13 08:18] #372 closed

[2021-10-13 13:09] liumengkai opened #373 "Tried a lot, but still can’t run，Need help."
1. system:
os: mac big sur 11.6
grafana version : 8.1.0 or 8.2.1
clickhouse-grafana version:2.3.1

2. install
(1) use 'grafana-cli plugins install vertamedia-clickhouse-datasource' ,
      then restart grafana, can't find clickhouse in datasource
I also find out that he will download it in '/usr/local/var/lib/grafana/plugins/vertamedia-clickhouse-datasource' directory
(2) download the zip package

[2021-10-14 02:46] liumengkai commented on #373
@Slach Hi!
Yes after run the command 'grafana-cli plugins install vertamedia-clickhouse-datasource'

![image](https://user-images.githubusercontent.com/31892927/137239695-9c49ec3a-ffd1-4972-95bd-478ca6ffb0ef.png)

I check it in 'conf/defaults.ini' (didn't find grafnan.ini :-))

`plugins = data/plugins`  I have this directory but It's empty

so I move vertamedia-clickhouse-datasource directory to '

[2021-10-14 06:40] delphid opened #374 "[Enhancement] in SQL query, treat `--` inside quotes not as comment"
## behavior now

`--`within quotes is also treated as comment. This brings unexpected truncation of query.
- This happens when store Pytest case results in Clickhouse and then query. In Pytest, when parametrize cases with sets of values `[('name1', 'id1', 'score1'), ('name2', 'id2', 'score2'), ('name3', '', 'score3')]`, case name will become like `name1-id1-score1`. Say if `id` is omitted for the

[2021-10-14 07:17] #373 closed

[2021-10-14 07:37] delphid commented on #374
Simplified use case: see the `behavior now` part in Pytest related contents.

My real use case looks like this:
[code]
It happens in the `and case in ($case)` part. When `($case)` is something like `('aaa-5-mtdnn_xxx', 'bbb-10-bert_xxx', 'ccc--bert_yyy')`

It's a Pytest feature to create name for parametrized case by connecting parameter values with `-`. When one parameter is omitted, will have `'

[2021-10-20 13:15] ertong opened #376 "Alerts break authentication to Clickhouse"
For some reason, the quering code for graphs and for alerts are different.
It is not a bug itself, but, as a result, it produces a lot of issues.

Sniffed headers from graphs requests:
[code]

Sniffed headers from alerts requests:
[code]

Here, we have clickhouse with default user without password.
Graphs work, alerts - not (http 400 from clickhouse ... I think it relates to empty password)

If we

[2021-10-20 13:23] ertong opened #377 "Alerts does not understand queries with several series"
For some reason, the quering code for graphs and for alerts are different.
It is not a bug itself, but, as a result, it produces a lot of issues.

The most of our queries to clickhouse look like
[code]
Here we request several series in one query.

Alert cannot parse such series and returns error for some reason
[code]

Current workaround: use one-series requests for alerts like
[code]

[2021-10-20 13:29] ertong opened #378 "Alerts use wrong timestamps for queries"
Currenty, it is hard to explain why it is happening, but ...

For graphs, we need to use `ORDER BY t ASC` in queries, otherwise legend shows wrong values (first (or random?) insted on last).

For alerts, we need to use `ORDER BY t DESC` in queries, otherwise, for some reason, alert with `query (A, 1m, now)` queries wrong time range (at least while pressing "Test rule" button)

Current workaround:

[2021-11-02 14:10] jmpdt opened #380 "New [Unified Alerts] API is broken"
For any alert created through the Grafana 8 alerting API, I am getting this error in the Grafana server logs:

[code]

My alert query is `SELECT 1`. I get the same error regardless of which table I choose as the data source. I can trigger this error message by clicking `Reformat Query` or `Run Queries`. In the `Generated SQL` dropdown, all that is displayed is `true`.

Grafana v8.2.2 and ClickHous

[2021-11-10 15:02] Slach commented on #380
Sorry for the late reply
error message looks a little bit strange
`rawQuery` should be string even in last version of clickhouse grafana

if your query just `SELECT 1` it should not work in any grafana version

`clickhouse-grafana`  plugin expect timeseries query which contains first "t" (time) column and second column metric value or array with [category_field_value, metric_field_value]

[2021-11-10 18:15] Slach commented on #376
@ertong thanks a lot for reporting, issue related with wrong Basic Auth fix
https://github.com/Vertamedia/clickhouse-grafana/pull/349#issuecomment-856978186

[2021-11-11 11:29] Slach commented on #378
@ertong Could you provide a bit more context?

Why do you need `ORDER BY t DESC` for alerts?
query(A, 1m, now)
just call A query with $from=now-1m and $to=now

could you share screenshot with your alerts expressions?

[2021-11-11 12:13] Slach commented on #371
@ever4Kenny any news about this enhancement?

[2021-11-11 12:16] Slach commented on #368
@carlanton thanks a lot for your effort
yes, look like we have one more issue for new release

[2021-11-11 12:16] #368 closed

[2021-11-11 12:21] frank-lam opened #381 "the SQL highlighted is not supported for Grafana 7.x"
like this, lack of syntax highlighting affects the experience. Hope to fix this BUG as soon as possible

![](https://clickhouse.com/learn/lessons/covidtutorial-grafana/images/dashboard6.png)

But I did support syntax highlighting when I used Grafana 5.x

[2021-11-11 12:45] Slach commented on #381
old bug which not related with grafana version, duplicate with
https://github.com/Vertamedia/clickhouse-grafana/issues/174

just reload page

[2021-11-11 12:45] #381 closed

[2021-11-11 17:46] ertong commented on #378
Hm ... It looks like I cannot reproduce this issue.
Maybe I misinterpreted some previous setup.
The point was that query time range was somewhat unexpectedly like 22 days ago. And at that time ASC<->DESC helped.

Sorry for disturbance. I think, we can close this issue for now. I'll reopen if I find more evidence.

[2021-11-11 17:46] #378 closed

[2021-11-12 00:50] frank-lam commented on #381
@Slach
reload the page doesn't work either. will this be fixed in the next version?

[2021-11-12 07:36] Slach commented on #381
@frank-lam I can't find root cause,

https://github.com/Vertamedia/clickhouse-grafana/blob/master/src/query_ctrl.ts#L9
should always try to import mode-clickhouse.js as part of dist/module.js after compilation

if you can help, please feel free to make pull request

[2021-11-15 09:08] Slach commented on #357
Hello @sonfire86, sorry for late response did you try 2.3.1 plugin with `grafana 8.2`?

[2021-11-15 09:10] Slach commented on #357
`origin=http://mob-click-dev.taximaxim.local:3000 appUrl=http://localhost:3000/ allowedOrigins=`

look like do you use nginx + grafana instead of pure nginx?

[2021-11-15 09:16] Slach commented on #367
@alexey-milovidov could you provide more context?
What was hard? `UI` and graphs part or alerts part?

[2021-11-15 14:47] #361 closed

[2021-11-15 14:52] Slach commented on #356
Unfortunately, currently it's not easy to provide custom certificate authority in SSL certs inside grafana, both on frontend and on backend side.

[2021-11-16 06:54] zhukaiqiang opened #382 "Can you release a new version"
Can you release a new version

[2021-11-16 07:06] guoqn commented on #374
What can be published for this special character? It seems that the clickHouse plugin has not been published for a long time

[2021-11-16 08:49] Slach commented on #380
@jmpdt could you check your query again and please press to "Generated SQL" in panel
it should contains SQL query

[2021-11-16 08:51] Slach commented on #343
@oplehto could you clarify, how do you select time range in `grafana` with `nanoseconds`?
As I see, currently Grafana itself operates with time ranges in `ms`

[2021-11-16 09:10] oplehto commented on #343
Yeah, Grafana internally uses milliseconds so the timerange selection would be rounded to that granularity. This behavior would be similar to InfluxDB which also has nanosecond timestamps. The motivation is to be able to handle high resolution timestamps with similar semantics as normal DateTime timestamps.

[2021-11-17 10:48] Slach commented on #366
@iceman2077 sorry for late reply
do you have any `networks/host_regexp` or `networks/ip`  for user which you used in provisioned data source in alerts?

could you check
```curl -vvv http://your_user:your_password@clickhouse-host:8123/``` from grafana server?

Look to https://github.com/Altinity/clickhouse-grafana/blob/master/docker/grafana/grafana-clickhouse-datasource.yaml
this provision datasour

[2021-11-17 13:47] Slach commented on #380
@jmpdt thanks a lot for reporting.
I found root reason
this is cause grafana new feature `unified alerting` use `POST /api/v1/eval` directly instead of try to process query via datasource on client-side

I need time to think how to change code editor logic to allow us to change `rawQuery` from `true` to something applicable for query processing.

[2021-11-17 16:49] Slach commented on #343
@silashansen
you also try to use `WHERE $dateTimeCol BETWEEN toDateTime64($__from/1000, 3) AND toDateTime64($__to/1000, 3)` as more precised workaround

[2021-11-18 12:37] proletariandrift opened #383 "Comment characters breaks the query when uses in variables query control"
When trying to insert query with comments into a variable, I get an Empty query error.

[2021-11-18 12:45] Slach commented on #383
could you share your full SQL query?

[2021-11-18 15:02] Slach commented on #383
[code]

quick workaround is use `/* comment */

[2021-11-18 15:42] Slach commented on #377
@ertong sorry for late response,

your query format should be properly processed on golang part

could you provide "generated sql" from graph panel which you pass to golang part of plugin?

[2021-11-18 15:56] ertong commented on #377
Our typical query looks like this

[code]

Generated one is
[code]

[2021-11-18 15:59] Slach commented on #358
The latest `grafana` version handle this error more accurate:
![image](https://user-images.githubusercontent.com/105560/142450757-60f5110c-d855-4b37-b43e-e18314fbfcfe.png)

[2021-11-18 15:59] #358 closed

[2021-11-18 16:04] Slach commented on #362
I found the root reason, but unfortunatelly it's not easy to fix. New grafana unified alerts need to implements full sql parser on golang part
please subsribe here to follow progress
https://github.com/Vertamedia/clickhouse-grafana/issues/380#issuecomment-971598622

@derN3rd you can set up `grafana` alerts in old way
just set the following environment variables
[code]

[2021-11-18 16:04] #362 closed

[2021-11-18 16:14] Slach commented on #348
@daniellee could you suggest, is it possible to use secureJSONData for browser Mode access when grafana pass http request directly to clickhouse server?

[2021-11-18 16:21] Slach commented on #340
@piotrp @tashburn
Look like issue resolved on 2.3.1
you are welcome to make comment here, and I will reopen issue

[2021-11-18 16:34] derN3rd commented on #380
I suggest to maybe have a similar solution as the default (my)sql datasource handles it:
- Having functions/macros (helpers, i.e. for timeframes, grouping etc) that require to put in the columns. SQL example: `$__timeGroupAlias(column,'5m') -> cast(cast(UNIX_TIMESTAMP(column)/(300) as signed)*300 as signed) AS "time"`
- When switching from Query Builder to Edit SQL he will generate the query, but

[2021-11-18 16:36] Slach commented on #330
@dsztykman any progress with this approach?

[2021-11-18 16:40] jmpdt commented on #380
@Slach thanks for looking into this!

[2021-11-18 17:00] Slach commented on #380
@derN3rd
thanks a lot for suggestions,
Unfortunately, we can't apply it, cause `clickhouse-grafana` plugin have different logic than MySQL
we simplify first stage interface
and on first screen we just set up the `table`, `database` and `datatime type` and `datetime` field and `date` field (not required)

And we have many client macros, which we can't be resolved on client side before pass to backe

[2021-11-18 17:02] Slach commented on #346
@adivinho thanks a lot for reporting, really interest issue, I will try to fix it

[2021-11-18 18:39] Peter-Sh commented on #377
May be you should try using `toString(propId)` in second SELECT statement. I have error much like this with alerts (with current master build) and problem was with Decimal type key, not sure about UInt64.

[code]

[2021-11-18 19:12] ertong commented on #377
Hm ... it is not an SQL issue, grafana itself shows graphs successfully.
propId is just a join key, it is not selected to final table.

In final `groupArray((key, val))`, key is a string.

[2021-11-18 19:26] Peter-Sh commented on #377
Ah, sorry, I didn't notice there is T.key field, so this is not the case then.

[2021-11-19 13:56] vasylkolomiets opened #384 "Alerts not working"
Hello.
I have grafana 8.2.2 and clickhouse-grafana plugin 2.3.1
For example on this setup alerting not working
![example1](https://user-images.githubusercontent.com/72972027/142633290-6817ff02-22fe-4e11-9856-a4b5ec8c2358.png)
![example1_logs](https://user-images.githubusercontent.com/72972027/142633329-eefe9f45-9284-490c-b58c-572f269bd1a6.png)

Automatically not working but when i try to test rule

[2021-11-19 15:21] Slach commented on #384
Why you expect alerts should work without `save dashboard` or press `test rule`?
As I see, this is expected behavior for Grafana itself which not depends on `clickhouse-grafana` data source.

There are screenshots with PostgreSQL data source which also not triggered before pressed `Test rule` or `save`
![image](https://user-images.githubusercontent.com/105560/142643104-b9285d26-fd31-4ba6-b5bf-ea92

[2021-11-19 15:46] vasylkolomiets commented on #384
Hi @Slach
For example alerting works for elasticsearch datasource with a similar setting.
I expect that it will work automatically without my intervention if in the last 5 minutes there is at least one entry in the clickhouse.

[2021-11-19 15:56] dsztykman commented on #330
@Slach I actually have some issues testing, which aren't related:
`frontend_builder_1   | ++ wc -l
frontend_builder_1   | ++ ls -la ./node_modules/
frontend_builder_1   | + [[ 3 == 3 ]]
frontend_builder_1   | + npm install --production=false
frontend_builder_1   | npm notice
frontend_builder_1   | npm notice New patch version of npm available! 8.1.0 -> 8.1.4
frontend_builder_1   | npm notice Chang

[2021-11-19 17:06] Slach commented on #330
@dsztykman could you run:
[code]

I added `package-lock.json` on forked repo, and fix this depencency

[2021-11-20 08:54] Slach commented on #384
Maybe I miss something, could you to provide more context?
Did you press `save dashboard` and alert not triggered as you expected even though data is present?

But picture which you provide in https://user-images.githubusercontent.com/72972027/142634001-aec5fbcd-4b0b-4eff-9b17-5f6c03c35c87.png
show alert triggered

[2021-11-20 13:20] vasylkolomiets commented on #384
@Slach this is settings of my alerts https://user-images.githubusercontent.com/72972027/142634001-aec5fbcd-4b0b-4eff-9b17-5f6c03c35c87.png
after all editing and saving my alerts don't work
![exampe3](https://user-images.githubusercontent.com/72972027/142727646-0e9e8409-8ffe-4314-b0c8-4b89bc301da9.png)

In the clickhouse data source, I have a log table and, for example, the logs of one from my serv

[2021-11-21 14:06] Slach commented on #384
@vasylkolomiets i tried to reproduce behavior for your pattern
it works as expected
![image](https://user-images.githubusercontent.com/105560/142764066-0fc46a2e-d774-4166-9a45-d5e1537cafc9.png)

Could you try to try custom compiled plugin?
https://mega.nz/file/rFhiHDCY#uIhuxVx0siVJZXF3hfkHnNArU-xYdsbULn-4WWoY_YI

[2021-11-22 10:59] vasylkolomiets commented on #384
Hi @Slach
I observe the same problematic behavior.
Maybe you can test it with my settings?
My clickhouse table:
CREATE TABLE logs1.test
(
    `timestamp` DateTime,
    `host` String,
    `filename` String,
    `message` String
)
ENGINE = MergeTree
PARTITION BY toYYYYMMDD(timestamp)
ORDER BY (timestamp, host, filename, message)
SETTINGS index_granularity = 8192

My dashbord jsom model:
{
  "annotat

[2021-11-22 13:38] UserMMT commented on #295
I met the same error i think you should just add an / at the end of your URL then if you're using access
    -Server you should try to check if the clickhouse-server is reachable by the server where grafana is install
    -Browser you should try to check if the clickhouse-server is reachable by your browser using the URL you insert
if so everything should be OK

[2021-11-23 13:22] oliverdding opened #385 "[Solution discussion] May "fix" alert related problems"
First of all, thanks for your great work!

## Phenomenon

Recently, I encountered **no_data** status when using **alert**.

However, after some time of debugging, I found no bug in the code, and when locally debuging the plugin with local grafana and local clickhouse, alert worked so good. But when I use the local grafana with remote clickhouse, It alwasy show **no_data**, which is confusing :(

#

[2021-11-23 15:21] oplehto opened #386 "Macro for aggregating per-second rates - need to simplified SQL query which allows get rates with dimensions but show only one time series with sum/avg"
One common pattern in our metrics is that we want to calculate the rate of a large number of counters and then aggregate those series, typically using a sum. A good example of this would be the total transmit bandwidth for all interfaces grouped by datacenter.

There may be hundreds of series here so we really need to push down the query to ClickHouse so doing workarounds with transforms would not

[2021-11-23 15:54] Slach commented on #386
Why `$perSecondColumns` is not applicable for you?

[2021-11-23 16:56] oplehto commented on #386
Can I do this with $perSecondColumns? I may have missed something.

I have a counter that has the identifying columns `datacenter`, `host` and `interface`. So I want to do the following:
1. Rate of each counter (so GROUP BY all 3 columns)
2. Sum of the rates grouped by `datacenter`

The first part I can do with $perSecondColumn but how do I do the second level aggregation?

[2021-11-24 02:00] Slach commented on #386
How many `time series` do you need?
Is only one series per datacenter or one per datacenter plus one per datacenter+interface?

[2021-11-24 22:00] oplehto commented on #386
In this particular case the time series would be per datacenter but I have queries that I'm planning to migrate to ClickHouse where we need the top-level GROUP BY based on multiple columns.

[2021-11-26 15:11] dsztykman commented on #330
Unfortunately what I'm doing doesn't work...
On the principle I wanted to create a new variable similar to: https://github.com/Vertamedia/clickhouse-grafana/blob/d92ff14d529f5e02e835860adf4fa4d58192ed4b/src/datasource.ts#L11

I'm trying to do a variable called `adhoc_value_filter` which the user could override.
And user could provide the value like that:
```SELECT DISTINCT {field} AS value FROM {d

[2021-11-29 15:57] Slach commented on #384
Looks like your query is too complicated to backend time range parser
[code]

I propose to replace
[code]

to
[code]

thereafter, press save dashboard and wait alert trigger state changing

[2021-11-29 15:58] Slach commented on #384
feel free to make comment in issue if still reproduce after changing, I will re-open issue

[2021-11-29 15:58] #384 closed

[2021-11-29 16:16] #174 closed

[2021-11-29 16:16] #343 closed

[2021-11-29 16:16] #353 closed

[2021-11-29 16:16] #374 closed

[2021-11-29 16:16] #376 closed

[2021-11-29 16:16] #380 closed

[2021-11-29 16:16] #337 closed

[2021-11-29 16:16] #356 closed

[2021-11-29 16:24] Slach commented on #377
@ertong sorry for late reply
looks a little bit strange

why your `WHERE $timeFilter` clause
replaced only as `WHERE timeCreate >= toDateTime(1633713342)`
instead of `WHERE timeCreate >= toDateTime(xxx) AND timeCreate <= toDateTime(yyy)`

could you setup
GF_LOG_LEVEL=debug
or change level=debug via config file https://grafana.com/docs/grafana/latest/administration/configuration/#log

And share you

[2021-11-29 16:29] Slach commented on #344
@oplehto you can't select subsecond interval from grafana itself in range queries widget, so i not sure how it can be applicable
![image](https://user-images.githubusercontent.com/105560/143905505-8ff1cd5d-64ad-4e17-a26f-6cb6f227997c.png)

currently we implements `$timeFilter64ByColumn` which will release on 2.4.0

[2021-11-29 16:29] Slach commented on #344
@oplehto could you provide more use-cases for your proposal?

[2021-11-29 17:56] Slach commented on #382
![image](https://user-images.githubusercontent.com/105560/143918858-2a0af8ee-7d27-4602-ad30-d988ced90c31.png)

[2021-11-29 17:57] #382 closed

[2021-12-10 07:57] frank-lam commented on #312
it works for me.

[2021-12-15 09:39] vbichov opened #392 "disable possibility to create alert on panels with templated values"
Currently, it is possible to create legacy alerts with templated variables even though grafana doesn't allow this.

How to reproduce: create a dashboard containing graph panel with templated value I.E:
[code]
go to Alert and create (and save) the alert

notice the alert was created

datasource version: 2.4.0
grafana version: 8.3.1

this functionality is not well documented and might mislead users

[2021-12-15 10:29] Slach commented on #392
Unfortunately, disabling is not easy. Plugin not control "alerts" tab on frontend part
and plugin not control incoming query and not have access to last saved template variables values (this is the root reason why other Grafana's plugins doesn't provide this functionality)

Using template variables on graph panel alerts it's a side effect, vertamedia-clickhouse-datasoource plugin on backend side u

[2021-12-15 13:13] vbichov opened #393 "value formatting in table view should respect database type"
long numeric values that that are saved as strings are displayed as numbers

reproducer:
1. create table ` CREATE  TABLE num_strings (x  String) ENGINE = Memory;`
2. insert some data `insert into num_strings (*)  values ('12345678901234567.1234567890');`
3. open grafna and create a new table panel displaying the data
query:
[code]
4. make sure the default units type is string
<img width="404" alt=

[2021-12-15 13:28] Slach commented on #393
@vbichov could you share Query Inspector results?

[2021-12-15 13:55] mikhno-s commented on #393
@Slach
![image](https://user-images.githubusercontent.com/13031076/146199240-d2c1c55b-4621-412c-94bc-a18ce385ac7b.png)

[2021-12-15 14:40] ahayworth opened #394 "Publish 2.4.0 / 2.4.1 to grafana.com"
Hello -

Thank you so much for this plugin, I love it!

I am experiencing an issue that should be fixed by the latest release (`2.4.0`). Would it be possible to publish that to grafana.com? Since we use Grafana's managed service, it's not possible for me to install the latest release directly - I believe I can only install it from their plugin directory, and the latest release there is `2.3.1`.

I

[2021-12-15 15:11] Slach commented on #394
@ahayworth we already submit 2.4.0 release on grafana com on 29 Nov
but Grafana team not review it now. I don't know why this happens.

[2021-12-15 16:39] mikhno-s commented on #393
Trying this workaround https://github.com/Vertamedia/clickhouse-grafana/pull/395

[2021-12-19 09:51] vbichov commented on #392
my guess is regular users won't dig into the docs that mutch but the docs clearly state that this is expected behavior

https://github.com/Vertamedia/clickhouse-grafana/blob/master/README.md#alerts-support

so I'm closing the issue for now

[2021-12-19 09:51] #392 closed

[2021-12-21 09:27] tdamsma opened #398 "Improvements for $timeSeries template; sub-second data selection for DATETIME64"
The default $timeSeries template rounds data to whole seconds, this seems entirely unnecessary. For a interval width of 50ms, the `$timeSeries` template resolves to:

    (intDiv(toFloat64(time) * 1000, (1 * 1000)) * (1 * 1000))

So instead of using this `$timeSeries` template, I used the following:

    (intDiv(toFloat64(time) * 1000, ${__interval_ms}) * ${__interval_ms})

This is translated to t

[2021-12-21 14:19] #317 closed

[2021-12-21 14:24] Slach commented on #318
Unfortunatelly, we can resolve issue properly,
we can't control from plugin side how ClickHouse FORMAT JSON

[2021-12-21 14:24] #318 closed

[2021-12-21 14:45] Slach commented on #336
@asafcombo sorry for the late reply

latest version Grafana 8.x currently successfull support Column Filter for new Table plugin
and it works fine with vertamedia-clickhouse-datasource

![image](https://user-images.githubusercontent.com/105560/146948786-60a522c0-382e-4feb-b3fc-b39764261ad8.png)

[2021-12-21 15:40] Slach commented on #320
@alteeho sorry for late reply
on latest version of grafana this behavior not reproduce

![image](https://user-images.githubusercontent.com/105560/146956376-1315bf45-33fd-4c1a-9c75-70db4dd90a38.png)
![image](https://user-images.githubusercontent.com/105560/146956484-34827227-41dd-4f57-b4f7-28dcb8440308.png)

Maybe root reason is `MOO` is not like `M0OS`?

[2021-12-22 08:42] Slach commented on #326
@peterpoetzi @KryptosKid sorry for late reply

I would like to recommends
change query to
[code]

[2021-12-22 09:01] #336 closed

[2021-12-22 09:01] #342 closed

[2021-12-22 09:01] #345 closed

[2021-12-22 09:01] #357 closed

[2021-12-22 09:01] #366 closed

[2021-12-22 09:01] #385 closed

[2021-12-22 09:01] #320 closed

[2021-12-22 09:01] #326 closed

[2021-12-23 15:45] ahayworth commented on #394
Oh, I see - I'm surprised they haven't reviewed it by now. I will open a support ticket, since we are a customer ... maybe that will kick things along.

[2021-12-23 16:48] Slach commented on #394
@ahayworth thanks for your help
it will sad if review dealy will relate to new grafana owned plugin https://github.com/grafana/clickhouse-datasource

[2021-12-23 16:48] Slach commented on #394
now i submitted 2.4.1

[2021-12-23 18:03] ahayworth commented on #394
You're welcome. And yeah, I hope that's not the reason either. It's fine to have their own plugin, of course, but not fantastic if they are shutting out a popular one.

Right now I hope it's just "things got lost in the shuffle of holidays + covid + grafanacon". ❤️

[2021-12-28 19:32] derN3rd opened #400 "8.x.x Alerts still broken with 2.4.1"
Hey there,

Big thanks already to your changes to make the 8.x alerts working.
I've tried to build an alert on 8.3.3 with the plugin version 2.4.1 having the following data:

![Screenshot 2021-12-28 at 20 19 12](https://user-images.githubusercontent.com/7534045/147599884-aea23708-0c6b-4d62-86db-c554a100b06e.png)
![Screenshot 2021-12-28 at 20 20 22](https://user-images.githubusercontent.com/7534045

[2021-12-29 11:23] #400 closed

[2021-12-29 11:32] Slach commented on #400
@derN3rd check https://github.com/Vertamedia/clickhouse-grafana/releases/tag/v2.4.2
feel free open separate issues if something not works on unified alerts

[2021-12-29 11:54] derN3rd commented on #400
Perfect, works as expected now. Thanks!

[2021-12-30 09:58] vbichov commented on #393
@Slach  any progress on this ?

any way I or @mikhno-s  can help?

[2021-12-30 10:17] Slach commented on #393
feel free to make pull request
no progress now

[2022-01-04 16:46] #393 closed

[2022-01-07 15:02] toni-moreno opened #403 "Unexpected behaviour with clickhouse datasource (v2.3.1) and single stat panel"
Hello Guys. I'm trying to create a Grafana 7.5.5 Dashboard with single stat panel like in others dashboarsd we have already working fine, but with  unexpected behaviour  with clickhouse datasource.

## Data visualization with flux/influxdb

With other datasources (flux/influxdb) we have created a singlestat that we can feed with a table like that  (from chronograf)
with 2 entries.
![image](https:/

[2022-01-07 15:12] toni-moreno opened #404 "Feature Request: Support for table to dataframe Grafana format to Enable transformations?"
I've found  could be useful to have data tables as dataframes in Grafana.

by example in this case could be fine if we can transform this table.

[code]
in this other ( grafana dataframe ready to handle transformations) .
[code]

[2022-01-07 17:03] Slach commented on #403
Could you try a different approach?
[code]
I mean select `cat` field as string which not contain only numbers

[2022-01-07 18:40] josiahg commented on #394
Hi! Jay from Grafana Labs here - our plugin review queue got a bit long during the holiday season, we are working to catch up as fast as we can.

We will be reviewing this particular plugin submission early next week.

Thank you all for being great members of the Grafana community!

[2022-01-07 22:43] toni-moreno commented on #403
Hello @Slach  I've replaced my original .
[code]
by
[code]
now Grafana is getting strings en cat column

[code]

![image](https://user-images.githubusercontent.com/5883405/148616441-a498a962-13cc-462d-a860-7ef0246fd3d2.png)

[code]
And still not working when only one row.

![image](https://user-images.githubusercontent.com/5883405/148616579-cc8fddf8-7550-4a87-84b8-fa879b0653e5.png)

[2022-01-08 08:13] Slach commented on #403
Could you try to replace your clickhouse query format from `time series` to `table`? (look drop-down menu on bottom)

or try to replace your query and apply $columns macro

[code]

[2022-01-08 08:24] Slach commented on #394
@josiahg great news, thanks a lot for feedback

only one mention, previous review process via github repo was more transparent

[2022-01-10 07:15] toni-moreno commented on #403
Hello again @Slach .
I've tested both solutions

# 1) With timeseries format
 ## Option A
I've tested 2 options, and neither of them are valid because main information "Category" has disappeared
[code]

this table
[code]
will become  in
![image](https://user-images.githubusercontent.com/5883405/148728350-152499fe-356d-4e45-a7d6-d19fd0bfea33.png)

## Option B ( without t)
[code]

this table
[code]

[2022-01-10 08:53] Slach commented on #403
Let's try remove `intDIv` and double group by
something like that

[code]

Did you try to replace your clickhouse query format from time series to table? (look drop-down menu on bottom)

[2022-01-10 13:41] josiahg commented on #394
@Slach thanks for the feedback on the new process, I will share with the team and see what we can do to improve the transparency in the new one.

v2.4.2 of this plugin is now published! :)

[2022-01-10 15:32] toni-moreno commented on #403
Yes @Slach  while this  query.
[code]
I'm getting this table.
[code]
with this result ( Formatted as Table)
![image](https://user-images.githubusercontent.com/5883405/148789358-276b5741-1ae9-451e-8a77-8a06be4fc918.png)

When adding the groupArray  extension
[code]
I got this table

[code]
And This as single stat.

**Configuring Numeric Fields**

![image](https://user-images.githubusercontent.com/5

[2022-01-10 16:00] Slach commented on #403
### I ask third time!!! Did you try to replace your clickhouse query format from `time series` to `table`? (look drop-down menu on bottom)?

![image](https://user-images.githubusercontent.com/105560/148797235-7e0679f4-f94b-436f-a4bd-7614b0e999b2.png)

[2022-01-11 03:16] Slach commented on #403
ok ;) clear, thanks a lot for reporting, i will try to figure wrong behavior ASAP

[2022-01-11 07:36] toni-moreno commented on #403
Thank you very much for your time @Slach .

As I said in my first entry in this issue, we have currently working with single stats panel, and I think all this behaviour could be fixed by only getting data in grafana dataframe format ( needed for Grafana 7.0+ ). Thank you very much again for your work.

[2022-01-11 21:52] ahayworth commented on #394
Thank you all, this is exciting news to come back to! 😄

[2022-01-11 21:52] #394 closed

[2022-01-12 18:19] Fiery-Fenix opened #405 "[Bug] Panic in backend plugin in case of Array(Tuple(Nullable(String), ... )) type"
**Grafana version**: Grafana v8.3.3 (30bb7a93ca)
**ClickHouse Grafana plugin version**: 2.4.0, also reproduceable on 2.4.1 and 2.4.2

Synopsis:
If alerting query from ClickHouse is returning type Array(Tuple(Nullable(String), ...)), backed plugin crashed with a panic.
Log from Grafana:
[code]

Go stack trace:
[code]

Root cause is here: https://github.com/Vertamedia/clickhouse-grafana/blob/master/

[2022-01-13 07:20] Slach commented on #405
@Fiery-Fenix thanks a lot for reporting
could you share a simple SQL query and table structure for reproduce?

[2022-01-13 11:20] Fiery-Fenix commented on #405
Sorry for that, forgot to attach sample query to reproduce:
[code]
Type of returned field is `Array(Tuple(Nullable(String), UInt8))`

[2022-01-20 09:17] zaizhouh opened #406 "rawQuery occasionally do not match query in panel json"
## version
- Grafana version: Grafana v6.7.4 (8e44bbc5f5)
- ClickHouse version: 2.1.0

## problem overview

I have multiple panels in a dashboard that all use clickhouse as datasource, I set up several alerts.  And alerting A(from panel A) is firing panel b's query metrics  (but the graph in the panel is all correct), then I checked the panel JSON, then find Panel A's query A is having the wrong r

[2022-01-20 09:37] Slach commented on #406
After change query in query editor
try to click "Generated SQL" and ensure query is the same
After it, press "Save Dashboard".

Moreover, I would like to recommend try to update to the latest 2.4.1 plugin version.

[2022-01-20 09:53] zaizhouh commented on #406
Thanks for the quick reply.

I don't think the problem occurs when I save panel A and it generates the wrong raw query for me. I think it is more likely that when I work on panel B and make some changes. It changes panel A's rawQuery for me. So it is impossible for me to click every panel in the dashboard and click generate SQL to ensure every rawquery is matched.

But since 2.1.0 is quite an outd

[2022-01-22 11:34] zaizhouh commented on #406
Finally, I found a way to 100% reproduces this issue.
1. have two rows in the dashboard, and each row should contain one or more panels (for simplicity let's say row A has panel A and row B has panel B).
2. expand row B and make some modifications on the query, then go back to dashboard.
3. then by expanding row A,  boom, panel B's rawQuery becomes inconsistent with his original query and becomes

[2022-01-22 16:42] Slach commented on #406
Could you try to reproduce this behavior on grafana 7.x and 8.x?

[2022-01-22 16:42] Slach commented on #406
Thanks a lot for reproducing anyway!

[2022-01-22 19:56] zaizhouh commented on #406
emmmm, interesting.
did a few test, but can not reproduce on grafana current main branch ->8.4  (9fc0aee02b0dcc20996432801ab16a8c8ad3436f) and v7.5.6 branch (5fdad5bfe4fc97978a26b741ad8f067db900b673)

[2022-02-11 09:36] #406 closed

[2022-02-11 10:44] Slach commented on #406
@zaizhouh wow, thanks a lot for solution!

[2022-02-11 17:40] fantik11 commented on #283
I made query to adjust from and to variables to grafana scale. Otherwise series looks spiky
[code]

[2022-02-14 11:09] crabvk opened #407 "Authentication failed"
Grafana 8.3.6
ClickHouse 22.1.3.7
vertamedia-clickhouse-datasource 2.4.2
Grafana and ClickHouse are on the same server.

This works
[code]

But connection from Grafana doesn't work. Using following settings:
[code]

[2022-02-14 11:45] crabvk commented on #407
Temporary fix with nginx reverse proxy:
[code]
Then in Grafana set URL to `http://127.0.0.1:8124`.

[2022-02-14 12:44] Slach commented on #407
Looks strange
could you change you datasource to http://127.0.0.1:8123
and use options looks like that:

![image](https://user-images.githubusercontent.com/105560/153866456-a076b5b9-a1d8-4223-b580-94ce46f2f686.png)

[2022-02-14 12:48] crabvk commented on #407
Thank you, this worked.

[2022-02-23 10:55] Enton-72 opened #409 "$columns + ORDER BY ... WITH FILL ... doesn't work in alerts"
Hello everyone,

I have an issue while trying to create alert rule on Grafana using this plugin. Issue is that different graphs are plotted using same query on "Create alert rule" and "Explore" sections. Because of this i am unable to create multi dimensional rule as described [here](https://grafana.com/docs/grafana/latest/alerting/unified-alerting/alerting-rules/create-grafana-managed-rule/#singl

[2022-02-23 11:11] Slach commented on #409
Could you try to use following query

[code]

[2022-02-23 11:19] Enton-72 commented on #409
Thanks for quick reply.

I am getting an error:
[code]

[2022-02-23 11:23] Slach commented on #409
hm, could you click to "Generated SQL" and share generated query?

[2022-02-23 11:27] Enton-72 commented on #409
When i click on "Generated SQL" it shows me only "true".

<img width="1441" alt="Screenshot 2022-02-23 at 12 25 02" src="https://user-images.githubusercontent.com/64578992/155310697-2fee324f-e100-4339-a475-b9ac1f92f244.png">

[2022-02-23 11:32] Slach commented on #409
Could you check `Generated SQL` it on Graph visualization not on alerts?

[2022-02-23 11:38] Enton-72 commented on #409
Yes.
Output:
[code]

[2022-02-23 11:51] Slach commented on #409
ok.
thanks a lot for reporting, I will try to fix `$columns + WITH FILL STEP` macros usage

you could try to use the following SQL query

[code]

[2022-02-23 12:06] Enton-72 commented on #409
Glad i could help.

I tried the query and it works on Explorer, but on Create alert rule section doesn't work.

Explorer section:

<img width="1848" alt="Screenshot 2022-02-23 at 13 02 59" src="https://user-images.githubusercontent.com/64578992/155316000-82daaed1-caca-4ed2-b559-e107a01a2421.png">

Create alert rule section:

<img width="1854" alt="Screenshot 2022-02-23 at 13 02 32" src="https://us

[2022-02-23 12:31] Slach commented on #409
could you try setup
GF_LOG_LEVEL=debug
or change grafana.ini  log section
https://grafana.com/docs/grafana/latest/administration/configuration/#log

and try to share logs from `systemctl restart grafana-server && journalctl -xue --no-pager -u grafana-server`

[2022-02-23 13:25] Enton-72 commented on #409
Command:

`export GF_LOG_LEVEL=debug && systemctl restart grafana-server && journalctl -xue --no-pager -u grafana-server`

Output:
[code]

[2022-02-23 13:50] Slach commented on #409
hmm, look like only stop was logged

try run
`journalctl -xue --no-pager -u grafana-server`
again?

[2022-02-23 13:59] Enton-72 commented on #409
[server.log](https://github.com/Vertamedia/clickhouse-grafana/files/8124833/server.log)

[2022-02-23 14:35] Slach commented on #409
@Enton-72 looks strange, i don't see any error related to SQL from vertamedia backend part of plugin
plugin succesfully loaded
[code]

After it ngalert found zero alerts rules
[code]

only one stange thing `disabled_orgs="unsupported value type"`
but i'm not sure it related to your shared screentshot

could you try add query to alerts again, see error message in browser
and look to `journalctl -xu

[2022-02-23 15:20] Enton-72 commented on #409
I have added 2 alerts, restarted server and tried to execute queries in Alert section.

<img width="1464" alt="Screenshot 2022-02-23 at 16 12 33" src="https://user-images.githubusercontent.com/64578992/155347747-3cd3f1a0-c532-4e2d-854c-70e568f49c5f.png">

After that i executed command:

`journalctl -xue --no-pager -u grafana-server | grep -i -E "verta|click|alert"`

And output is:
[server.log](htt

[2022-02-23 15:40] Slach commented on #409
@Enton-72 could you try to use following query?
`toString(status_code)` should allow us handle query properly

[code]

[2022-02-23 16:13] Enton-72 commented on #409
Yess, it works now.

<img width="1560" alt="Screenshot 2022-02-23 at 17 04 23" src="https://user-images.githubusercontent.com/64578992/155358377-48b53745-5b70-4b1e-8f16-d20ab98bcf18.png">

One more thing if you can halp me please. On picture you can see status_code tags are duplicated, is there a way to remove duplicates?

[2022-02-24 08:21] Enton-72 commented on #409
I got another issue while trying to create multi dimensional rule.
Error:
`invalid format of evaluation results for the alert definition : frame cannot uniquely be identified by its labels: has duplicate results with labels {}`

<img width="1513" alt="Screenshot 2022-02-24 at 08 58 59" src="https://user-images.githubusercontent.com/64578992/155482613-121d423e-5824-437c-835d-787f86a99fbb.png">
<img

[2022-02-24 08:42] Slach commented on #409
could you try to another type of datasource?
https://grafana.com/grafana/plugins/grafana-clickhouse-datasource/ ?

[2022-02-24 12:29] Enton-72 commented on #409
I tried but i got panic.

Query:
[code]

Debug log:
[code]

Also `grafana-clickhouse-datasource` plugin won't connect to clickhouse proxy, it only works when i connect grafana directly to clickhouse node.

Error while trying to connect to clickhouse proxy:

[code]

After changing a query a few times i ended up with query that can show data as time series.
[code]
<img width="1518" alt="Screenshot 2

[2022-03-03 23:40] kuri-man commented on #409
I'm having the same issue with multidimensional rules. They do work correctly when using a classic condition, but not a math or reduce expression.

[2022-03-04 07:51] Slach commented on #409
@kuri-man could you provide your `query` and `Generated SQL`?

[2022-03-07 14:38] kuri-man commented on #409
Sure. I've got an example below.

Create a timeseries with some category that we want to group on:

[code]

Produce a query:
[code]

Generated SQL:
[code]

I'd like to create an alert for if the total of value over the last 30 minutes is >5 for any one of the series. I did this with a reduce + math expression.
![image](https://user-images.githubusercontent.com/15024704/157054115-35637fd6-3ef3-4f65

[2022-03-14 11:41] ivan-tkatchev opened #411 "Alerts do not work - complaints about "readonly""
Our query:

![image](https://user-images.githubusercontent.com/650601/158164832-a90f5b8e-a22e-40e6-897e-e30557d2d84c.png)

(Graph shows perfectly fine.)

Our alert:

![image](https://user-images.githubusercontent.com/650601/158164943-46b7de0f-33e0-4c35-8eb9-e3a337560b3d.png)

Alerts, however, do not work. Here is the error we see:

![image](https://user-images.githubusercontent.com/650601/15816505

[2022-03-14 12:02] Slach commented on #411
could you run in `clickhouse-client`
`SELECT * FROM system.query_log WHERE query LIKE 'dsp.router%' AND exception_code=164 ORDER BY event_time DESC LIMIT 10 FORMAT Vertical;`
and share query result?

[2022-03-14 18:56] ivan-tkatchev commented on #411
Nothing matches `exception_code=164`. Instead I see this:
[code]

[2022-03-15 06:30] Slach commented on #411
`SELECT count() FROM system.query_log WHERE exception_code=164` ?

[2022-03-15 06:31] Slach commented on #411
`grep "Code: 164" /var/log/clickhouse/clickhouse-server.err.log` ?

[2022-05-02 05:59] Nikolina697 opened #415 "The Adhoc filter does not work when the key name contains a dot"
Here is a query that we use:
![Screenshot at 2022-05-02 07-33-32](https://user-images.githubusercontent.com/61902055/166188929-f319f308-5661-46d7-af7e-af994e1dcee1.png)

Here is a generated sql that correctly applies the adhoc filter if the key name does not contain a dot:
![Screenshot at 2022-05-01 21-19-32](https://user-images.githubusercontent.com/61902055/166189312-2c314253-3a6a-4abd-afe7-b627

[2022-05-02 06:30] #415 closed

[2022-05-03 15:54] sbengo opened #417 "Unable to create multi-dimensional alerts with label dimension > 1"
#### Overview

Grafana 8.5.1
Plugin: 2.4.4 | compiled from master

Grafana allows to create multi-dimensional alert from a single definition.
To achieve that, the user should apply some non-Classical Condition expression after the query.
For our environment, we should create alerts based on the GROUP BY results with a label dimension > 1

As an example I used the following data (based on issue #40

[2022-05-03 16:41] sbengo opened #419 "Legacy binary on dist, docker-compose backend builder and zip release"
It seems that there is some legacy binary referenced on several places:

- The binary on dist folder has a wrong name  https://github.com/Altinity/clickhouse-grafana/blob/master/dist/atinity-clickhouse-plugin_linux_amd64
[code]

- And it is referenced as output binary when building from source using the master docker-compose.yml, which is not loaded by Grafana after a restart due to wrong name

ht

[2022-05-03 16:53] Slach commented on #419
oops ;( it's strange, `altinity-clickhouse-plugin_linux_amd64` is the right name, but really strange miss execute attribute
will check tomorrow

look like we need to make a new release

[2022-05-03 16:57] sbengo commented on #419
@Slach , it doesn't break anything, as the right `altinity-clickhouse-plugin_linux_amd64` exists, it is only there seems to be an old binary on there with wrong name.

Only found problems when tried to compile it using docker-compose as the output had the wrong name

[2022-05-04 13:42] dhruvanand96 opened #420 "Using materialised view with multiple group columns"
Hi All, I am using the below query to generate materialized view for clickhouse but i want the result to be seperate  by both the names can anyone help on this one
[code]

[2022-05-04 14:38] Slach commented on #420
Is your question related to clickhouse-grafana or clickhouse-server? What kind of "both the names" do you mean?
Could you provide more context? What are you trying to do?

[2022-05-04 15:32] Nikolina697 opened #421 "Clickhouse plugin crashes query when using adhoc filters"
I use this query:
[code]
It works fine until I apply an adhoc filter, then it becomes malformed and the plugin that uses that filter crashes.
After I applied adhoc filter query looks like this:
[code]
It seems that after the adhoc filter is applied the query becomes malformed, but also if I press Reformat Query without the applied adhoc filter the query is incorrectly formed.

Two issues:
1. all :

[2022-05-05 04:11] dhruvanand96 commented on #420
i want the results to be grouped by both name_top_apps, name_remote_top_emdpoints separately in single  query

[2022-05-08 20:39] laurent192 opened #422 "Failed to generate correct SQL when using ad-hoc and WITH FILL"
WITH FILL is moved to the first line (in the generated SQL) when an ad-hoc filter is defined.
If the ad-hoc filter is removed, the generated SQL is correct and the query is working.

![image](https://user-images.githubusercontent.com/9072175/167314949-210605dc-5c7c-45b6-bd85-d5c7c5917de9.png)

[2022-05-09 03:12] Slach commented on #422
@laurent192 could you share original query and generated SQL as text?

[2022-05-09 09:09] laurent192 commented on #422
Query:
[code]
Generated SQL without the ad-hoc filter:
[code]

Generated SQL with the ad-hoc filter:
[code]

[2022-05-10 08:50] Slach commented on #422
thanks a lot for reporting

[2022-05-10 09:32] dhruvanand96 commented on #420
opened in wrong froup

[2022-05-10 09:32] #420 closed

[2022-05-16 07:58] vincentff7 opened #424 "HTTP Error Bad Gateway?"
when i use postman, it is ok.
however, in grafana clickhouse datasource, it fails :HTTP Error Bad Gateway?
log shows:
t=2022-05-16T16:19:33+0800 lvl=eror msg="Data proxy error" logger=data-proxy-log userId=1 orgId=1 uname=admin path=/api/datasources/proxy/1/ remote_addr=[::1] referer=http://localhost:3000/datasources/edit/1/ error="http: proxy error: dial tcp 127.0.0.1:8132: connectex: No connecti

[2022-05-16 08:27] Slach commented on #424
which clickhouse host do you use in data source properties?

[2022-05-16 08:30] Slach commented on #424
`remote_addr=[::1]`

are you sure your clickhouse-server setup in the same machine as grafana?
and listen `::1` ipv6 address?

could you replace host in datasource properties to 127.0.0.1 ?

[2022-05-16 09:20] vincentff7 commented on #424
i installed grafana 7.3.2 with two versions: windows installer version and docker version.
with the plugin 2.4.4, and config:
127.0.0.1:8123
server
basic auth  root/root
CORS flags on

**one success and one fail.**

**in windows version**, it sucesses: Data source is working

however **in docker version**, it still shows: HTTP Error Bad Gateway. with log
t=2022-05-16T09:16:49+0000 lvl=eror msg="Da

[2022-05-16 09:46] Slach commented on #424
When you run `grafana` in docker, you should use IP address of `clickhouse-server` docker container instead of 127.0.0.1

Could you share  `docker ps` command result?

or try to use docker-compose,
look
https://github.com/Altinity/clickhouse-grafana/blob/master/docker-compose.yaml
for examples
and you should use "clickhouse" as host

[2022-05-16 10:57] vincentff7 commented on #424
thanks! it works!
i used my PC IP address instead of 127.0.0.1 in grafana datasource in docker. it works!

[2022-05-16 10:57] #424 closed

[2022-05-16 15:53] loyd opened #425 "`$timeFilter` for DateTime64 with precision != 3 works much slower"
The current implementation forces casting to `DateTime64(.., 3)`:
https://github.com/Altinity/clickhouse-grafana/blob/e7d2d2062632cc49c734f25179efe3e680382c29/src/sql_query.ts#L530

It works much slower for other precisions. For instance, we have `DateTime64(.., 9)`:
[code]
`Processed 1.36 million rows`

vs

[code]
`Processed 24.58 thousand rows`

Related to https://github.com/Altinity/clickhouse-

[2022-05-17 01:56] Slach commented on #425
which plugin version do you use?

2.4.0 remove dateTime64 type casting
look https://github.com/Altinity/clickhouse-grafana/pull/370/files
and https://github.com/Altinity/clickhouse-grafana/issues/360

please upgrade plugin and feel free to reopen issue if performance still bad

[2022-05-17 01:56] #425 closed

[2022-05-17 01:59] Slach commented on #425
Issue was related with ClickHouse itself which have bad DateTime64 compare https://github.com/ClickHouse/ClickHouse/issues/16655

[2022-05-26 06:06] #331 closed

[2022-05-26 06:27] Slach opened #426 "INFORMATION_SCHEMA in adhoc filters"
lot of noisy data show in drop-down box

[2022-05-26 09:34] #426 closed

[2022-05-31 09:30] #405 closed

[2022-05-31 12:39] #422 closed

[2022-05-31 17:52] #125 closed

[2022-05-31 21:00] #354 closed

[2022-06-01 04:32] Slach commented on #383
Now, one line comments works as expected in most of the cases

looks to
https://github.com/Altinity/clickhouse-grafana/blob/master/spec/query_specs.jest.ts#L153-L162

[2022-06-01 04:34] Slach opened #428 "2.6.0"

[2022-06-01 05:23] #377 closed

[2022-06-01 05:28] Slach commented on #377
@ertong i tried to reproduce and failed
[code]

works OK with unified and panel alerts

[2022-06-01 05:29] #428 closed

[2022-06-01 11:38] #398 closed

[2022-06-01 11:40] #344 closed

[2022-06-01 14:01] #419 closed

[2022-06-02 05:31] Slach opened #429 "Add streaming capabilty WATCH with LIVE VIEW / WINDOW VIEW"
https://grafana.com/developers/plugin-tools/tutorials/build-a-streaming-data-source-plugin
https://clickhouse.com/docs/en/sql-reference/statements/create/view/#live-view
https://clickhouse.com/docs/en/sql-reference/statements/create/view/#window-view
https://clickhouse.com/docs/en/sql-reference/statements/watch

[2022-06-07 15:00] Slach commented on #411
is issue still relevant for you?

[2022-06-07 15:03] Slach commented on #237
@fr05t1k now 2.5.0 release shall calculate time ranges for alerts properly

[2022-06-07 15:03] #237 closed

[2022-06-07 16:44] kcajf opened #430 "implementation macro $columnsMs"
Currently the `$columns` macro produces `intDiv(toFloat64(timestamp) * 1000, (1 * 1000)) * (1 * 1000)) AS t`. Would it be possible to make it optionally output the equivalent `$timeSeriesMs` query?

[2022-06-20 16:02] Nikolina697 opened #431 "Clickhouse plugin causes the graph panel plugin to drop"
I opened an issue #421, which was supposed to be fixed in version 2.5.0 of the datasource plugin.
I tested in grafana v8.1.8 and it seems that after applying the adhoc filter graph panel it still crash.
I'm using the same query which I put in the first issue. Error that I'm getting in the top left corner of graph panel:

![Screenshot from 2022-06-20 17-55-20](https://user-images.githubusercontent.

[2022-06-21 02:28] Slach commented on #431
Could you share  source SQL query with macros
and
"generated SQL"
after adhoc filter changed?

[2022-06-21 06:44] Nikolina697 commented on #431
Here are SQL query with macros **after adhoc filter** has been applied:
[code]
and Generated SQL **after adhoc filter** has been applied:
[code]
According to the generated SQL I see that after the adhoc filter is applied the SQL query becomes malformed and simply the clickhouse database does not recognize it, that's my view.

[2022-06-21 06:51] Slach commented on #431
look to https://github.com/Altinity/clickhouse-grafana/blob/master/docker/grafana/dashboards/adhoc_variable_text_select_in_issue_421.json#L123

try to use `${split::text}`

[2022-06-21 07:36] Nikolina697 commented on #431
You are right, when I change the query in accordance with the changes from the link it works, thank you.

[2022-06-21 07:36] #431 closed

[2022-06-30 09:10] caibirdme opened #432 "[Feature] Add support for internal link"
Could this plugin support grafana internal link, so that people can jump from the research results directly into other datasource.
For example, If I use clickhouse to store logs, and when I search the logs, I can click the trace_id column, then a trace panel opened and show that trace info.
Now ElasticSearch and Loki support internal link, I hope clickhouse could support this as well

![image](htt

[2022-07-09 00:39] lainiwa opened #434 "Datasource provisioning doesn't preserve password for basic auth"
I'm using this snippet for datasource provisioning:
[code]

Then I go to datasources, open ClickHouse datasource, and press "Save & test".
Getting the following:
[code]

However, the field `Password` under `Basic Auth Details` is empty and not "configured" as it should be.
When I insert `nimda` into that field and test it again, and it works: `Data source is working`.

My grafana version is v9.0.2

[2022-07-18 09:13] oplehto opened #435 "Add identifying metadata on requests to the ClickHouse query log"
It would be very useful to have more information of the Grafana client requests in the ClickHouse query log. This will help pinpoint those panels and users which are hitting ClickHouse backends particularly heavily.

Primarily:
- Grafana user
- Panel or template variable definition which initiated the query
- Grafana query ID

Seems like the `log_comment` column in `system.query_log` could be used

[2022-07-26 09:42] nixikanius opened #437 "Thin bar charts in time series"
We use Grafana to visualize data from the DWH. During the update we noticied that starting from Grafana 8.5.1 our bar charts in time series became thin:

![image](https://user-images.githubusercontent.com/142733/180975021-25a51aeb-fe61-4552-819b-c1b17a387f5e.png)

The panel is pretty ordinary (see [its json](https://gist.github.com/nixikanius/e404df3f92ce408b2a8934998d09a1c1)), and the query is:

[2022-07-26 09:49] Slach commented on #437
Turn off “Extrapolate” radio button for correct last value

[2022-07-26 10:16] nixikanius commented on #437
@Slach that helped, thank you.

It turns out that the problem is only with the visualization of values with raw datetime values.

[2022-08-03 08:16] hlf2016 opened #438 "error querying the database: code: 1000, message: Bad URI syntax: URI contains invalid characters"
## issues
There is some problem while I use the plugin  with page variables.
If there is a variable, the query will return "error querying the database: code: 1000, message: Bad URI syntax: URI contains invalid characters" and  the data can't be rendered properly.
But if  no variable , everything goes well.

Just see the two images bellow:

- variable exists
![image](https://user-images.githubuser

[2022-08-04 13:33] vavilenski opened #439 "Error: ✗ Plugin isn't available for your version of Grafana"
When I try to update my kubernetes grafana instance, I get next error in logs::

[code]

Will this plugin work for Grafana >= 9.0.0 ?
Thank's for your time.

[2022-08-15 03:28] chenlujjj opened #440 "Cannot correctly escape table name containing "-" symbol"
Suppose database name is "test", table name is "a.b.c-d", then the escaped result is "test.a.b.c-d", it will lead to syntax error in sql.

Expected result is "test.`a.b.c-d`", it will work.

Maybe some change shoule be made to `func (q *EvalQuery) escapeIdentifier(identifier string) string` ？

[2022-08-15 05:43] Zeratyl06 commented on #439
I have the same problem
![vertamedia-clickhouse-datasource](https://user-images.githubusercontent.com/19567341/184582413-5a1e8692-9b7d-4473-84e2-a43ef00cf896.jpg)

[2022-08-16 07:51] chenlujjj opened #441 "How to build this plugin locally and install into grafana server?"
I modified a few lines of code and want to see whether it works. But I don't know how to build it locally.
It would be better if the solution does not depend on docker.

[2022-08-16 17:23] Slach commented on #441
look to https://github.com/Altinity/clickhouse-grafana/blob/master/CONTRIBUTING.md for details

[2022-08-16 17:23] #441 closed

[2022-08-16 17:23] Slach commented on #441
You are welcome to make pull request with your contributions

[2022-08-17 02:58] chenlujjj commented on #441
Thanks!  However, the contributing guide depends heavily on docker-compose, which is inconvenient to me for some reason. Actually I figured out the build and package process by investigating on the github workflow file. Anyway, it works.

[2022-08-17 07:04] chenlujjj opened #442 "Plugin log doesn't appear in grafana server logs"
I want to do some debug on this plugin and I add a few logs in backend code, for example:
in `pkg/client.go`
[code]
I packaged and installed the new plugin into grafana, then restarted grafana server, refreshed panels. But the log didn't appear at all.

Have I missed something here ?

[2022-08-17 07:05] chenlujjj commented on #442
Grafana version: 9.0.6
Plugin version: 2.5.0

[2022-08-21 11:50] Slach commented on #442
you can defined GF_LOG_LEVEL: debug environment
look details here https://github.com/Altinity/clickhouse-grafana/blob/master/docker-compose.yaml#L54
or configure log level via `grafana.ini`
look https://grafana.com/docs/grafana/latest/setup-grafana/configure-grafana/#log for details

queries which used in Query and EvalQuery should display in grafana server logs

[2022-08-21 12:57] Slach commented on #439
looks strange
altinity grafana plugin tested with Grafana 9.x and should works fine
![image](https://user-images.githubusercontent.com/105560/185791986-9cc3ef76-c16e-4151-b53c-b1313df02170.png)

Could you provide more context?
how do you try to install this plugin in your environment?

[2022-08-21 13:38] Zeratyl06 commented on #439
Of course. The plugin doesn't work for me, with an error in the grafana ui "Failed to evaluate queries and expressions: failed to execute conditions: plugin unavailable".
[code]
![image](https://user-images.githubusercontent.com/19567341/185793348-2c6e1761-d50d-49be-8af0-213524e7ff44.png)

[2022-08-22 06:56] chenlujjj commented on #442
Probably it's not a issue of log level, the default log level if INFO and I didn't change it.

I can see the  `"Starting ClickHouse datasource backend..."` log in `main.go`:

![image](https://user-images.githubusercontent.com/17081528/185857776-73e5c25b-09c6-434a-bf6d-fe72fe4cb25f.png)

But other logs I added in Query, EvalQuery and CheckHealth didn't appear.

[2022-08-22 07:43] Slach commented on #442
it's trange
cause according to
https://github.com/Altinity/clickhouse-grafana/blob/master/pkg/datasource.go#L62

every query shall show in debug log

[2022-08-22 09:53] chenlujjj commented on #442
`backend.Logger.Debug(fmt.Sprintf("queryResponse: %s returns %v frames", sql, len(frames)))`
I set log level to debug, but still could not find the above log in log files.

![image](https://user-images.githubusercontent.com/17081528/185893546-77b49886-fc0b-4043-9b02-719c1d53f8dc.png)

[2022-08-23 05:36] Slach commented on #442
How exactly do you change your log level? did you change grafana.ini ?

Did you restart your `grafana-server` after change log level?

if your log level is debug you, shall see something like
[code]

[2022-08-23 05:37] #442 closed

[2022-08-23 07:08] Jaskerv commented on #434
Try this

[code]

[2022-08-23 09:05] Slach commented on #439
In your screenshot you see "plugin successuflly installed and available"

I tried to reproduce your docker-compose
https://gist.github.com/cd1b0ceb7b95855a625eb14c3e743173
all works fine

could you provide more context?

[2022-08-23 13:35] Zeratyl06 commented on #439
Docker version 20.10.7, build f0df350
Docker Compose version v2.2.2
[grafana_debug_log.txt](https://github.com/Altinity/clickhouse-grafana/files/9402922/grafana_debug_log.txt)

[2022-08-23 14:06] Zeratyl06 commented on #439
Works correctly with this section in docker-compose.yml
[code]

[2022-08-23 16:46] Slach commented on #439
so, @Zeratyl06 looks like your default docker seccomp profile is too strict

I tested on ubuntu 20.04.4 + docker 22.06.0-beta.0 + docker-compose version 1.29.2

@vavilenski is issue still relevant for you or we can close?

[2022-08-24 05:33] Slach commented on #434
sorry for late reply, could provide more context?
how you grafana is deployed?
this is Docker container or standalone server?
if docker, do you use docker-compose

check your clickhouse settings, about networks/ip networks/host or networks/host_regexp for `admin` user

could you try run on server where grafana deployed, the following command, and share the results?
[code]

[2022-08-24 05:35] Slach commented on #440
Sorry for late response,

could you share your ogirinal query with $table macro?
and query which you see in "Generated SQL"?

[2022-08-24 11:46] chenlujjj commented on #440
original query:
[code]

generated sql:
[code]

[2022-08-24 14:35] Slach commented on #440
lets wait when grafana team will review https://github.com/Altinity/clickhouse-grafana/releases/tag/v2.5.1

[2022-08-24 16:01] chenlujjj commented on #440
Cool!

[2022-08-24 17:43] lainiwa commented on #434
Indeed, that's the place where the password should go.
Thank you!

[2022-08-24 17:43] #434 closed

[2022-08-24 17:45] lainiwa commented on #434
Docker swarm, deploying using `datasource.yml`.
Clickhouse accessible when password set manually in `/datasources` tab, thus curl would definitely work too (not a network issue).

The issue basically was grafana not preserving the password I provide, when using the example from
[Configure the Datasource with Provisioning](https://github.com/Altinity/clickhouse-grafana#configure-the-datasource-with

[2022-08-25 04:06] Slach commented on #440
same changes applied to golang part to
look to https://github.com/Altinity/clickhouse-grafana/commit/8dfba84ac85b58c9667471e25d39cf87a6593892 for details

[2022-08-30 05:23] visago commented on #440
We still need to wait for Grafana team to update something before 2.5.1 will work ?

[2022-08-30 05:40] Slach commented on #440
@visago 2.5.1 released on grafana.com, just install new plugin version

[2022-08-30 05:52] visago commented on #440
Ah ! okay, yeah just did a grafana-cli plugins install vertamedia-clickhouse-datasource 2.5.1 !

[2022-08-30 05:59] visago commented on #440
I just tested 2.5.1 and getting the same issue. I noticed escapeTableIdentifier function was created in src/sql_query.ts, but its not called like in the go code ?

https://github.com/Altinity/clickhouse-grafana/blob/master/src/sql_query.ts#L122-L125

[2022-09-05 03:13] Slach commented on #439
close issue after inactivity from topic starter

[2022-09-05 03:13] #439 closed

[2022-09-05 03:26] Slach commented on #438
@hlf2016 sorry for late response

could you clarify
what mean "clickhouse 1.1.2" ?
this is clickhouge-grafana plugin version?
or clickhouse-server version?

could you share screenshot from `/plugins` endpoint for your grafana installation?
which plugin do you exactly installed?
https://github.com/grafana/clickhouse-datasource
or
https://github.com/Altinity/clickhouse-grafana ?

and could you share

[2022-09-05 03:29] #367 closed

[2022-09-05 03:30] Slach commented on #367
@alexey-milovidov didn't provide any additional context

[2022-09-05 04:24] Slach commented on #411
close issue after topic started inactivity

[2022-09-05 04:24] #411 closed

[2022-09-05 05:46] alexey-milovidov commented on #367
We no longer use the Grafana plugin from Vertamedia, because the official ClickHouse plugin for Grafana exists.

[2022-09-05 06:44] #440 closed

[2022-09-05 07:25] #352 closed

[2022-09-06 12:39] Slach commented on #440
@visago 2.5.2 released, please test

[2022-09-07 05:06] visago commented on #440
@Slach tested and verified working ! Thanks so much for the quick response !

[2022-09-14 09:48] devopscliff opened #446 "request handler error: plugin unavailable"
Hello altinity team ,
i am trying to use the altinity dashboard for clickhouse operator and it is working fine .
But when i try to setup alert for this dashboard  , i am getting this error :
 **request handler error: plugin unavailable**
<img width="1013" alt="image" src="https://user-images.githubusercontent.com/106510107/190121421-39957474-6cfb-4792-bf82-57a80739fbf0.png">

 I am using the lates

[2022-09-14 10:13] sdarshil opened #447 "request handler error: plugin unavailable"
Hello altinity team ,
i am trying to use the altinity dashboard for clickhouse operator and it is working fine .
But when i try to setup alert for this dashboard , i am getting this error :
request handler error: plugin unavailable
![image](https://user-images.githubusercontent.com/31997374/190127381-d6abedc5-75b7-48d4-929c-0bf876a7c4ce.png)

I am using the latest version available of the altinity

[2022-09-14 11:52] Slach commented on #447
which grafana version do you use?

how you setup Altinity grafana plugin?

could  you share
[code]

[2022-09-14 12:01] sdarshil commented on #447
bash-5.1$ ls -la /var/lib/grafana/plugins/vertamedia-clickhouse-datasource/
total 108136
drwxrwsr-x    4 grafana  472           4096 Sep  8 08:35 .
drwxrwsr-x    4 grafana  472           4096 Sep  9 08:31 ..
-rw-rw-r--    1 grafana  472           1106 Sep  8 08:35 LICENSE
-rw-rw-r--    1 grafana  472           2541 Sep  8 08:35 MANIFEST.txt
-rw-rw-r--    1 grafana  472          26715 Sep  8 08:35

[2022-09-14 12:50] sdarshil commented on #447
The plugin is working but the alert is not setting up

[2022-09-14 16:38] Slach commented on #447
Could you configure debug log level in /etc/grafana/grafana.ini, restart grafana-server
https://grafana.com/docs/grafana/latest/setup-grafana/configure-grafana/#log
and search `vertamedia` in grafana-server logs? (for example
journalctl -xe --no-pager -u grafana-server)

if you use docker or docker-compose just define GF_LOG_LEVEL=debug environment
like here https://github.com/Altinity/clickhouse-

[2022-09-14 16:39] Slach commented on #447
plugin have two parts, backend golang part which evalute alerts and frontend part which works in browser and use grafana server as proxy to connect to clickhouse

[2022-09-15 06:33] sdarshil commented on #447
we have configured the grafana on kubernetes , i have configured log level debug and here is the logs :

[code]

[code]

[2022-09-15 06:43] Slach commented on #447
root reason
[code]

is not the same as you shared here

https://github.com/Altinity/clickhouse-grafana/issues/447#issuecomment-1246661267
[code]

how you install plugins in kuberenetes?
do you use initContainers?

[2022-09-15 07:07] devopscliff commented on #447
So firstly we have installed it via grafana-cli , but after your recent comment i have tried some other way to install it too !
I tried this way too :
![image](https://user-images.githubusercontent.com/106510107/190337627-025169d4-133e-4e32-bf88-66778c499130.png)

but still the same error presists there :

[code]

[2022-09-15 07:08] sdarshil commented on #447
So firstly we have installed it via grafana-cli , but after your recent comment i have tried some other way to install it too !
I tried this way too :
![image](https://user-images.githubusercontent.com/31997374/190338020-5e250284-5bf0-437d-a230-eb021be5614b.png)

but still the same error presists there :

logger=plugin.loader t=2022-09-15T06:58:15.4+0000 lvl=dbug msg="Loading plugin" path=/var/lib

[2022-09-15 11:50] Slach commented on #447
Do you see anything in pod logs which ensure `GF_INSTALL_PLUGINS` works?

Something like  `Downloaded vertamedia-clickhouse-datasource v2.5.2 zip successfully` after startup grafana container

[2022-09-15 12:11] sdarshil commented on #447
[code]

Here i can see it is installed

[2022-09-15 12:12] sdarshil commented on #447
![image](https://user-images.githubusercontent.com/31997374/190400449-a909575d-c494-4821-a794-d5ca83d0e5c0.png)

[2022-09-16 15:35] Slach commented on #447
`ls -la /var/lib/grafana/plugins/vertamedia-clickhouse-datasource/altinity-clickhouse-plugin_linux_amd64`
available after container start?
which kubernetes engine do you use?
look like similar with https://github.com/Altinity/clickhouse-grafana/issues/439#issuecomment-1224127815
check your seccomp \ apparmor profiles for kubernetes

[2022-09-24 09:01] frank-lam opened #448 "Grafana `Stacking and null value` Bug"
Grafana v7.5.11
`Display` -> `Stacking and null value` -> `null as zero`

When I use the clickhouse grafana plug-in to query SQL, when the data points are empty, the "Stacking and null value" -> "null as zero" is not work, plug-in connects the data points by default.

This is very impersonal.

[2022-09-24 12:08] Slach commented on #448
Plugin doesn't provide any vizualization itself

Then you don't have data point, you really don't have data, if you expect `null`
use `ORDER BY ... WITH FILL `
look details
https://clickhouse.com/docs/en/sql-reference/statements/select/order-by/#order-by-expr-with-fill-modifier

[2022-09-24 12:09] #448 closed

[2022-09-26 21:34] OmarBazaraa opened #449 "Support "config from query result" transformation"
When I try to add a "config from query result" transformation, all queries from Altinity ClickHouse plugin do not show in the dropdown list and cannot be used if added manually in the panel's JSON definition.

![image](https://user-images.githubusercontent.com/6713329/192384649-3df3bbd4-2c67-4f8f-942e-67b59b526f47.png)

Here in this picture, query "A" should be available but for some reason it doe

[2022-09-28 13:31] eclipsenn opened #450 "in table view datetime is interpreted as of browser's timezone."
This might be another way to resolve https://github.com/Altinity/clickhouse-grafana/issues/318.
Prerequisites:
grafana `8.4.4(fcfb01faeb)`
plugin `vertamedia-clickhouse-datasource @ 2.5.2`

What happened:
in table view, datetime is interpreted as of browser's timezone.
Steps to reproduce:

- set system timezone as UTC+3;
- create table with datetime:
[code]
- insert values(60 time points starting

[2022-09-29 07:15] Slach opened #451 "Add file provisioning for alerts based on documentation for latest grafana"
https://grafana.com/docs/grafana/latest/administration/provisioning/#rules

[2022-10-04 12:08] Slach commented on #447
Is issue still relevant for you? Or you found root reason?

[2022-10-04 12:36] mrlexor opened #452 "Documentation: Fix the structure of yaml [Configure the Datasource with Provisioning]"
Hello,

In the current repo and in Grafana [docs](https://grafana.com/grafana/plugins/vertamedia-clickhouse-datasource/) you have different example of describing datasource via yaml.

It is example from Grafana [docs](https://grafana.com/grafana/plugins/vertamedia-clickhouse-datasource/):
[code]

Where I see mistakes about `basicAuthPassword` and `usePOST`.

`basicAuthPassword` must be placed insi

[2022-10-04 17:14] Slach commented on #452
Thanks for reporting,
Don't hesitate to make pull request to ReadMe.md

[2022-10-05 11:32] Slach commented on #447
another similar error message
[code]

need to new release with latest sdk

[2022-10-05 16:33] #452 closed

[2022-10-17 09:20] oplehto opened #455 "Support for delta calculation"
It would be nice if there would be variants of the per-second macros for delta calculations as well. Basically the same macro but without normalizing by the time step length.

[2022-10-17 16:37] Slach commented on #455
i thin it could be implements easy

[2022-10-28 11:42] mixayloff-dimaaylov commented on #371
Any updates on this? For me `$columns` with time column set to `column:TimeStamp`
returns incorrect query. `$timeFilterMs` also returns incorrect query. I forced to correct it
by multiplying the time column by 1000.

This can be done as in PR #46, which ads `TimeStampMs` column datatype for `UInt64` columns.

You can look at the port of this for the new version, but I'm not sure of the absolute co

[2022-11-19 17:09] punkeel opened #456 "Allow hiding the table.colname fields from ad-hoc filters"
This is a follow up to the discussion in #75.
Today, the adhoc dropdown will list all the columns. twice: once with the table name prefixed, once without.
![image](https://user-images.githubusercontent.com/1859135/202862855-d6a75bbc-94dd-41dc-a5a4-5b2211368e8d.png)

I often create dashboards reading from a single table (or multiple tables, but all using the same schema) and would benefit from hidi

[2022-11-20 10:05] ceckoslab opened #457 "Question: Is possible to check for specific variable value in during query building."
I read the plugin docs and played a lot with the plugin but I couldn't find a way to make this working.

Here is my case:

I am building dashboards for displaying webperformance metrics. Depending on a metric sometimes the SQL is slightly different.

This is the query for a metric called Cumulative Layout Shift:
[code]

Here we have another for Time to First Byte:
[code]

The example queries have

[2022-11-21 06:41] Slach commented on #457
sorry, i don't understand

what exactly SQL shall generated after apply
[code]
?

could you provide raq SQL which you want to generate?

[2022-11-21 11:57] ceckoslab commented on #457
Sorry, I had to be more specific. I will try again :)

It's something like a SWITCH operator.

If **$perf_timer** value is **cumulative_layout_shift** I would like to get the query wrapped only in this block:
[code]

So if we have this save in the Gafana query editor:
[code]

I would like to get as a RAW SQL:
[code]

If **$perf_timer** value is **first_byte_duration** I would like to get this RAW

[2022-11-21 12:37] Slach commented on #457
Ok. I would like to propose create TWO separate queries

and add
`AND $perf_timer = 'cumulative_layout_shift'` to first query

`AND $perf_timer = 'first_byte_duration`` to second query

[2022-11-21 13:17] ceckoslab commented on #457
Is the proposal to always run the TWO queries in parallel for the same panel?

The queries will be more different in the WHERE clause but also the SELECT part varies.

For **cumulative_layout_shift** we have bucketing by `0.01` where for **first_byte_duration** we have bucketing by `100`.

For cumulative_layout_shift:
[code]

For first_byte_duration:
[code]

By the way, I've never written a single

[2022-11-21 13:48] Slach commented on #457
any PR is welcome ;)

[2022-11-21 13:48] Slach commented on #457
query where `AND false` will fast

[2022-11-21 14:08] ceckoslab commented on #457
One more clarification. My intention is to show display the result in single Grafana panel.

**cumulative_layout_shift**
![Screenshot from 2022-11-21 15-01-04](https://user-images.githubusercontent.com/1024001/203074082-97b0fb4c-e4d7-4e7e-8731-d1048221fc4d.png)

**first_byte_duration**
![Screenshot from 2022-11-21 15-01-16](https://user-images.githubusercontent.com/1024001/203074145-9ddb8e1a-42c7-

[2022-11-22 09:52] Slach commented on #455
i will implements 4 macros
$increase, $increaseColumns - for non negative delta calcuation
and
$delta, $deltaCoumns - for delta calculation with negative

[2022-11-22 18:24] Slach commented on #437
@nixikanius try to different visualization plugin for Bar Charts

![image](https://user-images.githubusercontent.com/105560/203392318-4673cdaa-1aad-44ad-a740-62dc7e703492.png)

[2022-11-22 18:28] #455 closed

[2022-11-22 18:28] #447 closed

[2022-11-22 18:28] #437 closed