[2017-01-06 13:31] hagen1778 opened #1 "Images for Readme"
![config](https://cloud.githubusercontent.com/assets/2902918/21719219/2fc6aa78-d425-11e6-83c0-ad92e068ff4e.png)
![query_editor](https://cloud.githubusercontent.com/assets/2902918/21719220/2fddcde8-d425-11e6-8b54-1d8609d9d1cd.png)
![raw_editor](https://cloud.githubusercontent.com/assets/2902918/21719221/2fea14e0-d425-11e6-9211-5e842169eef3.png)
![req_by_os](https://cloud.githubusercontent.com/asset

[2017-01-06 13:33] #1 closed

[2017-01-13 16:02] vvp83 opened #2 "[HELP] How to Install plugin?"
Please tell how install plugin to grafana 4.1.x?

[2017-01-13 16:29] vvp83 commented on #2
Copy source to /var/lib/grafana/plugins.
Restart grafana

[2017-01-13 16:29] #2 closed

[2017-01-13 17:33] f1yegor commented on #2
@hagen1778 you could probably investigate how to add this plugin to grafana.net. More visibility, easier installation, updates notifier

[2017-01-13 19:40] hagen1778 commented on #2
@f1yegor i think that plugin is not ready for grafana.net - no tests, no alerts and annotations support

[2017-02-09 12:20] vvp83 opened #3 "[Feature request] Support Alert"
It will be nice if CH plugin (graph) support Alert like this
![alert](https://cloud.githubusercontent.com/assets/24292154/22783973/29446620-eedf-11e6-94c4-dd2f0235d339.JPG)

[2017-02-09 16:45] hagen1778 commented on #3
Hi! To support this feature we need to add datasource executor to Grafana's backend. Actually we already did it for our fork, but there is no pull request to main Grafana repo. It is complicated because whole plugin (with FE and BE) must be accepted by Grafana team. I hope that it would be done in nearest future

[2017-02-10 16:00] #3 closed

[2017-02-11 08:03] Slach commented on #3
@hagen1778 where is your fork of grafana project?
 i can't find it on https://github.com/grafana/grafana/network

[2017-02-11 09:43] hagen1778 commented on #3
Hi, you can find it at this branch https://github.com/hagen1778/grafana/tree/clickhouse-datasource

[2017-03-10 04:42] vavrusa opened #4 "Missing files"
Hi, it seems you forgot to push `sql_series.ts` and the repo only contains generated .js and .d.js files.

[2017-03-10 05:28] hagen1778 commented on #4
Hi! Actually, sql_series is originally written in js only and there is no `sql_series.ts`

[2017-03-10 05:54] vavrusa commented on #4
Uh, okay, thanks.

[2017-03-10 05:54] #4 closed

[2017-03-22 14:48] hagen1778 commented on #1
![raw_editor_highlight](https://cloud.githubusercontent.com/assets/2902918/24203787/5a5da7ac-0f1f-11e7-911b-4da7cc4ddb2a.png)
![query_settings](https://cloud.githubusercontent.com/assets/2902918/24203791/5dc44d38-0f1f-11e7-9905-6deb8b28fbe4.png)

[2017-04-11 07:26] hagen1778 opened #5 "FR: Allow pass credentials to CH via GET-params"
Currently, credentials to access CH can be passed via basic auth. But sometimes its needed to separate basic auth credntials and CH.

[2017-04-11 14:21] hagen1778 opened #6 "BUG: $columns does not support LIMIT and ORDER"

[2017-04-11 15:05] hagen1778 opened #7 "BUG: Query cuts newlines"
Real CH query without macroses should be available for copy&paste operations

[2017-04-14 14:25] hagen1778 commented on #6
Actually, $columns should not support `LIMIT` and `ORDER`. It's main purpose to build time-series data, where we dont need any limitations or any other ordering except by time.

This issue was created while trying to show data at pie-chart or histogram with help of $columns. Here is an example of how to show TOP-10 Clients by Requests at pie-chart :
`
SELECT
    1,
    groupArray((c, Reqs))
FROM
(

[2017-04-14 14:25] #6 closed

[2017-04-14 14:56] hagen1778 commented on #7
fixed

[2017-04-14 14:56] #7 closed

[2017-04-25 15:05] hagen1778 commented on #1
![vertical histogram](https://cloud.githubusercontent.com/assets/2902918/25392561/9f3777e0-29e1-11e7-8b23-2ea9ae46a029.png)
![top5things](https://cloud.githubusercontent.com/assets/2902918/25392562/9fadb202-29e1-11e7-95ca-5b0d2921c592.png)

[2017-04-27 07:50] hagen1778 commented on #1
![settings](https://cloud.githubusercontent.com/assets/2902918/25473216/3ebd20fc-2b37-11e7-9743-fbbf2c5bdd3f.png)

[2017-05-30 14:53] lab79 opened #8 "[question]: есть ли возможность получить из одной "Metrics" несколько линий графика (series)?"
Пробовал задать Templating/Variables, но это получилось использовать только как sql-фильтр вроде
`...
and('All' in ($geo_country) or geo_country in ($geo_country))
...
`

PS: в плагине grafana-zabbix, например, возможность множить линии графика была.

[2017-05-30 17:49] hagen1778 commented on #8
Я не совсем понимаю Ваш вопрос. Не могли бы Вы привести пример задачи, которую нужно решить?

[2017-05-31 08:30] lab79 commented on #8
Нужно построить график, например, число запросов по каждой стране отдельной линией графика.
Т.е. прописать единственный запрос к базе и указать колонку-страну по которой будут разделяться линии графика (а не прописывать отдельную метрику под каждую страну)

Примерно [так](http://play.grafana.org/dashboard/db/grafana-play-home?panelId=2&fullscreen&edit&orgId=1)

[2017-05-31 08:35] hagen1778 commented on #8
Вы можете воспользоваться макросом $columns:
`$columns(OSName, count(*) c) FROM requests`

Описание макроса доступно в README.

[2017-06-02 13:06] hagen1778 commented on #8
Если вопрос решен - я закрываю issue

[2017-06-02 13:06] #8 closed

[2017-06-12 09:17] #5 closed

[2017-06-14 08:42] jackpgao opened #9 "Choose table Bug"
before I choose a database and a table, it auto jumps to the demo sql.

[2017-06-14 13:48] hagen1778 commented on #9
Hi, @jackpgao
Could you provide some Use Case with expected and actual result? Thanks

[2017-06-16 09:08] MikhailKalashnikov opened #10 "Use time range filter in a template query"
Is it possible to use time range filter (i.e. $from, $to or $timeFilter) in template query?
In Grafana documentation I see "Set this only to On Time Range Change if your variable options query contains a time range filter or is dependent on dashboard time range."
But when I try to use time range filter ($from, $to or $timeFilter)  in template query it sends query to CH as is, without replacing $fr

[2017-06-16 14:15] hagen1778 commented on #10
@MikhailKalashnikov, As I know this feature is not supported by Grafana
see - https://github.com/grafana/grafana/issues/1909

Anyway, I can't use $from, $to or $timeFilter at template variables while using other datasources. Correct me if I'm wrong

[2017-06-16 15:44] MikhailKalashnikov commented on #10
Yes. You are right.
It seems that it is not supported in Grafana

[2017-06-16 15:44] #10 closed

[2017-06-30 09:22] hagen1778 commented on #9
Since @jackpgao not answering I close the issue

[2017-06-30 09:22] #9 closed

[2017-07-11 11:52] pavel-odintsov opened #11 "Issues with table transform "table""
Hello!

I have a query like:
[code]

And I just want to get a response in table format (i.e. single column for each field).

But by default I have following format:
<img width="1280" alt="vertica_issue" src="https://user-images.githubusercontent.com/2744166/28066948-ff5b4606-6636-11e7-856d-aeb57b00030c.png">

I tried to select "Table transform: table" but it does not work and reverts to "Table tra

[2017-07-12 08:41] hagen1778 commented on #11
Hi @pavel-odintsov
Table format is not supported by plugin. It's a requirement of native Grafana's plugin - table. It throws error into your console if table-transform is not supported. And as i can see only Influx datasource support this feature. But still I can't use table transformation at http://play.grafana.org for Influx or any other datasource.

I am curios, which problem you want to solve?

[2017-07-12 21:49] pavel-odintsov commented on #11
Thanks for help! My issue was solved. I just added date_time column and switched type to "time series to column".

[2017-07-13 07:11] #11 closed

[2017-07-24 09:46] kshvakov opened #12 "[Feature request] Округление даты в макросе $from для улучшения cache hit ratio"
плагин отправляет запросы вида
[code]

$from вставляется в toDate и toDateTime (toDate(1500715771), toDateTime(1500715771))

$from меняется каждые N секунд указаные в параметре рефреша

проблема в том, что если открыто 10 окон то будет 10 разных $from т.к. открыты они были в разное время (допустим с шагом в 1 секунду)

хотелось бы таймстамп начала "сессии" затранкейтить чтоб уменьшить количество у

[2017-07-24 10:42] iShift opened #13 "[Bug] Incorrent works with multiple vars"
$KPI = some_kpi_name
$d_kpi = _d
$n_kpi = _n

This example works ok:
`SELECT $timeSeries as t, ($KPI$d_kpi/$KPI$n_kpi)*100 FROM $table WHERE $timeFilter and ucell_oid = $ucell_oid  ORDER BY t`

this is not:
[code]

After transform i get space between $KPI and $d_kpi

[2017-07-25 16:25] hagen1778 commented on #12
Привет @kshvakov
В мастер-ветку была добавлена опция Round:
![round](https://user-images.githubusercontent.com/2902918/28582647-dbd795de-716e-11e7-8bc2-c70966415615.png)
Дефолтное значение - 0s. Округление происходит всегда в меньшую сторону

[2017-07-25 16:58] kshvakov commented on #12
Спасибо

[2017-07-25 16:58] #12 closed

[2017-07-26 07:42] kshvakov commented on #12
Обновились, выставил round в 1m на $from и $timeFiler это никак не повлияло, как шли по секунде так и идут (1500881708, 1500881709 ...) используем Grafana v4.1.1

[2017-07-26 08:17] hagen1778 commented on #12
Да, моя ошибка - забыл обновить скомпиленые js файлы

[2017-07-27 17:51] hagen1778 commented on #13
Hi @iShift! Thank you for feedback!
Current parser implentation treats every token as separate statement and divides them with spaces. Until now there was no need in such using of templates as you described above. I have to think about this a bit more time.

[2017-08-03 09:18] hagen1778 commented on #13
Hi! It must be ok now. Check latter master changes

[2017-08-03 09:18] #13 closed

[2017-08-03 10:17] Foxsa opened #14 "Problem with symbols encoding"
Im trying to make a simple query:
[code]
This transformed into:

```SELECT     (intDiv(toUInt32(time_iso), 5) * 5) * 1000 as t,     avg(response_time) FROM logs.nginx GROUP BY t WHERE log_date >= toDate(1501751601) AND time_iso >= toDateTime(1501751601)```

And I got an error:

```Code: 62, e.displayText() = DB::Exception: Syntax error: failed at position 120: WHERE log_date &gt;= toDate(150175160

[2017-08-03 11:04] hagen1778 commented on #14
Hi @Foxsa
Could you provide me with your browser type and version and datasource version?

[2017-08-03 11:05] Foxsa commented on #14
Browser Google Chromium
Version 59.0.3071.109 (Developer Build) Built on Ubuntu , running on Ubuntu 16.04 (64-bit)

datasource version 0.0.2 from Grafana store

[2017-08-03 11:20] hagen1778 commented on #14
At first i thought that problem is in `&gt;` characters. But it's just GitHub format. There is an error in the request. You can't do `GROUP BY` before `WHERE` statement in that request. See documentation http://clickhouse.readthedocs.io/en/latest/reference_ru.html#SELECT

So all you need - just swap `WHERE` and `GROUP BY` like next:
[code]
I hope it helps

[2017-08-03 11:21] hagen1778 commented on #14
I am wondering - how? :-)

[2017-08-03 12:20] Foxsa commented on #14
Ok, now it works, i.e. without errors.
My mistake, fixed it copying to tabix

But now grafana not drawing plot, only strange horisontal lines
![screenshot_grafana1](https://user-images.githubusercontent.com/4919407/28921608-4cbf7f36-785f-11e7-8353-1e63e014ec93.png)

[2017-08-03 12:39] hagen1778 commented on #14
It's because you fetched data without ordering by time. Now you need to add:
[code]

Take a look at documentation https://github.com/Vertamedia/clickhouse-grafana#raw-sql-editor

[2017-08-03 12:45] Foxsa commented on #14
Oh, thank you again! Sorry for dumb questions

[2017-08-03 12:46] hagen1778 commented on #14
You are welcome! Plz, close the issue if problem solved

[2017-08-03 12:53] #14 closed

[2017-10-17 14:18] bzed opened #15 "Please support Timestamp column additional to DateTime"
carbon-clickhouse uses a Timestamp column, not DateTime. It would be nice if we could use that in the query editor.

thanks,

bernd

[2017-10-25 15:22] slw opened #16 "$columns keys don't sorted"
Actual JS generate unsorted keys after expand $columns macro

[2017-10-25 17:19] valyala commented on #15
@hagen1778 , what do you think about this?

[2017-10-25 20:00] hagen1778 commented on #15
Nice idea! Seems like it's pretty easy to implement. I'll take a look on it next weekend

[2017-11-04 20:13] lmangani commented on #3
Hi @hagen1778 I know this is an old thread, so I'm just commenting instead of opening a new one - are there any intentions to cleanup and PR the backend changes? Grafana team seems more open to supporting multiple backends nowadays so it's worth a shot - If you can use any help to complete it, more than willing to do so with my team. Thanks for your excellent work ;)

[2017-11-05 09:55] hagen1778 commented on #3
Hi! As far as I know Grafana team is still working on this feature - https://github.com/grafana/grafana/issues/6841

[2017-11-05 10:24] lmangani commented on #3
@hagen1778 thanks for pointing me a that. I'm building a [container](https://github.com/lmangani/docker-clickhouse-grafana) running your plugin demonstration to learn the full insights, next will try to resync your modified branch with master Grafana for now to see if anything drifted away and understand the alert backend changes, too. We'd like to help out and contribute / cooperate on this exten

[2017-11-05 12:02] Perlovka opened #17 "Format data as table"
HI,

WorldMap plugin for grafana allows to map geohash data formatted as a table (using InfluxDb datasource)
https://github.com/grafana/worldmap-panel#table-data-as-the-data-source

(https://github.com/grafana/worldmap-panel/issues/109)

It would be nice to have this feature, if possible.

Thanks.

[2017-11-05 19:58] hagen1778 commented on #3
It's good to hear that! But I must warn you that Grafana team has modified their plugin's backend so Clickhouse plugin must be modified respectively. I am going to wait some time till Grafana team will define approach and structure for 3d party plugins

[2017-11-07 14:17] hagen1778 commented on #1
![screenshot](https://user-images.githubusercontent.com/2902918/32498037-2e9df438-c3d7-11e7-90de-73957c20cf6d.png)

[2017-11-07 14:48] hagen1778 commented on #15
Hi @bzed ! Plz, check #18 for Timestamp column support

[2017-11-07 15:42] hagen1778 commented on #17
Hi @Perlovka
Actually, I have no experience with geohash and InfluxDB.
If CH-datasource plugin can be used with Table plugins, why `worldmap-panel` can't use same formatiing?
One of our panels also using `worldmap-panel` but with country codes, not geohashes. Example of query:
[code]

[2017-11-09 10:33] Perlovka commented on #17
Hi,
We do have country and city maps also, and yes, it works as expected.

But for geohash data there are only two options:

- Geohashes (https://github.com/grafana/worldmap-panel#geohashes-as-the-data-source):
Data should be in ElasticSearch format.
I suppose, something like this:
`{"_shards": {"failed": 0, "successful": 5, "total": 5}, "aggregations": {"accidents_geohash_grid": {"buckets": [{"do

[2017-11-12 18:08] iShift opened #19 "Grafana ignoring NULL value"
Grafana ignoring NULL value is clickhouse send "NULL" but works if manual send "null"

[2017-11-13 08:01] iShift commented on #19
Temporary fix for me - if(isNull(value), toString('null'), toString(value))

[2017-11-13 12:45] hagen1778 commented on #15
Hi, check https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.1.0

[2017-11-13 12:45] #15 closed

[2017-11-13 12:47] hagen1778 commented on #17
Hi! Check https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.1.0
This is how it can be used:
![az4qboz5sxs1b4q0mk-faa](https://user-images.githubusercontent.com/2902918/32726398-96793438-c881-11e7-84b8-26e82dbdb40c.png)
![ah1gnvxhr-okwm8nsw2cow](https://user-images.githubusercontent.com/2902918/32726399-96a01e86-c881-11e7-9368-61207bae72fd.png)

[2017-11-13 12:47] #17 closed

[2017-11-14 11:22] Perlovka commented on #17
Awesome! Thanks =)

[2017-11-14 16:01] Civil opened #22 "Support extra filtering query"
I think it's easier to explain what I mean by example.

We are trying to store graphite data in clickhouse, but because if clickhouse's nature we need to construct our queries in something like that:
[code]
Those 'path1', 'path2' stored in clickhouse in another table.

What we do now:
select groupUniqArray(Path) from graphite_tree where Path like 'path%'

and then use the results in an 'IN' clause

[2017-11-14 17:56] hagen1778 commented on #22
Hi @Civil
Try to use template variables - http://docs.grafana.org/reference/templating/#adding-a-variable
Using that you will be able to cache those values in variable, for example `$path` and then build query:
`SELECT Path, Value, Time from graphite where Path IN $path`

Also you can find examples of using template variables here - https://grafana.com/dashboards/2515

[2017-11-14 22:17] Civil commented on #22
Ok, thanks. That should work ok as a workaround, but it'll be really nice to have something like that on a graph-level, otherwise I'll end up having a template variable per graph :)

[2017-11-15 06:26] hagen1778 commented on #22
Hmm, every graph can consist of multiple queries and all of them can be displayed as line or couple of lines. If we add additional query - interface became huge.
And even if we do, what is the difference between additional query and query:
`SELECT Path, Value, Time from graphite where Path IN (select uniqExact(Path) from graphite_tree where Path like 'path%')`
The performance must be the same or e

[2017-11-15 09:33] Civil commented on #22
At this moment ```where Path IN ( select ... )``` causes a full table scan always. If you specify arbitrary list of paths, query will use indexes.

As an example:
[code]

[2017-11-15 11:01] hagen1778 commented on #22
I see now. Seems like an old CH problem which is promised for being fixed for a year already :-)
Adding an additional query field which must be executed before the main query/queries looks very tricky. Especially when this additionally query used only for one purpose - to avoid old bug in CH.
However I don't see clear solution right now. This issue will be open for other users in case of new ideas

[2017-11-15 11:20] Civil commented on #22
That's no a bug, it's by design :)

[2017-11-15 11:32] hagen1778 commented on #22
I thought it's all about this issue - https://github.com/yandex/ClickHouse/issues/687

[2017-11-15 15:12] hagen1778 commented on #1
![editor](https://user-images.githubusercontent.com/2902918/32843338-337f2efc-ca28-11e7-9bde-ec65faa3cdc9.png)

[2017-11-17 08:32] hagen1778 commented on #19
Hi @iShift
Pls, check https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.2.1

[2017-11-17 08:32] #19 closed

[2017-11-17 08:33] hagen1778 commented on #16
Hi @slw
Pls, check https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.2.1

[2017-11-17 08:33] #16 closed

[2017-11-17 19:24] hagen1778 opened #24 "Errors while using 1.2.1 ver"
*  Panel data error:  metrics_panel_ctrl.ts:171   {message: "AST parser error: undefined"}
* Error: this.queryCtrl.getCollapsedText is not a function
* результирующая readonly строка запроса с развернутыми макросами рендерится одной строкой без wrap и обрезается

[2017-11-19 13:03] Perlovka opened #25 "Wrong $timeFilter expansion"
When grafana time selector is set for example to 'Yesterday' (2017-11-18 00:00:00 to 2017-11-18 23:59:59), 'WHERE $timeFilter' is expanded to:

`WHERE event_date BETWEEN toDate(1510963200) AND toDate(1511049600) AND event_time BETWEEN toDateTime(1510963200) AND toDateTime(1511049600)`

so event_date will be from 18-11-2017 to 19-11-2017 and event_time will be from 18-11-2017 00:00:00 to 19-11-2017

[2017-11-20 09:37] hagen1778 commented on #25
Hi @Perlovka
Pls see https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.2.2

[2017-11-20 09:37] hagen1778 commented on #24
Solved at https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.2.2

[2017-11-20 09:37] #24 closed

[2017-11-20 11:48] Perlovka commented on #25
In 1.2.2 some files are missing:
[code]
Can't edit queries ;)

And time selection problem still persist. When time range is set as full period (e.g. now-10m/m - now-10m/m), time selector tooltip shows (2017-11-20 11:35:00 - 2017-11-20 11:35:59) but expanded time query is (2017-11-20 11:35:00 - 2017-11-20 11:36:00) inclusive

[2017-11-20 12:48] hagen1778 commented on #25
Indeed, I forgot to commit copied to src `query.editor.html`
`query.options.html` is dropped

I believe that it's just a bad release and cached files. Pls, try https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.2.3

[2017-11-20 12:55] Perlovka commented on #25
Perfect! Thank you )

[2017-11-20 12:55] #25 closed

[2017-11-21 12:16] hagen1778 opened #26 "Autocomplete for table columns"
Add autocomplete for columns while using sql editor

[2017-11-24 11:31] hagen1778 opened #27 "template issue"
Aleksey Shirokikh, [23.11.17 20:28]
@alexanderzobnin а можно в шаблонизатор графаны подставить такое вот
select
  dictGetString('managedobject', 'name', managed_object) AS text,
  managed_object as value
from
  noc.subscriber
group by managed_object

Aleksey Shirokikh, [23.11.17 20:28]
я хочу выбирать красивое имя а в квери подставлять то чо надо

Aleksey Shirokikh, [23.11.17 20:29]
это запрос в к

[2017-11-24 13:42] ariloudev opened #28 "Where is SQL Query Editor?"
Hello guys,

We installed Grafana and your plugin. We can successfully create a data source, but can't find the query editor. Any suggestions?

[2017-11-24 13:44] ariloudev commented on #28
Found it, sorry!

[2017-11-24 13:45] #28 closed

[2017-12-01 19:14] hagen1778 opened #29 "Visual glitches"
see https://github.com/grafana/grafana-plugin-repository/pull/199#event-1368077314

[2017-12-05 14:14] hagen1778 commented on #29
fixed at https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.2.5

[2017-12-05 14:14] #29 closed

[2017-12-05 14:15] hagen1778 commented on #27
https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.2.5

[2017-12-05 14:15] #27 closed

[2017-12-13 10:18] iShift commented on #12
Есть подозрение, что округляется только from поле, а $to - нет, если так - очень грустно и хотелось бы $to

[2017-12-13 10:50] hagen1778 commented on #12
$to действительно не округляется, так как в этом нет потребности:
[code]
здесь используется только $from
Плагин строит такое условие, если $to == 'now', а это верно для всех случаев `lastN`. Исключением может быть использование `time shift` опции в панели, тогда Grafana генерирует четкие таймстампы для $from и $to

[2017-12-13 11:52] iShift commented on #12
Но поле now тоже же меняется, а хотелось бы:
1) Округлять Now до нескольких минут
2) При выборке назад тоже производить округление обоих вариантов

Нет ли планов\желания реализовать подобное?

[2017-12-13 12:04] hagen1778 commented on #12
Это очень легко сделать и не сделано это было только потому, что в этом не было надобности - как я упоминал выше, $to не используется в запросах `lastN`. Опишите, пожалуйста, Ваш кейс подробнее, чтобы я удостоверился, что мы говорим об одном и том же.

[2017-12-13 12:32] iShift commented on #12
Кейс у меня следующий:
Льётся очень много статистики в узкую таблицу в Clickhouse, есть набор дашбордов на которых показывается верхнеуровневая проблема и генерация одного графика занимает около минуты.

Следовательно я прогреваю кэш дашбордов через переодический опрос ch-proxy по целевым запросам (они же забиты в графану). Графики - часовы, показ на графике - неделя\месяц - это я храню в кэше и б

[2017-12-13 13:17] hagen1778 commented on #12
Добавил округление $to в https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.2.6
Но все равно странно, что у Вас используется $from в запросах "дата окончания выборки - now"

[2017-12-13 13:19] iShift commented on #12
Сразу уточню - для конструкции $timeFilter работать будет же? там from работает

[2017-12-13 13:22] hagen1778 commented on #12
Да, $timefilter раскладывается в:
[code]
Или в случае с `from N to now` в:
[code]

[2017-12-13 13:23] iShift commented on #12
Спасибо огромное! Ушел тестировать.

[2017-12-15 15:18] iliaal opened #30 "Add Support for Alerts"
Please consider adding support for alerts

[2017-12-15 15:35] hagen1778 commented on #30
Hi @iliaal
Pls, see https://github.com/Vertamedia/clickhouse-grafana/issues/3

[2017-12-15 15:35] #30 closed

[2018-01-03 09:14] MarloweW opened #31 "formatted sql from $columns with quantile function is wrong"
`quantile` function requires a float number between 0 - 1, e.g. 0.95, but it is formatted as `0 .95`, note this space between `0` and `.95`.

[code]

[code]

[2018-01-05 09:02] #31 closed

[2018-01-05 09:10] hagen1778 commented on #31
thx! It helps!

[2018-01-25 08:08] MarloweW opened #33 "$columns support multiple columns"
The doc has shown an example of $columns:

[code]

Sometimes, I need to group multi columns to find out differences, such as OS platform and version, I 'm wondering if this usage could be supported:

`$columns(key_1, key_2, value)` or `$columns((key_1, key_2), value) `

which query values as array of [key, value], where key will be used as label, and key is a combination of key_1 key_2.

[2018-01-26 08:05] hagen1778 commented on #33
Hi @MarloweW
Currently, plugin doesn't support multiple labels or any mechanism to choose between them like it's done in Prometheus datasource.
But you can do it in different way:
`
$columns(
    concat(toString(Environment), '-', OSName) l,
    count(*) c)
FROM $table
ANY INNER JOIN oses USING  OS
`
So, in the query above you asking ClickHouse to combine your labels and you can choose any combina

[2018-01-26 09:13] MarloweW commented on #33
The concat way do solve the problem. Thanks.

[2018-01-26 09:13] #33 closed

[2018-02-08 09:30] hagen1778 commented on #26
done at https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.3.0

[2018-02-08 09:30] #26 closed

[2018-02-08 12:30] #22 closed

[2018-02-14 12:44] snatch2013 opened #34 "adhoc filters"
Hello,
is it possible to add AdHoc filters similar to InfluxDB plugin?

Regards,
Vladimir

[2018-02-14 13:51] hagen1778 commented on #34
Hi @snatch2013
If I understand it correctly, AdHoc filters helps to explore your data. But we are talking about columnar database with huge amount of data and these `on-the-fly` queries might be quite slow.
And there are more questions:
* from which table we must query tags and values?
* for which period we must query the data (day, month or year)?
* how will we apply these filters if there are gr

[2018-02-14 14:05] snatch2013 commented on #34
Adhoc filters are applied automatically to all queries that target the given datasource.
 For example, I parse network logs and NetFlow. Fields can be src ip, dst ip, src port, dst port, protocol, tcp flags, access-list name, etc. On the dashboard can be many graphs and tables, and with ad-hoc filters for influxdb, it is easy to filter data quickly for all graphs and tables but specifying a value

[2018-02-14 14:33] hagen1778 commented on #34
But CH is not a key-value storage. You can't just fetch tags and values, as it required by Grafana API, without defining table and interval. If we will try to get uniq IPs from our table, the browser will just hang because of billions of results.
I've checked postgres and mysql datasources, and they doesn't support AdHocs also.

For our datasource it is possible to define regular variables, and ma

[2018-02-14 14:50] snatch2013 commented on #34
Roman,
I don't need the list of unique IPs. I need to add some filtering condition for every database request on the dashboard.  So if I add ad-hoc filters protocol='tcp', dst_port=53, it will be added to each database request as where protocol='tcp' and dst_port=53.
  Maybe I understand wrong something about grafana, but variables seem not so suitable. For the example above, I have to add the con

[2018-02-14 15:11] hagen1778 commented on #34
Grafana requires to implement next funcs for AdHoc:
* getTagKeys(options)
* getTagValues(options)

It means that tags and values must be queried from datasource

Yes

But no guarantees that every table will have the same list of columns, like `dst_port` and `protocol`.
Also queries might consist of joins and inner requests and we can't just add `where protocol='tcp' ` in the end of query

I see th

[2018-02-14 15:26] snatch2013 commented on #34
They collect tag keys and values just to provide the ability to choose from the list. But, you can also type manually any field name, it shouldn't be the tag name. Also, it is possible to type any value, not only to choose from the list. So in case of clickhouse, it seems like it possible to fetch the list of columns and show this list, but of cause there is no need to fetch all values.

 So, acco

[2018-02-14 15:39] hagen1778 commented on #34
Good point. I can try to fetch all columns and their types from system.columns. And after each change parse all queries into AST and add conditions into `WHERE` statement at root level. I need more time for this.

Thx for your patience!

[2018-02-14 15:42] snatch2013 commented on #34
Thanks, Roman

[2018-02-17 21:45] ei-grad commented on #34
Imho, the term "adhoc filters" makes no sense on a SQL data source. InfluxDB, which you mentioned, is very different from this. It is a specialised timeseries database - group by time intervals and tags, filter by fields values, single measurement per query (measurement is like a table in RDBMS, hardly speaking), and it has an SQL-lilke syntax and some SQL keywords. It is simple and a good fit for

[2018-02-20 11:40] mattbostock commented on #34
We have a use case where we have a drop-down list of ad-hoc filters that we commonly use (e.g. filtering for HTTP request code 200).

Using the SqlDB plugin, it's possible to use ad-hoc filters by adding `AND ($filter)` to the where clause. The value of `$filter` is unquoted using the SqlDB plugin, e.g. the query sent to Clickhouse includes:

[code]

This technique does not work with the Vertamedi

[2018-02-20 11:54] ei-grad commented on #34
Maybe it would be easier to transform the $table to a subquery with this filters applied? It wouldn't require any AST hustle and $timeFilter should be applied in this subquery (the additional point here - it is now easy to produce the excessive load on Clickhouse server by accidently running several large full-range queries if one forgot to specify $timeFilter while writing the query).

[2018-02-27 10:12] hagen1778 commented on #34
Hi @mattbostock

Plugin automatically quotes string arguments in variables. I did it to simplify query building:
`WHERE Type = $type` - here u don't need to know whether $type variable is integer or string. The same quoting is used for `IN` arguments - `('type1', 'type2')` or `(1,2)`

[2018-02-27 10:19] hagen1778 commented on #34
@snatch2013
I've implemented adhoc filters in #35
Could u plz check whether it's ok for u? U need simply download plugin from that branch and copy into grafana plugin folder to make it work.

Some info about adhocs:
* If there is an adhoc variable, plugin will fetch all columns of all tables of all databases (except `system` database) as `tags`. So in dropdown menu u will see options kinda `databa

[2018-03-04 13:11] aminalaee opened #36 "Time series last point is not the real last point"
Hello
I've seen some weird behavior using clickhouse-grafana data source, it gets the last point from backend correctly, but it shows another value on the graph. But for other points it's showing the correct value. And this patterns is repeated for every last point.
Here are the screenshots
![rsz_screenshot_from_2018-03-04_16-51-53](https://user-images.githubusercontent.com/19784933/36946067-71ec3

[2018-03-04 22:29] hagen1778 commented on #36
Hi @aminalaee
Plugin extrapolates last datapoint if timerange is `last N` to avoid displaying of constantly decreasing graphs when timestamp in table is rounded to minute or bigger. If it so then in 99% cases last datapoint will be much less than previous one, because last minute is not finished yet. That's why plugin checks prev datapoints and tries to predict last datapoint value just as it was

[2018-03-05 05:15] aminalaee commented on #36
Thank you @hagen1778 for the quick reply and this great tool. I think it'd be great if it's added to the docs somewhere and even better if it's configurable as you said. `extrapolate last datapoint` would be fine.

[2018-03-05 05:15] #36 closed

[2018-03-06 10:42] Akint opened #37 "Allow to use variables as column names"
Hello,

I have a table with number of columns of similar meaning (for example, count of errors by types, where each column represent certain error type).
Example:
[code]
I want to place graphs based on data from all of these columns on single dashboard without hard-coding column names. As a result, if any column is added or removed, dashboard is rebuild automatically.
By default, datasource (or gr

[2018-03-06 16:44] hagen1778 commented on #37
Hi @Akint
Indeed, plugin add quotes to variables with `multi-value` or `include-all` options.
Are you trying to build a panel with multiple columns or dashboard?
If second, you might try to use repeated panels/rows (http://docs.grafana.org/reference/templating/#repeating-panels)

[2018-03-07 04:55] Akint commented on #37
I tried to use repeated panels and rows and it did't work out of the box since it tried to select string instead of column:
[code]
That's why I had to write the function I mentioned before.
Or have I got your suggestiong wrong?
![repeated4column](https://user-images.githubusercontent.com/2721104/37074101-8d929c1c-21fd-11e8-943a-8b20c7529085.png)
![repeated4column2](https://user-images.githubuserco

[2018-03-07 16:57] hagen1778 commented on #37
No, you are totally right. It seems like adding a new macros like `unescape` is the best solution, because we can't change variables create form(add some new checkbox etc). If you have time and desire, I'll be glad to accept a pr. Otherwise you will have to wait till the end of week for this macros

[2018-03-07 16:58] hagen1778 commented on #34
@snatch2013 up

[2018-03-07 17:51] simPod opened #38 "When using $columns with JOIN getting Code: 62, e.displayText() = DB::Exception: Syntax error"
I have tried the query from https://github.com/Vertamedia/clickhouse-grafana/issues/33#issuecomment-360710880

[code]

However I'm getting error

It seems like the plugin didn't transform it into query for some reason. Using v1.3.1. Thanks for help!

When I do this, it works

[code]

[2018-03-07 18:26] snatch2013 commented on #34
Roman, sorry for late answer. I will check it today.

[2018-03-08 02:35] snatch2013 commented on #34
I have downloaded the branch adhoc-filters, restarted the grafana-server, but wasn't able to make it work.
When I add the variable with type adhoc-filter, I receive a warning that this type of datasource doesn't support adhoc filters. After that, on the dashboard, I can add filters, but they don't have any effect on the output. Also, there is no list of columns to choose from and there is no optio

[2018-03-08 07:57] hagen1778 commented on #34
Hi @snatch2013
This is strange, it should work. I've just tested it:
* downloaded latest grafana (`brew install grafana`)
* downloaded adhoc branch `https://github.com/Vertamedia/clickhouse-grafana/tree/adhoc-filters`
* copied source code to plugin directory
* started grafana
* configured datasource
* added adhoc filter to dashboards

![adhoc](https://user-images.githubusercontent.com/2902918/3713

[2018-03-08 08:05] hagen1778 commented on #38
Hi @simPod
I've just tested your query in `master` branch and it works well. Generated query is:
[code]

If in `generated query` you are seeing query with macroses it means that plugin failed trying to build AST. In that case try to check 'console' in developer tools for error message

[2018-03-08 09:31] snatch2013 commented on #34
Yes, sorry, it was my mistake. I missed that the name of the variable should be adhoc. Now it works.
Thanks a lot, this is a very helpful functionality for us.

Regards,
Vladimir

[2018-03-08 09:56] hagen1778 commented on #34
Ok, I'll merge it

[2018-03-08 10:34] hagen1778 commented on #34
see https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.4.0

[2018-03-08 10:34] #34 closed

[2018-03-08 11:07] simPod commented on #38
I'm trying to install latest v so I can see the problem persists. How do you install it? I replaced the files in plugins dir, `yarn build`, restarted Grafana however it still loads old files. Do you have any trick for that? The weird thing is I can see v 1.4.0 in my _installed plugins_ list 🤔

You were right, I'm getting `AST parser error:  undefined` on `sql_query.ts:43` `console.log('AST parser

[2018-03-08 11:16] simPod commented on #38
Probably some browser cache thingy. In private mode it serves new file. Still getting the error at https://github.com/Vertamedia/clickhouse-grafana/blob/master/src/sql_query.ts#L70 Wonder why it is working for you... Will try to put some console.log()s

[2018-03-08 11:19] hagen1778 commented on #38
Hm, maybe there some other conditions triggering this error. Can you try to create new dashboard, new panel with CH datasource and insert your query there (even without query settings like `table` etc.)?

[2018-03-08 11:48] simPod commented on #38
Not helping. But can you verify it works when specifying database?

[2018-03-08 11:55] simPod commented on #38
_I mean schema_

[2018-03-08 13:51] hagen1778 commented on #38
It works for me in both cases. Could you plz make a dashboard with non-sensitive data, reproduce the error, export dashboard as json and send it to hagen1778@gmail.com ?

[2018-03-09 13:05] mattbostock opened #39 "Publish version 1.4.0 on Grafana plugins site"
Please publish version 1.4.0 to the Grafana plugin site:
https://grafana.com/plugins/vertamedia-clickhouse-datasource

[2018-03-09 14:46] Akint commented on #37
@hagen1778, sorry, I am not skilled enough to implement it right, so I'll wait.

[2018-03-09 15:42] hagen1778 commented on #39
will do)

[2018-03-11 09:48] hagen1778 commented on #37
Hi @Akint
Plz check branch https://github.com/Vertamedia/clickhouse-grafana/tree/unescape for new macros `unescape`. Documentation and richeditor autocompletion updated with info about new macros.

How to test it:
* download source code from branch
* put it into Grafana's plugin directory
* restart Grafana
* test it

[2018-03-12 05:32] Akint commented on #37
@hagen1778, it works like a charm, thank you! I have even managed to create a graph contained of all metrics:
[code]
![single_graph](https://user-images.githubusercontent.com/2721104/37267170-22b8ebc4-25f1-11e8-8e58-41db5225da6b.png)

By the way, the plugin breaks `->` operator (lambda function): from query `x, y -> (x,y)` it generates query `x, y - >(x, y)`. So I had to use uglier version `lambda

[2018-03-12 06:43] hagen1778 commented on #37
yes, submit the issue plz

I meant the autocompletion help - when you typing the name of the func/macros `richeditor` should give some additional info about it.

[2018-03-12 17:16] hagen1778 commented on #37
Hi @Akint
Lambda issue was solved at https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.4.1

[2018-03-12 17:16] #37 closed

[2018-03-12 17:22] hagen1778 commented on #39
opened pr https://github.com/grafana/grafana-plugin-repository/pull/244

[2018-03-12 17:23] #39 closed

[2018-03-15 06:41] mattbostock commented on #39
Thanks!

[2018-03-16 10:48] simPod commented on #38
We have grafana behind VPN. Talked with sysadmins but they do not like it very much :/

[2018-03-17 20:49] kak-tus opened #42 "Latest version broke some of queries"
May be it was broken in 1.4.1 or in 1.4.0.

Plugin got query and send it to Clickhouse without some symbols.
See resulting query. There is no comma here "AS t     toRelativeMinuteNum"

Settings
![image](https://user-images.githubusercontent.com/3152421/37559820-8611490a-2a3d-11e8-94dc-437be21e40bf.png)

Query
[code]

Resulting query
[code]

Target table
[code]

[2018-03-18 10:13] kak-tus commented on #42
Sorry, I forgot: grafana was also updated from 4.6.3 to 5.0.3.

[2018-03-18 11:34] hagen1778 commented on #42
Hi @kak-tus
There was an issue with `UNION ALL` support. I hope it fixed now in #43
Can you verify?

[2018-03-18 12:37] kak-tus commented on #42
Thank you, it's fine now.

I've tried broken query - it's ok.
And for test query like this
[code]
It's also ok.

[2018-03-18 12:37] #42 closed

[2018-03-21 19:38] bopohaa commented on #3
A stable release of grafans came out. Probably it's time to resume the task?

[2018-03-22 10:37] bopohaa opened #44 "Matching the alias prefix with the keyword "format""
I have a request

[code]

Translated to

[code]

[2018-03-26 10:28] bopohaa opened #45 "Not correctly formed sql when used select as a nested expression"
For
[code]
Generate
[code]
Missing white space between 'DB.Table' and 'WHERE'

[2018-03-26 10:52] bopohaa commented on #45
As a temporary solution we use
\src\scanner.ts:224
[code]

[2018-04-01 06:39] hagen1778 commented on #44
Hi @bopohaa

Partial statement match was fixed in master branch but not released yet. I'll notify about new realese

[2018-04-01 06:42] hagen1778 commented on #45
Hi @bopohaa

I supposed that after `SELECT` statement always must be `FROM`. But CH allows to do it in multiple way. So I add a temp workaround in master branch. I'll notify about new release

[2018-04-04 19:52] baoxiao opened #48 "don't support latest clickhouse which doesn't require date column"
The latest clickhouse support customized partition, so date column is not a must, but the plugin data ranger filter is still based on date column if we don't have data column and use datatime column for both Colum:date and Column:datetime variable, so for range fiter:
 where (event_time >= toDate(1518030541)) AND (event_time <= toDate(1522869530)) always return 0 records, should change to
where (e

[2018-04-09 07:31] hagen1778 commented on #38
I'm closing it for lack of activity

[2018-04-09 07:31] #38 closed

[2018-04-09 07:38] hagen1778 commented on #45
Hi @bopohaa
Check latest release https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.4.3

[2018-04-09 07:38] #45 closed

[2018-04-09 07:38] hagen1778 commented on #44
Hi @bopohaa
Check latest release https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.4.3

[2018-04-09 07:38] #44 closed

[2018-04-09 07:46] hagen1778 commented on #48
Hi @baoxiao

I've checked CH documentation and Date type column is still mandatory for [MergeTree](https://clickhouse.yandex/docs/en/table_engines/mergetree/) engine.

[2018-04-09 19:24] baoxiao commented on #48
they may not update their document, we already use mergetree table without
date column using custom partition

https://clickhouse.yandex/docs/en/table_engines/custom_partitioning_key/

On Mon, Apr 9, 2018 at 3:46 AM, Roman Khavronenko <notifications@github.com>
wrote:

[2018-04-11 22:44] podshumok opened #49 "Allow "(" in unescape macros"
With this one can pre-program not only possible fields to display but also some functions like `max(field1, field2)`

If you do that now resulting SQL will contain `max(field1, field2')`: note single quote.

[2018-04-17 13:17] leoluk opened #50 "Minimum step"
There should be an additional "Minimum step" field that sets a lower bound for the auto interval/step.

Depending on timestamp precision, it can be necessary to specify a minimum step - there's no point in doing per-second aggregates when the precision of the underlying data is a multiple of that.

[2018-04-20 13:27] kolsys opened #51 "$columns broken in version 1.4.3"
Macros $columns stop working for new panels between version 1.4.1 and version 1.4.3
[code]
Converts to
[code]

[2018-04-20 13:44] kolsys commented on #51
Sorry, it's frontend proxy bug.

[2018-04-20 14:48] hagen1778 commented on #51
Hi @kolsys
The macros must be used without `SELECT`. Try following:
[code]

[2018-04-20 17:03] kolsys commented on #51
Yes, thats work. But in version 1.4.1 work both variants.
Thanks.

[2018-04-20 17:03] #51 closed

[2018-04-27 12:28] simPod opened #52 "Add interval to $timeFilter"
Macro `$timeFilter` generates something like

[code]

I need to make a comparison between values from last week (-7 days against now)

The way I plan to approach is to make a SELECT for NOW and then join the same SELECT with timeFilter shifted by 7 days back. Is there a way to nicely shift $timeFilter by interval?

Or do I have to type something like

[code]

Thanks

[2018-04-27 12:29] simPod opened #53 "Shouldn't $timeCol macro be $dateCol?"
`$timeCol` macro now represents date column

Shouldn't it be named `$dateCol` then to avoid confusion?

[2018-04-27 15:40] simPod opened #55 "When joining with quoted identifier, it skips it in generated query"
When doing joins like this

[code]

The generated part of query is

[code]

Instead it should be

[code]

I believe it has something to do with https://github.com/Vertamedia/clickhouse-grafana/blob/f56fb8d0d257d067dc22925ab0e573547224b64b/src/scanner.ts#L252

It doesn't skip double quoted identifiers.

[code]

But when `stringRe` value is modified to ``"('[^']*')|(`[^`]*`)|(\"[^\"]*\")"``, it skip

[2018-04-29 16:01] hagen1778 commented on #49
Hi @podshumok
Sorry for late response. I have just tried to use some func in `unescape` macros and it works well:
[code]
Converted to:
[code]

Can u provide me with full example of query?

[2018-04-29 16:11] hagen1778 commented on #50
Hi @leoluk
It sounds reasonable for performance. But situations when user browsing so short periods so that interval becomes too low (seconds) are pretty rare. And even if these situations are happening - it would be easy for CH to process so short periods. Or I missed something?

[2018-04-29 16:41] hagen1778 commented on #55
Hi @simPod
I've tried following example:
[code]
And it converts into:
[code]

Can u provide me with full query and version of plugin?

[2018-04-29 19:49] simPod commented on #52
Ok, thanks for reply! Timeshift is not applicable in my use case but I tried using `$from` and `$to` and it's good enough.

[2018-04-29 19:49] #52 closed

[2018-04-29 20:01] simPod commented on #55
I had 1.4.1, it seems to be working with the latest. Sorry for false report ;)

[2018-04-29 20:01] #55 closed

[2018-04-30 10:52] ennio1991 opened #57 "Worldmap Panel Issue"
Hi, I have a click house table with the following schema:
`UserID	UInt32
lat	Float64
lon	Float64
city	String
country	String
countryCode	String
day	Date
DateTimeValue	DateTime`

Data Sample:
![screen shot 2018-04-30 at 12 13 26](https://user-images.githubusercontent.com/14088522/39423989-e307d6f2-4c74-11e8-93be-f2b0295c7628.png)

I will like to set WorldMap based on countryCode field.

So I did thi

[2018-04-30 13:31] ennio1991 commented on #57
Solved,
I had to use the groupArray function.
Maybe this should be documented.

Query:
`SELECT 1,
groupArray((c, Reqs)) AS groupArr
FROM (
SELECT countryCode as c,
count(*) as Reqs
from $table
where $timeFilter
Group  by c
order by Reqs desc
)`

[2018-04-30 13:31] #57 closed

[2018-04-30 13:42] hagen1778 commented on #57
Hi @ennio1991
Yes, should be documented in README

[2018-04-30 13:48] hagen1778 commented on #1
![download](https://user-images.githubusercontent.com/2902918/39430337-47513f4c-4c96-11e8-981d-04533538abec.png)

[2018-04-30 14:02] hagen1778 commented on #57
https://github.com/Vertamedia/clickhouse-grafana#worldmap-panel-httpsgithubcomgrafanaworldmap-panel

[2018-05-01 20:14] #53 closed

[2018-05-07 12:34] simPod opened #58 "Doesn't support macros in Query Variables"
Is there a way to use macros like `$from` or `$to` in Query Variables? The plugin doesn't seem to replace it in the query.

[2018-05-07 12:55] hagen1778 commented on #58
Hi @simPod
Plz check https://github.com/Vertamedia/clickhouse-grafana/issues/10

[2018-05-08 13:17] fr05t1k opened #59 "Does the plugin support "Series overrides"?"
Is it possible to make graph for current period and from previous month for example?
I tried to use Series Overrides but it seems like it doesn't work.

[2018-05-08 17:01] simPod commented on #58
Looks like you're right, just tried with postgres data source. Thanks for reply!

[2018-05-08 17:01] #58 closed

[2018-05-09 06:31] hagen1778 commented on #59
Hi @fr05t1k
[Series Overrides](http://docs.grafana.org/features/panels/graph/#series-overrides) in Grafana allows to change only visual aspects, but not time range. I guess, there is misleading regex value for `alias or regex` in example.

If you are looking for time shifting - plz take a look on [time range](http://docs.grafana.org/features/panels/graph/#time-range) tab

[2018-05-09 07:38] fr05t1k commented on #59
As I understand Time range allow to shift all metrics. I'm trying to do smth like [this](https://community.grafana.com/t/advanced-graphing-part2-visualize-timeshift/365)

[2018-05-09 07:45] fr05t1k commented on #59
I got it. Seems like ge has 2 metrics which are shifted manually

[2018-05-09 07:52] fr05t1k commented on #59
But when I do smth like this
[code]

The data becomes outside of time range.

[2018-05-09 08:27] fr05t1k commented on #59
Yes. That's what I need. Thanks ;)

[2018-05-09 08:27] #59 closed

[2018-05-14 13:15] eveningsteps commented on #3
yep, it will be much appreciated (especially considering activity in grafana/grafana#6841)

[2018-05-16 19:33] simPod commented on #48
@baoxiao do you need a date column to use this datasource then? I'm wondering whether I can switch to tables without date column already. Or do you have it there until this datasource supports it?

[2018-05-23 20:00] ryn9 commented on #48
I have also been bit by this, but have worked around it by tinkering a lot with my queries.
Code patching or documentation update should be in order, as this is not obvious

Here is an example table definition:
CREATE TABLE default.test
(
     time DateTime,
     dest_ip String
)
ENGINE = MergeTree
PARTITION BY toYYYYMMDD(time)
ORDER BY time

When configuring your query:
setup the Column:Date as w

[2018-06-05 07:49] hagen1778 commented on #49
Closed due to inactivity

[2018-06-05 07:49] #49 closed

[2018-06-05 14:08] adzhurinskij opened #62 "Variables in templating query"
Hi,

How can i use $timeFilter in templating query?

Now, vars not build in query.

![clickhouse_timefilter](https://user-images.githubusercontent.com/12733926/40981136-e3bb472a-68e2-11e8-9730-b0e98f4bedbb.png)

[2018-06-05 14:33] hagen1778 commented on #62
Hi @adzhurinskij
Plz check #10

[2018-06-05 14:47] adzhurinskij commented on #62
Thanks. You are right.

[2018-06-05 14:47] #62 closed

[2018-06-05 15:04] amarao opened #63 "Options for datasource configuration (yaml)"
New grafana allow administrators to use `conf/provisioning/datasources/something_here.yaml` mechanism to provide datasources through configuration  tools (e.g. ansible).

I'm trying to construct a valid json to describe a proper configuration, but it's hard. Could you add example into documentation somewhere?

My current best efforts:
[code]
Things I don't know how to set up:

defaultDatabase:
Use

[2018-06-08 13:10] leoluk opened #64 "Key column detection breaks tables without timeseries key"
Changes introduced in #60 introduce a regression. Maybe make it configurable? Really useful otherwise, thanks for this!

(ping @vavrusa)

Example query:

[code]

![image](https://user-images.githubusercontent.com/859697/41159643-7e10bcdc-6b2d-11e8-97b8-e829c74ba80a.png)

[2018-06-08 13:17] leoluk commented on #64
For anyone who encounters the same issue: with the change, you can actually use "Format as table" instead of "Format as timeseries" now. With "Table", all works as expected!

[2018-06-08 13:17] #64 closed

[2018-06-08 21:11] amarao commented on #63
Thank you!

[2018-07-05 01:44] ctaity commented on #50
HI some news about this?

[2018-07-05 01:48] ctaity opened #65 "Interval or timebucket"
Hi, is there a way to user a interval variable type?
I like to have 30 minutes min interval. Thanks.

[2018-07-05 08:03] hagen1778 commented on #65
Hi @ctaity

I'm not sure I understand the question. If you want to set resolution (a point per time interval) - take a look into Step and Resolution params. They are set automatically based on the current time-range and you can override them if it's needed.

[2018-07-05 08:04] hagen1778 commented on #50
Closed due to lack of activity

[2018-07-05 08:04] #50 closed

[2018-08-02 07:41] hagen1778 commented on #65
Closing due to lack of activity

[2018-08-02 07:41] #65 closed

[2018-08-02 10:58] subuk opened #70 "Time column displayed as metric value"
Hello,

If I update datasource plugin from 1.5.0 to 1.5.1, time column starts to be displayed as metric value:
![image](https://user-images.githubusercontent.com/702942/43579760-d3a4c69e-965b-11e8-8586-3c2ea11b3a90.png)
![image](https://user-images.githubusercontent.com/702942/43579684-978e6c46-965b-11e8-86a2-5f3a31ab19dc.png)

I think problem somewhere in the 5ff2d16.

[2018-08-02 11:11] subuk commented on #70
But looking through the source code I found, that I can rename time column to the name from the group by clause and problem disappears, so I am not sure that this is a bug, just unexpected behaviour, maybe it should be fixed as part of #48

![image](https://user-images.githubusercontent.com/702942/43580356-def079c4-965d-11e8-95ea-3cc9492b7672.png)

[2018-08-02 14:02] TH-HA opened #71 "Question:Expose timefilter in query variable ?"
Query variable to build dynamic filter and is a key feature of grafana.
I'm looking to use this feature on the top of clickhouse to let him select an application and display some metrics. As there is thousand of applications , i want to display only a Top X application on those filter.
But to do that i need to access to the timefilter and update the variable when the time range is changed.
I know

[2018-08-02 14:11] TH-HA commented on #71
Just to be exhaustive in my description , the query variable without allowing to access to the time range has 2  very negative effects :
     - The list of possible value is not accurate and this can lead to empty dashboard ( as the query is done on all the data )
    - this can kill the system as querying the whole database can take dozen of seconds which make dashboard display very very slow.

[2018-08-03 10:00] TH-HA commented on #71
just realize that you have commited the annotation query which may add such kind of feature.
If you want someone to test it. I'll be happy to do it.
Regards

[2018-08-03 13:30] hagen1778 commented on #71
Hi @TH-HA

Yes, it would be nice to have such option as `$__timeFilter` in variable queries. And we have corresponding pr (#66) from community to add that option. I hope it will be added this or next week. Thank you!

[2018-08-03 14:05] hagen1778 commented on #70
Hi @subuk

Indeed, there is a misleading behavior. It's connected with the assumption that fields in `GROUP BY` must be present in `SELECT`. But seems like ClickHouse is too flexible and allows to do anything we want :-)
There is no need in wrapping request, just `GROUP BY` the field in your `SELECT` - `time`:
[code]

[2018-08-07 20:35] hagen1778 commented on #71
Hi @TH-HA

Take a look https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.6.0

[2018-08-08 12:44] TH-HA commented on #71
Thanks a lot it works perfectly and open new usage of grafana with Clickhouse.
Thanks again.

[2018-08-09 07:47] #71 closed

[2018-08-09 07:48] #70 closed

[2018-08-12 07:01] ondevelop opened #72 "Variables: when "Include All option" is set"
Is it possible, do not include "IN" operator to query if the variable has a too many values?

[2018-08-13 01:30] ondevelop commented on #72
@hagen1778  Oh, of course! Thank you!

[2018-08-27 07:15] Akint commented on #65
Maybe I can describe the need.
Grafana supports so-called [Interval variables](http://docs.grafana.org/reference/templating/#interval-variables) that represent a time span (eg. `1m`, `1h`, `1d`).
I would like to be able to create such a variable with human-friendly values and to let user choose aggregation interval (to go from by-hour aggregation to by-day aggregation with a couple of mouse clicks

[2018-08-30 22:57] bobrik opened #74 "Adhoc in subqueries"
I have a dashboard with adhoc filter set to some customer. I want to plot rps for top X things on that customer. This doesn't work, because adhoc filters are only applied to outer queries, which is fair.

Let's have a variable that I can manually plug into the subquery.

cc @vavrusa

[2018-08-30 23:06] bobrik opened #75 "Allow setting database and table for adhoc filters"
Currently the query is:

[code]

In our production instance this is unmanageable:

[code]

Grafana gets 1.8MB of JSON just to show the list of fields available and the list with 14016 items is going to be usable for ad-hoc discovery.

Most of the time people are not interested in all databases and tables, but rather focus on one in a single dashboard. I propose to add some filtering capabilities,

[2018-08-31 00:07] bobrik opened #76 "Align steps to time filter boundaries"
Currently the following can happen:

* `$timeSeries` resolves to `(intDiv(toUInt32(datetime), 300) * 300) * 1000`
* `$timeFilter` resolves to `date >= toDate(1535652207) AND datetime >= toDateTime(1535652207)`

As a result we get a graph like this:

![image](https://user-images.githubusercontent.com/89186/44885662-f9b04f80-ac76-11e8-9910-bba529424783.png)

There's a dip on the left, because the bu

[2018-08-31 00:18] vavrusa commented on #75
If you set default database in the datasource, it will use that. AFAIK it's not possible to parametrize ad-hoc filters, Grafana would need to provide provide an interface for that first: https://github.com/grafana/grafana/blob/e1beaaa0f72dd3238dfda17bf31b82fb71a2ccc2/public/app/features/templating/editor_ctrl.ts#L91

[2018-08-31 06:46] Akint commented on #65
@hagen1778, shouldn't this issue be reopened?

[2018-08-31 08:34] hagen1778 commented on #75
Hi @bobrik @vavrusa

Yep, adhoc filters can't be parametrized in current implementation. But we can try to create a constant variable with strictly defined name like `AdHocQuery` with value e.g. `SELECT database, table, name, type FROM system.columns WHERE table='myTable' ORDER BY database, table`. Then make it hidden to avoid displaying in the top of dashboard. Since adhoc queries are running whe

[2018-08-31 10:15] hagen1778 commented on #65
Hi @Akint

Thx for pinging me. I totally forgot about it)
I can suggest a workaround:
1. Create a table `intervals` in CH (probably Log engine) with columns `text` and `value`
2. Insert data like `INSERT INTO intervals VALUES('1m', 60),('1h', 3600),('1d', 86400)`
3. Create a variable of type `Query` with CH as datasource.
4. Set query as `SELECT * FROM intervals`
5. Use variable as you mentioned b

[2018-08-31 11:15] hagen1778 commented on #76
Hi @bobrik

There is an option for rounding timestamps in query editor:
![round](https://user-images.githubusercontent.com/2902918/44909465-22445200-ad28-11e8-9c2a-3af8546249cc.png)

Or you suggest to apply it automatically according to `step` and `resolution` params?

[2018-08-31 11:29] hagen1778 commented on #74
Hi @bobrik @vavrusa

Thank you for contribution. The issue will be closed on release

[2018-08-31 17:57] bobrik commented on #76
I suggest to do it automatically. My dashboard calculates step dynamically based on time range, but I can't just paste `$step` into Round field, unlike Step:

[code]

![image](https://user-images.githubusercontent.com/89186/44928381-93760c00-ad0c-11e8-94ff-70ecd19109df.png)

[2018-08-31 18:03] bobrik commented on #75
I'm fine with having something like `adhoc_query_filter`, let's make it happen.

In the meantime I filed an issue for Grafana itself: https://github.com/grafana/grafana/issues/13109.

[2018-09-01 07:02] hagen1778 commented on #76
Using `$step` variable is a great idea! I'm not sure about rounding time boundaries automatically since it can lead to some misunderstandings. But using of `$step` variable will help us to choose whether we need rounding or not. I've added support of `$step` variable in master branch. If `$step` is set as value it will be replaced with multiplication of actual Step and Resolution (see hint near th

[2018-09-04 23:36] bobrik commented on #76
Before:

![image](https://user-images.githubusercontent.com/89186/45063014-9badae80-b060-11e8-8e3f-ceb261a60a46.png)

After:

![image](https://user-images.githubusercontent.com/89186/45063018-a5371680-b060-11e8-975d-7f3d52850fa1.png)

Looks much better, thanks!

[2018-09-05 08:34] hagen1778 commented on #76
Great! Pls see https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.7.0

[2018-09-05 08:36] hagen1778 commented on #75
Hi @bobrik

Pls see https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.7.0
Check the Readme updates at https://github.com/Vertamedia/clickhouse-grafana#ad-hoc-filters

[2018-09-05 08:36] hagen1778 commented on #74
Pls see https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.7.0

[2018-09-05 08:36] #74 closed

[2018-09-21 14:05] snatch2013 commented on #3
Could someone please clarify if this issue closed because alerts have been added or no?

[2018-09-21 14:27] hagen1778 commented on #3
Alert's haven't been added yet. And there are no activity in example repo https://github.com/grafana/grafana-plugin-model

[2018-09-23 16:27] JiriHorky opened #78 "Add $perSecond macro for computing rate for counter-type metrics"
First of all, thanks for the great grafana plugin.

What we are missing in our environment is a $perSecond macro that would be very similar to existing $rate macro, but would compute runningDifference of value as well

$rate is now defined as
`SELECT t, v/runningDifference(t/1000) vRate FROM `

$perSecond should be defined as:
`SELECT t, runningDifference(v)/runningDifference(t/1000) vRate FROM `

[2018-09-23 16:38] JiriHorky opened #79 "Computing rate is sensitive to $step in grafana, rendering wrong results sometimes"
I noticed that at certain zoom levels, the plots are rendered wrongly, exhibiting some saw-like behavior:

![image](https://user-images.githubusercontent.com/427968/45930336-20546400-bf5f-11e8-9ffc-ff1e02fa33f3.png)

whereas the real plot looks like:
![image](https://user-images.githubusercontent.com/427968/45930345-3e21c900-bf5f-11e8-9548-e8c2b2f3d653.png)

The trouble is that we collect metrics

[2018-09-23 17:04] JiriHorky opened #80 "Add macro similar to $rateColumns for counter like metrics"
Similarly to request in #78, please consider adding support for computing $perSecond for multiple series (hosts).

Currently, the $rateColumns computes something like:
[code]

Which does not produce correct results for metrics which only grows over time, as one needs to compute difference between two consequitive values `v` as well (not just time).

Unfortunatelly, doing ``runningDifference(a.2)/r

[2018-09-28 12:18] cosote opened #81 "Improving CH query performance"
Hi guys,

I had not much time to write good code in TS, but forked 1.7.0 and created 2 feature branches with js patches:
https://github.com/cosote/clickhouse-grafana/tree/feature/sequential_query_execution
https://github.com/cosote/clickhouse-grafana/tree/feature/query_template_engine

The sequential query execution patch needs an option in data source to toggle and the query template engine is no

[2018-09-28 13:30] leoluk commented on #81
The queueing feature in https://github.com/Vertamedia/chproxy has a similar goal, btw (restricting concurrent query execution).

[2018-09-28 15:10] cosote commented on #81
Cool - I've missed that... will test it. Interesting to see if chproxy can differentiate between grafana user sessions, then I switch - if not, both implementation are a good match: javascript based like I've done per browser session and chproxy for all grafana based requests. That way I can better control how many concurrent grafana user connection occur. Love it 😋 THX!

[2018-09-29 09:55] hagen1778 commented on #81
Hi @cosote
Thank you for great ideas!

As @cosote mentioned, `chproxy` helps to control concurrent queries to CH. You can configure different policies for each user which is flexible enough for our requirements in Vertamedia. Limits in the browser session couldn't give any warranties is there are more than one user in Grafana. In addition, `chproxy` allows to cache responses which could significan

[2018-09-29 10:40] hagen1778 commented on #78
Hi @JiriHorky
I'm glad plugin helps you in your work!

I didn't understand `perSecond` macros. The `rate` shows values-per-second. Let's check the following example.

I have some test data in table `events`. The table resolution is 1 minute:
[code]

The $timeSeries query:
[code]

The result shows how many events were collected per minute. To calculate per-second we need to divide result as followi

[2018-09-29 10:44] hagen1778 commented on #79
Hi @JiriHorky

There is an option to set `step` manually in the graph params:
![screenshot](https://user-images.githubusercontent.com/2902918/46244841-c552bf00-c3ed-11e8-974c-710d0f7fdd6f.png)

[2018-09-29 15:47] jbornema commented on #81
Hi @hagen1778,
I know and you're totally right with my branches. I had no time to get started with TS yesterday - but will get IDE and all up and running next week - or today/tomorrow if I can. The code was really only hacked into the compiled js files - but can be tested in grafana right a way. I usually use some <%if("$search_regex" != ""){%>and match(SOME_TEXT_FIELD, '$search_regex')<%}%> expre

[2018-09-29 15:51] cosote commented on #81
Hi @hagen1778,
I know and you're totally right with my branches. I had no time to get started with TS yesterday - but will get IDE and all up and running next week - or today/tomorrow if I can. The code was really only hacked into the compiled js files - but can be tested in grafana right a way. I usually use some <%if("$search_regex" != ""){%>and match(SOME_TEXT_FIELD, '$search_regex')<%}%> expre

[2018-09-29 17:49] JiriHorky commented on #79
You are right. Setting it manually helped. Thanks.

[2018-09-29 17:49] #79 closed

[2018-09-29 17:55] JiriHorky commented on #78
Hi @hagen1778 ,

thanks for reaching back. For the input that you described, the $rate macro works well. But for "counter" metrics, i.e. metrics that only grow, your input would look like this:

[code]

And for this input, you need to "derive" even the value, not just the time. Please note that this is very standard way of collecting metrics - it is called Counter in collectd, and your "bytes tran

[2018-10-01 02:24] bobrik opened #82 "Templating variables miss dependencies"
Continuing https://github.com/grafana/grafana/issues/13291

It seems like the variable is not populated when query is sent to Clickhouse, resulting in an error:

My templating variable:

![image](https://user-images.githubusercontent.com/89186/46266753-50af7b80-c4e6-11e8-89ce-f53bc79f73a4.png)

Turns into this query:

[code]

Dashboard JSON if you want to reproduce:

* https://gist.github.com/bobr

[2018-10-01 21:35] #75 closed

[2018-10-01 21:46] bobrik commented on #75
@hagen1778, in developer tools I'm seeing this query:

[code]

But in the dropdown I see fields duplicated with and without table name:

![image](https://user-images.githubusercontent.com/89186/46317711-c10ed900-c588-11e8-9ab4-1b420adb00b9.png)

I think only `zoneId` should be shown in this case.

[2018-10-02 04:15] volfco opened #83 "Built in Smoothing Maros"
I've been trying to figure out how to write a moving average or moving median function to help smooth out some erratic data as seen in the provided screenshot.

![image](https://user-images.githubusercontent.com/433045/46328893-94ca7b00-c5cf-11e8-9611-5d187c044d71.png)

If this can be done, I think this would be an extremely useful macros to add.

[2018-10-02 09:44] hagen1778 commented on #75
Hi @bobrik

it's intentional behavior. Pls see https://github.com/Vertamedia/clickhouse-grafana#ad-hoc-filters:

Added in [commit](https://github.com/Vertamedia/clickhouse-grafana/commit/9c0774ec2ca4228f353a3fb64a714392cd17136e)

[2018-10-02 17:55] bobrik commented on #75
Ah, I see. That sounds counter-intuitive from the start, but I like it. This covers some of my needs.

[2018-10-02 18:27] vavrusa commented on #75
It would probably be more convenient to hide it if there was just one table after using `adhoc_query_filter` (or make it configurable).

[2018-10-03 14:46] hagen1778 commented on #82
Hi @bobrik

My config is following:
- plugin Version 1.7.0
- Grafana v5.2.5 (commit: 6f9b734)
- dashboard (I've changed queries to match my metrics) - https://gist.github.com/hagen1778/f448f5202d76c82ab9953b2382417a5a

In my case I see the same behavior for both: clickhouse and prometheus variables. Both requests were sent without variable value, got errors and automatically repeated successfully:

[2018-10-03 21:17] cosote commented on #81
Hi guys,

I move the javascript patches to typescript... It took me some time to get VS Code up and running, and didn't find a fix for the additional \r in the *.js.map files (yes, I'm on Windows...), but should be ok now (for my first TS commits ;)...

Cheers - Cosote.

[2018-10-04 17:05] leoluk commented on #81
Git should take care of CRLF <-> LF conversion (the msysgit installer prompts during setup).

[2018-10-04 18:40] bobrik commented on #82
Can you update the Grafana issue and ask them to reopen if this can be reproduced in playground?

[2018-10-04 19:30] cosote commented on #81
Well, usually I'd say the same, but it's actually the "\r" (2 bytes!) thing in node-clickhouse.js.map... thought it could be fixed with tsconfig.json "newLine": "LF" compiler option, but didn't help... whatever creates that js.map file, seems to really like the "\r" in windows ;)

[2018-10-05 08:32] hagen1778 commented on #82
Yes, I will

[2018-10-11 18:21] bobrik opened #84 "Step alignment breaks rightmost bucket"
This is related to #76.

Here's how it looks when I look at last 24h:

![image](https://user-images.githubusercontent.com/89186/46824800-d7662300-cd46-11e8-8824-12f29cc6823c.png)

But this is how it looks when I ask for a specific 24h:

![image](https://user-images.githubusercontent.com/89186/46824907-1ac09180-cd47-11e8-9af8-adfd2c5f5fe9.png)

Query editor is configured as follows:

![image](https

[2018-10-14 19:47] hagen1778 commented on #78
Hi @JiriHorky ,

Sorry for delay! Now I see the issue. The macros should get the max value from every period, substract the value from previous period and divide by the number of seconds in the period.
Let's introduce new data:
[code]

Then `$perSecond` should be following:
[code]

Is the output correct?

[2018-10-14 19:58] bobrik commented on #82
Looks like this was fixed with https://github.com/grafana/grafana/issues/11890.

[2018-10-14 19:58] #82 closed

[2018-10-14 20:06] hagen1778 commented on #83
Hi @volfco

Do you have some idea how to implement such function? Could the following do what you need?
[code]

and `avg(Column)` calculates average

Please, pay attention to condition `WHERE Column > 0` to avoid null values.

[2018-10-14 20:32] bobrik commented on #84
It should be `<11:05`, because `11:05:00` is already the next bucket.

I'm happy to test a PR locally if you have it.

[2018-10-14 22:50] JiriHorky commented on #78
Hi, yes, that's exactly what I was looking for. :+1:

Now, the interesting incarnation of this enhancement is #80 - I would like to see what's the solution for that :)

[2018-10-15 14:41] hagen1778 commented on #84
Please, try with attached pr

[2018-10-16 17:14] bobrik opened #86 "Ad-hoc queries to dot apply with templated table name"
We have the following query setup:

![image](https://user-images.githubusercontent.com/89186/47034323-e88aa780-d12b-11e8-9fde-1141da8dfbe1.png)

The important part here is that table is templated.

Then we also have an ad-hoc filter:

![image](https://user-images.githubusercontent.com/89186/47034434-369fab00-d12c-11e8-9b4a-2f36936850e2.png)

The filter only works if table is not specified, and it'

[2018-10-17 13:20] hagen1778 commented on #86
Hi @bobrik

It happened because adhoc filters comparing to the queryBuilder settings. It was a surprise for me, that variables can be used there) I also missed the fact, some people could skip query builder and adhoc filters won't work at all. In attached PR I tries to fetch database and table values from the query AST instead of queryBuilder. Please, take a look onto it.
P.S. I lack of data for t

[2018-10-18 08:38] hagen1778 commented on #80
Hi @JiriHorky
Back to #78
Let's introduce new data:
[code]

Here we have a `Type` column and counter `Packets`. It is obvious, that `tcp` grows by 1000 per minute (1000/60=16.6 per second) and `udp` by 2000 per minute (2000/60=33.33 per second).
I think the macros should implement following query:
[code]

Please, note some details:
* Selecting `max` value for period instead of counting, since we'r

[2018-10-21 04:59] volfco opened #88 "Timeshift per query"
It would be extremely useful if there was a way to specify a timeshift per individual query.

We can specify a time shift for panel, but I would like to be able to have one query that shows the current information and one that shows the previous hour, day, week, and so on.

Thanks for the great work!

[2018-10-21 16:50] hagen1778 commented on #88
Hi @volfco

As far as I remember, `timeshift` can't be applied to separate query because we have only one graph to display all the queries. I mean, Grafana panel has only one X-axis which shows the time and if you have two queries with timeshifts it will be unclear which timerange to show on the graph. And if one of your queries is let's say `-1d` it's  results will be invisible because of `out of

[2018-10-21 21:17] volfco commented on #88
That's a good point that I didn't think about. Seems like there shouldn't be any work needed here if Grafana could do this.

Thanks

[2018-10-21 21:17] #88 closed

[2018-10-29 14:52] MichalNedbalek commented on #80
Hi @hagen1778 ,
Thanks a lot for your reply, it's very useful. I'm from @JiriHorky team and I have been testing your query for a while and I think we have a problem when there are missing rows in ClickHouse table. I will try to explain:

This query I want to create should produce a graph of CPU usage of the particular hosts and we want to be able to see the metric for several hosts. After a small

[2018-10-29 17:32] hagen1778 commented on #80
Hi @MichalNedbalek,

I guess I got the idea. Let's introduce updated data:
[code]

We see a little time gap for `udp` type between last two rows. To avoid false results I suggest to use following query:
[code]

The following operations:
[code]
gives us opportunity to compare values of the same type considering the time gaps. Also, the condition `if(diff < 0` avoids false results of comparing the v

[2018-10-30 13:22] MichalNedbalek commented on #80
Hi @hagen1778,

This works perfectly, thank you very much. :) My final version of the query look like this:
[code]
Are going to create the macro for this? If so, I would wait for it, because I want to implement similar queries in some 20+ other graphs and the macro would make everything easier and faster.

Thanks a lot.

[2018-10-30 14:36] hagen1778 commented on #80
Yes, I will implement it. New release will published this week

[2018-10-30 14:51] MichalNedbalek commented on #80
Thanks for info

[2018-10-30 20:18] hagen1778 commented on #80
Hi @MichalNedbalek
 Why there is an additional sub operation in `if(diff < 0, nan, 100 - diff / runningDifference(t) * 1000) AS c`? I mean the following `100 - diff`

[2018-10-31 08:09] MichalNedbalek commented on #80
Hi @hagen1778
Because in this particular case we get `cpu_idle` metric from the hosts. So when I want to calculate percentage of CPU usage I need to subtract the value from 100.

[2018-10-31 16:08] MichalNedbalek commented on #80
I have to wait for a colleague who will update our Grafana and I'm going to test it tomorrow. Thanks for the macros.

[2018-11-01 08:56] MichalNedbalek commented on #80
Hi @hagen1778 ,
We tried the new version and we ended up with all graphs not working with error `query is undefined` and stacktrace like this:
[code]
Today we will try to install it to our testing Grafana and test it there.

As for the `100 - diff` queries, I think it is not necessary to be concerned with it for now. I will use the query as it is now and later we will change the metrics we get fro

[2018-11-01 11:10] hagen1778 commented on #80
Yep, my fault. Should be fixed now. Could you try it again?

[2018-11-05 16:32] hagen1778 commented on #80
@MichalNedbalek ping

[2018-11-07 13:56] hagen1778 commented on #86
Please, see https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.8.0

[2018-11-07 13:56] #86 closed

[2018-11-07 13:56] hagen1778 commented on #84
Please, see https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.8.0

[2018-11-07 13:56] #84 closed

[2018-11-07 13:57] hagen1778 commented on #80
Please, see https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.8.0

[2018-11-07 13:57] #80 closed

[2018-11-07 13:57] hagen1778 commented on #78
Please, see https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.8.0

[2018-11-07 13:57] #78 closed

[2018-11-07 13:57] hagen1778 commented on #48
Please, see https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.8.0

[2018-11-07 13:57] #48 closed

[2018-11-20 17:53] podshumok commented on #49
Hello!

So I finally figured out an example that is simple enough to demonstrate

Here is a minimal dashboard with problem I am dealing with:

[code]
Looks like a problem
In this case macros will add additional `)` after function call and it also will replace `''` symbols in the variable (see `other` option)

[2018-11-22 08:54] acmeguy commented on #81
Hi,

This may be relevant in some cases:
https://github.com/Vertamedia/clickhouse-grafana/pull/89

[2018-11-26 02:45] podshumok opened #90 "Allow "(" in unescape macros"
So I finally figured out an example that is simple enough to demonstrate

Here is a minimal dashboard with problem I am dealing with:

[code]
Looks like a problem
In this case macros will add additional `)` after function call and it also will replace `''` symbols in the variable (see `other` option)

_Originally posted by @podshumok in https://github.com/Vertamedia/clickhouse-grafana/issues/49#is

[2018-11-27 22:14] ctaity opened #91 "Browser TimeZone"
Hi, grafana has an option to view queries with browser timezone. The plugin supports this? Thanks

[2018-12-01 11:00] leoluk commented on #91
It's a Grafana setting - you can specify whether you want UTC or local time.

[2018-12-24 22:37] hagen1778 commented on #90
Hi @podshumok
Yep, looks like a bug

[2018-12-26 00:58] simPod opened #95 "Comments not supported by sql language parser"
When `--` comment is used within query, it doesn't behave like comment
[code]

The query produced is invalid and clickhouse server usually throws `DB::Exception: Syntax error`

[2018-12-26 11:04] hagen1778 commented on #95
Yep, we should implement comments support

[2018-12-27 11:43] vbichov opened #97 "table panel treats string columns as numbers"
there seems to be an issue with the way table element types are inferred:

the following function: https://github.com/Vertamedia/clickhouse-grafana/blob/master/src/sql_series.ts#L177

causes this bug:
https://github.com/grafana/grafana/issues/14660

[2019-01-08 15:42] sbouchex opened #98 "$table should be protected against table having spaces in their name"
My table is having spaces in the name, when using $table, Grafana reports a syntax error because back quote are missing in the table name.

Example My table should be replaced with `My table`

[2019-01-08 20:17] hagen1778 commented on #98
Hi @sbouchex
I wasn't aware of this. Thank you for report!

[2019-01-16 12:17] vane4karock opened #99 "Supporting Clickhouse merge() table function"
Hi guys,

I found that "clickhouse-grafana" doesn't supporting Clickhouse merge() table function when "GROUP BY" in sql-request. On graphs I have data without aggregation. But in "Query Inspector" I can see that plugin get data with aggregation.

Is that possible to create supporting Clickhouse table functions in "clickhouse-grafana"?

[2019-01-21 14:16] sbouchex opened #100 "Improve $columns function to filter out null values"
Current $columns is not filtering null values in the built query. so if the same table contains a column with good values, then a column with null but for the same "key" (OSName in the example), row will be returned instead of nothing for the column containing null value.

The idea is to have the following generated query for the $columns function (or an extended function)

$columns(OSName, count(

[2019-01-23 07:55] #100 closed

[2019-02-03 04:49] hagen1778 commented on #97
https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.8.1

[2019-02-03 04:49] #97 closed

[2019-02-03 04:49] hagen1778 commented on #90
https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.8.1

[2019-02-03 04:49] #90 closed

[2019-02-07 03:37] sergeyykt opened #105 "Can i add variable for control chart visibility?"
For example, i have a number of values of query variable. And i want to generate similar charts with own variable values in one Graph Panel . Is that possible?

[2019-02-07 08:06] hagen1778 commented on #105
Hi @sergeyykt
Probably you need something like [this](http://docs.grafana.org/reference/templating/#repeating-panels).

[2019-02-24 10:24] hagen1778 commented on #105
closed due to lack of activity

[2019-02-24 10:24] #105 closed

[2019-02-24 10:28] hagen1778 commented on #99
Hi @vane4karock!
Can you provide a query example, the actual response and expected response from CH?

[2019-02-24 12:18] simPod opened #108 "No yarn?"
Hi, just wanted to ask what is the reason for this?

https://github.com/Vertamedia/clickhouse-grafana/commit/75bb8b96c389e2ae67e6cc0944190bb679a471b2

This works with npm and yarn as well.

[2019-02-24 13:20] hagen1778 commented on #108
Hi! I thought it won't work with `yarn`. That was my mistake and poor js environment knowledge. Reverted in https://github.com/Vertamedia/clickhouse-grafana/commit/ba76cb1334775a1555100411ca55a0d2bac62604

[2019-02-24 13:20] #108 closed

[2019-02-24 13:58] hagen1778 opened #109 "Panel data errror"
cc @simPod

Datasource js error while trying to display graph panel.

Panel: Graph
Query: `SELECT 1`
Error: `(0 , r.flow)(...)(...).value is not a function`
StackTrace:
[code]

Variables querying works ok, the issue happens with graph panels. Probably connected with build rework.

[2019-02-24 14:00] simPod commented on #109
I'm on it

[2019-02-24 14:07] simPod commented on #108
Cool. They work pretty much the same. Only yarn fixed/added some essential functionality npm once missed. Since npm 5 it pretty much caught up so now they're almost equal. But yarn still has better caching and concurrent download that npm doesn't have AFAIK. Or didn't have in 2018, not sure about the current state.

[2019-02-24 15:36] #109 closed

[2019-02-25 00:48] PeterZaitsev opened #113 "Default Database from DataSource Configuration is not passed"
I have database "airline" set as default  in ClickHouse DataSource options.  Yet Raw queries which just refer to "ontime" table   are directed to  default.ontime database   as seen in query inspector, so it looks like it is not passed in connection properly.

[2019-02-25 00:50] PeterZaitsev opened #114 "Better Reporting of Failed Queries"
I'm comparing ClickHouse to MySQL DataSource

MySQL DataSource has a lot better query debugging functionality where the error text is delivered back to Grafana allowing to understand what is going wrong.  With ClickHouse I only see "Request Error" which is not very helpful for troubleshooting.

[2019-02-25 01:02] PeterZaitsev opened #115 "$from Documentation is Incorrect"
"Help" Says the following:

$from - replaced with timestamp/1000 value of selected "Time Range:From"

While I see $from in my case as UnixTimestamp value of the start date with no division:

SELECT toDate(1393289997)

┌─toDate(1393289997)─┐
│         2014-02-25 │
└────────────────────┘

1 rows in set. Elapsed: 0.001 sec.

[2019-02-25 01:17] PeterZaitsev opened #116 "Inconvenient Transition Back to the Query Editor"
When you open up ClickHouse Query Editor you see this

![image](https://user-images.githubusercontent.com/3651746/53308641-f3d7a780-3870-11e9-930d-c840947283d3.png)

You can click on the Go to Query To see something else

![image](https://user-images.githubusercontent.com/3651746/53308649-08b43b00-3871-11e9-8a8f-ec8c1f17a8c7.png)

However this screen does not have any links to go back to the previ

[2019-02-25 02:45] PeterZaitsev opened #117 "One Day Rounding does not work as expected"
I'm plotting statistical data which is available with 1 day resolution.  As I configure my query I specify 1d for step and rounding.   The data on the graph however ends up not to be one day aligned and confusing:

![image](https://user-images.githubusercontent.com/3651746/53311022-18398100-387d-11e9-88d4-e235a577fd16.png)

![image](https://user-images.githubusercontent.com/3651746/53311051-3bfcc7

[2019-02-25 07:47] vane4karock commented on #99
Hi @hagen1778,

For example:

For query like this:
![default](https://user-images.githubusercontent.com/30746426/53321850-a5ff8580-38ea-11e9-887f-8858a115731d.png)
where

[2019-02-25 08:14] vane4karock commented on #99
Hi @hagen1778,

For example:

For query like
![default](https://user-images.githubusercontent.com/30746426/53321894-cdeee900-38ea-11e9-8a30-d589568e9f5c.png)
where
![default](https://user-images.githubusercontent.com/30746426/53321924-e4954000-38ea-11e9-9652-440f25024580.png)
I have graph like
![default](https://user-images.githubusercontent.com/30746426/53321975-0a224980-38eb-11e9-9d33-fff27fda82

[2019-02-25 14:55] PeterZaitsev opened #118 "ClickHouse-Grafana seems to be incompatible with Explore UI in Grafana 6.0"
Looks like there is some incompatibility.  The queries are not generated  -  see Generated SQL showing simply "true"

![image](https://user-images.githubusercontent.com/3651746/53345670-700ad300-38e3-11e9-9169-b3acd85a6ce4.png)

[2019-02-27 02:51] mail2fish opened #119 "Grafana draw a weired graph"
<img width="1147" alt="image" src="https://user-images.githubusercontent.com/349836/53461811-c52e1c80-3a7c-11e9-9299-d52519460b6a.png">

Grafana Version :  v5.2.2 (aeaf7b2)

SQL

[code]
Generated SQL

[code]

Json response
[code]

[2019-02-27 07:45] mail2fish commented on #119
I got it .  It must to use t as group by field name.

Weired, but it works.

[code]

[2019-02-27 07:45] #119 closed

[2019-03-10 17:13] hagen1778 commented on #98
fixed in https://github.com/Vertamedia/clickhouse-grafana/pull/120

[2019-03-10 17:13] #98 closed

[2019-03-18 12:41] a-venger opened #121 "AST parser error when using AS statement with quotes"
When using query like that
[code]

I got an error in console
[code]

[2019-04-22 05:34] alexz0000 commented on #50
Let's say my interval is 15s,  it cannot specify a minimum step, there will be lots of null values. Could you support the feature?

[2019-04-22 23:05] champtar opened #124 "Table and World map visualization regression between 1.8.0 and 1.8.1"
Hi,

grafana_version: "6.1.4-1"
grafana_plugin_clickhouse_version: "1.8.0"
grafana_plugin_worldmap_version: "0.2.0"
Everything is ok
![Capture d’écran du 2019-04-22 19-56-02](https://user-images.githubusercontent.com/3536755/56538373-39df7d80-6539-11e9-85f6-9553afab3bf1.png)

grafana_version: "6.1.4-1"
grafana_plugin_clickhouse_version: "1.8.1"
grafana_plugin_worldmap_version: "0.2.0"
The maximum

[2019-04-23 00:42] champtar commented on #124
1.8.1 also break table visualisation
1.8.0:
![image](https://user-images.githubusercontent.com/3536755/56542891-369ebe80-6546-11e9-994e-7ac43da4be51.png)
1.8.1:
![image](https://user-images.githubusercontent.com/3536755/56543212-2c30f480-6547-11e9-83e7-62f632e64558.png)

Also when using 1.8.1 the table visualisation sorting sort the numbers as strings
![image](https://user-images.githubusercontent

[2019-04-23 04:14] hodgesrm commented on #124
Thanks for the report @champtar.  We are working on setting up tests for the plugin and will be correcting bugs as soon as we can get them running.

If you see additional problems please do not hesitate to log them.

[2019-04-23 09:05] hagen1778 commented on #124
I guess this is related #97

[2019-04-25 01:47] alexz0000 commented on #50
I think we need an options same as this https://github.com/grafana/grafana/pull/8073

[2019-05-02 16:36] TH-HA opened #125 "no ability to escape variable when navigating between dashboard ( or even with text variable containing quote)"
When using variable with a text box ( which can be entered manually or thru the navigation api ) , the plugin does not escape the content of the variable.

When using predicate such as  a='$variable'  ( or some more advanced one with ngram regexp ...) , CH may refuse the request. It should be nice to extend interpolateQueryExpr to also escape strings or at least to add an operator to escape the va

[2019-05-02 18:11] hagen1778 commented on #125
Hi @TH-HA

Have you tried `$unescape - unescapes variable value by removing single quotes. Used for multiple-value string variables: "SELECT $unescape($column) FROM requests WHERE $unescape($column) = 5"` ?

[2019-05-03 10:44] TH-HA commented on #125
Hello @hagen1778
Yes i've seen this , but this solution in not acceptable in my case. I need to search for exact values in certain context and simply removing the quote lead to wrong result.
Having said that , i have a dirty workaround. As the search string is injected by navigating from a dashboard to another , i'm escaping the string using sql ( replace(string ,'''','''''') ) put the value in hi

[2019-05-05 03:36] alexz0000 commented on #50
@hagen1778, any updates on this?

[2019-05-16 15:28] dmitrysdm opened #127 "Graph message: "No data points" with subquery"
grafana v6.1.6 clickhouse-datasource 1.8.1
Working Query: as result i see graph

[code]
result in query inspector:

[code]
But if i try to do subquery:

[code]

i see same result in query inspector as previously:
[code]

but instead graph, i see message:
"No data points"
without any messages about errors.

[2019-05-19 14:27] dmitrysdm commented on #127
With grafana-6.2.0-beta2 i have the same result :(

[2019-05-24 11:51] minaevmike opened #130 "AST parse error when query contains remote"
I have simple query on single stat panel
[code]
In browser console i see error
[code]
With debugger i found that problem is located in `remote` function after i delete it and add `GROUP BY 1` this issue fixed.
Also it's not obvious that i need `GROUP BY` statement for single stat panel

[2019-06-03 10:17] albenik commented on #117
Same for me!
I investigated this problem a little bit and found that `$timeSeres` macro with `step 1d` produces SQL `(intDiv(toUInt32(ts), 86400) * 86400) * 1000 as t` which gets different result comparing with handmade SQL `toUInt32(dt) * 86400 * 1000 as t`

[2019-06-07 15:39] dnspress opened #131 "Empty time series view"
When I run a query it works properly.
![image](https://user-images.githubusercontent.com/40758698/59116069-543bb200-8953-11e9-95a3-bab56c2bc681.png)

Data inspector shows received data from server
![image](https://user-images.githubusercontent.com/40758698/59115902-f0b18480-8952-11e9-8932-014d05b80ca3.png)
but view is empty:
![image](https://user-images.githubusercontent.com/40758698/59115871-db3c

[2019-06-07 17:07] hagen1778 commented on #131
Hi @dnspress
I assume the problem with timestamps - try to divide them by 1000.
Have you checked default query generated by plugin:
[code]

[2019-06-07 17:10] hagen1778 commented on #130
Hi @minaevmike

Most likely function `remote` is not supported in plugin - see [this link](https://github.com/Vertamedia/clickhouse-grafana/blob/92cc05d3db0c550ed36f5d01bd60deb5566d5fd2/src/clickhouse-info.js) for full list.

[2019-06-10 08:03] dnspress commented on #131
@hagen1778 thanks for the clue!
The problem was with timestamps. I used toStartOfDay(<datetime field>) and it is return a string but grafana waits a long. So toRelativeSecondNum(toStartOfDay(ts))*1000 as "time" fixed the problem.

[2019-06-10 08:03] #131 closed

[2019-06-10 14:06] aayush-remaxys opened #132 "Can't get a basic query to work.. Error Code: 62, e.displayText() = DB::Exception: Syntax error: failed at position 64: 3G Cell/Ericsson/15 Minutes FORMAT JSON . Wrong number, e.what() = DB::Exception"
I am new to grafana so am trying out rather basic queries but getting stuck at this point and can't make sense of this error message. I have tried various queries but can't move past this.
Code: 62, e.displayText() = DB::Exception: Syntax error: failed at position 64: 3G Cell/Ericsson/15 Minutes FORMAT JSON
. Wrong number, e.what() = DB::Exception

I have tried to connect to same clickhouse databa

[2019-06-19 20:07] rickysaltzer opened #133 "Panel Data Error (Grafana v6.2.1)"
Getting the following panel error while attempting to run any query (even the default count) against ClickHouse.

[code]

Also, when hitting "Generated SQL" I receive only the following response
`true`

![image](https://user-images.githubusercontent.com/347356/59796801-44559380-92ac-11e9-98c3-14b13efa1641.png)

[2019-06-19 21:22] rickysaltzer commented on #133
Sorry, this has been fixed. The deps are in the GitHub repo but are included in the Grafana plugin website.

[2019-06-19 21:22] #133 closed

[2019-06-25 20:49] kbespalov commented on #117
+1 the same issue

[2019-06-28 14:31] ctaity opened #134 "Feature in macro, with fill slots"
Is there a way to somehow fill the whole given interval? Like InfluxDB has fill argument for group or TimescaleDb's time_bucket() function with generate_series() I tried to search ClickHouse documentation and github issues and it seems this is not implemented yet so the question perhaps is whether there's any workaround.

In click house this feature can be implemented with a union. Here an example

[2019-07-09 11:01] dan-hughes opened #135 "$__from and $__to changing the rawQuery value in the dashboard and triggering save prompt."
I have the Grafana $__from and $__to built-in variables used in a dashboard panel.
When these change in the dashboard the rawQuery value in the dashboard JSON model changes which is triggering a save changes prompt.

Culprit looks to be [here](https://github.com/Vertamedia/clickhouse-grafana/blob/bec8b079030756c88354dfeb79150c009ea38492/src/sql_query.ts#L100).

Looking at the Grafana datasource pl

[2019-07-13 12:17] tlightsky opened #136 "failed to connect to my clickhouse server"
use [docker-clickhouse-grafana](https://github.com/lmangani/docker-clickhouse-grafana) to setup the env
and add my datasource to it,
it can connect to the server inside in same `docker-compose.yml` file,
but can't connect to my real server
the hint is:
[code]

[2019-07-18 19:10] hagen1778 commented on #136
Hi @tlightsky
Looks like your real server is behind some authentification system (likely basic auth) and datasource should be configured accordingly. So this is more question of configuring datasource in Grafana than datasource issue.
Keep in mind, that Grafana supports two ways of access to datasource: server and proxy. Server means that request to datasource will be send from Grafana backend, fr

[2019-07-18 19:29] hagen1778 commented on #135
Hi @dan-hughes !

Thank you for the question!

`Query` is the query you write in the Grafana query field. `RawQuery` is a final query which should be executed by ClickHouse after all replacements and modifications. For example, if `query` contains `$timeFilter` macros then `rawQuery` will be populated with current time filters. That means `rawQuery` is almost always changing with every execution.

[2019-07-19 06:32] dan-hughes commented on #135
Hi @hagen1778,

I do use the $__from and $__to Grafana time variables if this makes any difference but I have tried the clickhouse-grafana $from and $to variables too.
I have opened a dashboard last saved another day and saved the dashboard when prompted and not changed anything else. I have then compared the JSON models for the dashboard from the two saves and the only difference is the variables

[2019-07-20 13:59] tlightsky commented on #136
thanks for reply,
maybe it's about the docker,
i'll try to run it in host and see can i get it work

[2019-07-31 00:30] tlightsky commented on #136
deployed without docker, seems ok now, not sure why it doesn't inside docker

[2019-07-31 00:30] #136 closed

[2019-08-06 06:50] #121 closed

[2019-08-06 11:42] #113 closed

[2019-08-14 04:56] #132 closed

[2019-08-15 08:23] igor9292 opened #138 "help me please, create select"
I want to make a query from a table system.proceses. I'm interested in information, the number of requests ( select count(*) from system.processes) I want to draw a graph of these changes over time, but there is no time in the table, is it possible to execute the query once a minute and draw the system time? if possible, what should the request look like?

And there is still a question, if I have

[2019-08-15 09:33] hagen1778 commented on #138
Hi @igor9292

Time column is required only for using macroses. Users are free to execute any ClickHouse queries without limits.
You can use table visualisation instead of graph for processes. You can check some query examples for plotting `system.query_log` [here](https://grafana.com/grafana/dashboards/2515)
The another option is to use histogram - see example how to do this [here](https://github.

[2019-08-15 11:39] igor9292 commented on #138
@hagen1778
could write an example with the system.processes nameplate?, I can’t write such a select, i don't see graphics

count (*)
date, when did query

[2019-08-15 19:48] hagen1778 commented on #138
Does this helps?
![image](https://user-images.githubusercontent.com/2902918/63122165-f86a5680-bf9d-11e9-86bf-08ae6615ecef.png)

[2019-09-12 05:55] aayush210 opened #139 "Use variables for column names when column names are complex"
Hello,
I am facing an issue trying to use a token variable as column name in the query like done in #37 ...
 But it doesn't work even when using the new $unescape macro.. Turns out that my column names have space and hyphens and so back-quoting is needed.

It seems that the the fix #120 does not account for this particular case when column names contain space etc. Can we have a macro similar to $u

[2019-09-16 17:42] toddyocum opened #140 "[Feature Request] Support Alerting"
Support for alerting would be great, I see there was a Feature Request from a ling time ago that was closed.

https://github.com/Vertamedia/clickhouse-grafana/issues/3

Current backends supporting alerting.

https://grafana.com/docs/alerting/rules/#execution

Grafana Alerting looks like a possible replacement for InfluxDB+Kapacitor.

[2019-09-17 11:43] splichy opened #141 "Use variable as value for database or table in Query Editor"
Hi,

It would be nice to be able to use variable as value in query editor for e.g. `database` (imagine you have multiple databases for more environments a you would like to switch dashboard to different DB by simply changing variable)
Now if I want to accomplish this I cannot simply use $table variable directly in query - as variable from Query Editor isn't evaluated.

**Example:**
$database = col

[2019-09-24 14:51] TH-HA opened #143 "clickhouse plugin does not work with grafana 6.4 Beta 1"
Hello
I'm not understand exactly why but the plugin is no more compatible with grafana starting at version 6.4.0 Beta 1. It seems to be an issue with the editor ( a lot of change apparently occur around ace and brace ) - may be web optimization such async import.
The error message is
Error: ace is not defined Evaluating http://<HOSTNAME>:3000/public/plugins/vertamedia-clickhouse-datasource/module.

[2019-09-24 15:29] alex-zaitsev commented on #143
@gimm3fuel ^

[2019-10-01 12:39] levonet commented on #143
clickhouse plugin does not work with grafana 6.4.0 release now

[2019-10-02 05:16] Slach commented on #143
same issue

using plugin with latest grafana in docker-compose
https://github.com/Slach/grafana-flamegraph-panel/blob/master/demo/docker-compose.yml

i see error
[code]

[2019-10-04 03:05] POPSuL commented on #143
Probably broken by https://github.com/grafana/grafana/pull/18544

[2019-10-04 07:34] Nex-Otaku commented on #143
Same.

[2019-10-05 08:09] volkovartem77 commented on #143
The same issue. Grafana 6.4.1

[2019-10-05 09:52] alex-zaitsev commented on #143
Thank you for reports, we will address it next week and make a patch release.

[2019-10-09 13:52] nbonavia commented on #143
I've seen the same issue on Grafana 6.4.2 - reverted back to grafana 6.3.6 to make it work, but quite keen on using the latest Grafana.

[2019-10-09 18:07] ekbfh commented on #143
Thank you for the fix.
Do you plan include this in next release?

[2019-10-11 05:31] gondaz commented on #143
Hi! Thanks for the new release that fixed this issue. When will you add this (1.9.2) release to the Grafana plugin store? As of now, it still downloads the previous 1.9.0 version while Docker container building with `GF_INSTALL_PLUGINS` variable.

[2019-10-11 07:00] amonakhov commented on #143
There is a pull request for Grafana already. I might be available in a few days.

[2019-10-11 07:34] #143 closed

[2019-10-11 17:52] richardartoul opened #148 "Ace is not defined error"
When I try to create a new data source of type Clickhouse I get the following error

<img width="996" alt="Screen Shot 2019-10-11 at 1 51 39 PM" src="https://user-images.githubusercontent.com/9171254/66673306-47470c00-ec2e-11e9-8669-7d2fd9fb5e98.png">

Can be reproduced with the following Dockerfile:

[code]

[2019-10-13 07:08] amonakhov commented on #148
There is a release in place already: https://github.com/Vertamedia/clickhouse-grafana/releases/tag/1.9.2

And there is a pull request for Grafana as well: https://github.com/grafana/grafana-plugin-repository/pull/496

[2019-10-16 09:05] wuguanyu opened #149 "When support clickhouse alert?"

[2019-10-16 11:57] yuriy-filatov opened #150 "Typo in version/tag"
https://github.com/Vertamedia/clickhouse-grafana/blob/582306a3e5e294a56e665f1e7a04692c47ecd8ed/dist/plugin.json#L27
Should be 1.9.2 I believe.

[2019-10-16 19:19] Kenterfie opened #151 ""Ad Hoc Filters fix" breaks complex filters in version 1.9.2"
Complex filters are impossible with the latest change to sql_query.ts:74

We often use the IN operator which unfortunately become impossible with the change, but its a common operator in clickhouse queries.

Expected Filter Clause
ipv4DstString IN ('172.0.0.1', '172.0.0.2', '172.0.0.3')
Current Filter Clause with 1.9.2
ipv4DstString IN '('172.0.0.1', '172.0.0.2', '172.0.0.3')'

I can't find anythi

[2019-10-18 12:10] homekuanyi commented on #140
Could you give some examples about how to support alerting ?

[2019-10-18 12:54] hagen1778 commented on #140
Frankly speaking, it doesn't look like production ready - https://github.com/grafana/grafana-plugin-model

[2019-10-18 13:01] hagen1778 commented on #149
duplicate #140

[2019-10-18 13:01] #149 closed

[2019-10-18 20:01] toddyocum commented on #140
Ah, yeah, I didn't appreciate there was such a distinction of datasource(DS) plugins.

If Im understanding correctly, Alerting works for internal DS plugins, for a DS plugin that isn't internal, not everything is in place in Grafana to allow the plugin to support Alerting.

So either ClickHouse plugin would have to be internal, or support needs to be completed in Grafana to allow not internal plug

[2019-10-18 21:23] hagen1778 commented on #140
Correct! External plugins are frontend-only and implemented in JS. Alerting requires some processes to run on Grafana's backend, because alerting should always work, even if user closed tab in browser. So there should be a way how to put all plugin's logic for sending requests and parsing responses on backend. So plugin authors should implement all this logic in `Go` (which is Grafana backend lang

[2019-10-20 08:27] wuguanyu commented on #140
@hagen1778  If We want to support clickhouse alert by ourselves. How much cost we need ?
any difficulty ？

[2019-10-20 11:16] hagen1778 commented on #140
@wuguanyu
Can't say, haven't looked for a year... You may want to check following code for examples:
- backend branch - https://github.com/grafana/simple-json-datasource/tree/backend-updated
- druid plugin - https://github.com/GoshPosh/druidplugin/tree/druid_alert

The parser in JS for CH responses may be found here - https://github.com/Vertamedia/clickhouse-grafana/blob/master/src/response_parser

[2019-10-21 02:34] wuguanyu commented on #140
@hagen1778  Thanks a lot

[2019-10-21 13:22] alex-zaitsev commented on #151
@Kenterfie , should be fixed in 1.9.3 by https://github.com/Vertamedia/clickhouse-grafana/pull/153/commits/4b1d3bffd48a8bfff1c610b603a23adb7bad81f4

Could you confirm, please?

[2019-10-24 20:46] Kenterfie commented on #151
Thanks for the quick fix.

[2019-10-24 21:09] Kenterfie commented on #151
Ok, change has broken more. I have reverted the change entirely.

On integer values also the new quoting produce errors.

dstPort < '1024'
->
Code: 43, e.displayText() = DB::Exception: Illegal types of arguments (UInt16, String) of function less, e.what() = DB::Exception

[2019-11-05 15:14] wisefool769 opened #154 "Feature: Data Source Permissions"
Can we add a permissions tab to the clickhouse data source settings page, as seen here:
https://grafana.com/docs/permissions/datasource_permissions/

This will enable restriction of data source access based on User / Team membership.
We need this because we want multiple teams to use one instance of Grafana, without being able to see each others' data.

[2019-11-13 09:08] themikesam opened #155 "adding $timeFilter into template variables?"
Hi Dear Developer, can u consider adding $timeFilter into template variables?
Facing a problem when having long parameters, it will return :
# 400 Bad request
## Your browser sent an invalid request.

---
### Currently Template Variables
![image](https://user-images.githubusercontent.com/18574834/68748433-64109e00-0637-11ea-9d74-10369ed82b7e.png)

### Console log
![image](https://user-images.githu

[2019-11-14 07:38] themikesam commented on #155
similar with this,
https://github.com/grafana/grafana/issues/5327

[2019-11-14 07:40] themikesam commented on #155
- [postgres](https://github.com/grafana/grafana/pull/10069/commits/f9fc5e7d90a1b136ec3db4886f05290b2132f4ef)
- [mysql](https://github.com/grafana/grafana/pull/10071/commits/4c0a14a1cadfcb10d82eeaeb29d7282c198070f9)

[2019-11-14 08:04] themikesam commented on #155
sorry, it was my mistaken,
founded in [src/datasource.ts](https://github.com/Vertamedia/clickhouse-grafana/blob/995b21bea651d2afbe8eea33b38dbe457349931d/src/datasource.ts#L136-138)

[2019-11-14 08:04] #155 closed

[2019-11-15 07:15] variantf opened #156 "Cannot show multiple series when using subquery"
I got some wired result and don't know if it's a grafana's bug or this plugin's bug. Please help me, Thank you in advance.

My query is like this:
[code]

it will show the graph correctly:
![image](https://user-images.githubusercontent.com/2265407/68923824-3142e300-07ba-11ea-953a-738ae67b6a19.png)
However, when I make table t1 as a subquery, like:

[code]

the graph is:
![image](https://user-image

[2019-11-19 20:01] filipehdbr commented on #143
I am still having the same issue with Grafana 6.4.4 + Clickhouse 1.9.3. Any clue?

[2019-11-21 03:39] yang3808282 opened #157 "Error: ace is not defined Evaluating http://xxx/public/plugins/vertamedia-clickhouse-datasource/module.js Loading plugins/vertamedia-clickhouse-datasource/module"
why exit this error in release 1.9.0,but i run with release 1.9.3,this error was fixed

[2019-11-22 08:13] xujiabin02 opened #158 "Alert:The datasource does not support alerting queries"
The datasource does not support alerting queries

[2019-11-22 09:58] hagen1778 opened #159 "Generated SQL panel misbehaving"
It is happening sometimes that `Generated SQL` panel shows old query (not actual changes) or even just shows `true` instead of query:
![image](https://user-images.githubusercontent.com/2902918/69416420-7b721a00-0d0e-11ea-96ce-39d41fadee22.png)

Despite that fact plugin sends the correct query to CH, so it is just a display bug.

[2019-11-22 09:59] hagen1778 commented on #158
Hi @xujiabin02!
Pls see https://github.com/Vertamedia/clickhouse-grafana/issues/140 for details

[2019-11-26 11:43] #150 closed

[2019-11-26 11:45] alex-zaitsev commented on #150
Fixed in master and release while ago

[2019-11-26 11:47] alex-zaitsev commented on #151
@Kenterfie , this is technically correct. '1024' is a string and ClickHouse is strictly typed. How do you suggest it can be fixed for generic case?

[2019-11-28 03:36] xujiabin02 commented on #158
Thanks a lot

[2019-11-28 03:37] xujiabin02 commented on #158
Thanks a lot

[2019-11-28 03:37] #158 closed

[2019-11-29 13:14] maxxch opened #161 "non-existent values extrapolated"
I have sflow data where if we don't have data there is no record so then nearest data points are beeing connected(which i need to keep as zero)
![30069d6985acc9f6e6ae7a9958f070b2](https://user-images.githubusercontent.com/23478301/69871108-33c13480-12b2-11ea-84a9-abdb5010259f.png)
as shown on graph there was data missing since 11/26 afternoon till 11/29 around 10am.
Can you please help me to fix i

[2019-12-17 13:50] homekuanyi opened #162 "repeating panel works incorrectly"
when i select "All" for a template varible, but the query params do not change anything for each repeated panel, so all of repeated panels have the same query result ( like "All" )

[2019-12-19 08:22] grodrock commented on #159
Also waiting for it

[2019-12-24 09:04] jackpgao commented on #159
waiting + 1

[2020-01-01 08:50] patsevanton opened #165 "Please add source sql table to readme."
Hello!

I read this query.
![image](https://user-images.githubusercontent.com/10828883/71639721-f16e8700-2ca5-11ea-8533-b4212987eb60.png)

And don`t understernt source sql table.

[2020-01-01 11:08] hagen1778 commented on #165
Hi @patsevanton! Could you please elaborate a bit more? What is exactly `source sql table`?

[2020-01-01 11:20] patsevanton commented on #165
Clickhouse-grafana have example query without schema table of clickhouse.

[2020-01-10 02:51] tlightsky commented on #95
we meet this problem too

[2020-01-13 12:35] tlightsky commented on #95
can we just remove the comment before make the final sql

[2020-01-13 12:59] alex-zaitsev commented on #95
Can you use /* comments */ instead? It should work.

[2020-01-13 13:09] simPod commented on #95
Not instead unfortunately. `--` [are documented](https://clickhouse.yandex/docs/en/query_language/syntax/#comments) and default to most of the tooling from where I copy queries from.

[2020-01-13 13:47] alex-zaitsev commented on #95
I know '--' comments are documented, but they are hard to use in APIs. In particular, '--' comments do not work well even in clickhouse-client. If you have multi-line statement with such comments, you can not use history (up arrow) to repeat the query.

[2020-01-13 13:51] simPod commented on #95
But that's bug of clickhouse-client, not something related to those comments in general. Till they're part of clickhouse standard, they will be around.

[2020-01-13 15:06] tlightsky commented on #95
we make a tool to make grafana variable could work in datagrip using comment,
really hope i can copy/paster from/to each other

[2020-01-13 15:29] alex-zaitsev commented on #95
Sure. I like the idea of stripping comments before sending them to the server. Looks like the easiest way to fix it. Alternatively, we can replace '--' with '/* */'.

[2020-01-15 16:09] ishirav commented on #124
+1
I also encountered the problem of tables sorting numeric columns as strings

[2020-01-16 14:08] artemnikonov opened #167 "Error in console, when subquery have an alias"
Hello.

If I create SQL-query with sybquery whitch have an alias, I get error in chrome console.
For example:
![image](https://user-images.githubusercontent.com/59960907/72531315-456e9380-3882-11ea-9008-7df95db26d62.png)
![image](https://user-images.githubusercontent.com/59960907/72531340-4ef7fb80-3882-11ea-9a17-f0636b9647c3.png)

But if I make subquery without alias, I have not any errors.
![imag

[2020-01-21 21:02] hagen1778 commented on #159
Looks like it was merged, so I'm closing this.

[2020-01-21 21:02] #159 closed

[2020-01-21 23:44] camtarn opened #168 "Clickhouse based annotations don't seem to work"
Hi,

I have set up an annotations table in Clickhouse, hoping to show annotations on my Clickhouse-based graphs. Using Grafana's own built-in annotations DB, I can get annotations to show up.

However, using Clickhouse, the annotations do not appear.

If I select a time range with 3 annotations, I can see the annotation query executing successfully in the Clickhouse logs.

If I purposely break the

[2020-01-21 23:54] camtarn commented on #168
Oh. Never mind: I've just spotted that although the response parser is returning results, time is NaN in all of them. That would definitely do it!

This is because my time column is a Clickhouse DateTime, but it seems that the response parser expects epoch time. The result is coming back as the string "2019-12-11 10:27:17", but the response parser is doing `time: Math.floor(row.time),` causing it

[2020-01-21 23:59] camtarn commented on #168
Having now worked around that issue by returning epoch time in my query, I'm still stuck with no annotations displaying. I also added a title and a tag just in case Grafana was expecting them, but no luck.

Here's what transformAnnotationResponse() is returning:

![image](https://user-images.githubusercontent.com/16687934/72853674-ff626700-3ca9-11ea-8231-c9a36703a08a.png)

[2020-01-22 00:00] camtarn commented on #168
Having now worked around that issue by returning epoch time in my query, I'm still stuck with no annotations displaying. I also added a title and a tag just in case Grafana was expecting them, but no luck.

Here's what transformAnnotationResponse() is returning:

![image](https://user-images.githubusercontent.com/16687934/72853749-42bcd580-3caa-11ea-800a-a6af32ec8339.png)

[2020-01-23 01:06] ryanmickler opened #169 "'opt.value.match is not a function' error when using array variable."
https://github.com/Vertamedia/clickhouse-grafana/blob/50d46ef5138f5b5d8098c1cbacc7f0d3f56e16a9/src/sql_query.ts#L548

I'm getting an error when trying to use an array variable.

My variable is called `modcha` and is a `query` variable, set up as follows.
`SELECT DISTINCT [Module, Channel] FROM mydb.my_table`
This works fine, and see the variables getting correctly populated `[0,1], [1,1], [2,0],..

[2020-01-25 13:54] Denis1983 opened #170 "[HELP] How can I compile it?"
Here ist just a question.
how can I compile it into one file like in dist folder?
If I am using tsconfig.json, it is compiled into many files.
And if acesss compiled plugin via grafana I get error:
Error: Unable to dynamically transpile ES module A loader plugin needs to be configured via `SystemJS.config

[2020-01-26 14:40] hagen1778 commented on #170
Hello! Please see https://github.com/Vertamedia/clickhouse-grafana#development. Let me know if you have any questions.

[2020-01-26 21:05] Denis1983 commented on #170
Thank you that works!

[2020-01-26 21:05] #170 closed

[2020-02-21 12:22] olafbuitelaar commented on #116
For me, pressing the pencil button in the raw query view, brings me back to the query builder. Is this what you're after?
<img width="208" alt="Annotation 2020-02-21 132049" src="https://user-images.githubusercontent.com/12065895/75034294-35635880-54ad-11ea-9af7-ce8a5c4b8d48.png">

[2020-02-22 10:15] Shanginre opened #171 "Can`t get data from ClickHouse database"
I can’t get data from the clickhouse database. I have tried various settings of the data source: various access options, various authorization options. And ... did not get any result.

I have made the settings in the graphana like this:
![image](https://user-images.githubusercontent.com/11506233/75090443-b2153600-5584-11ea-8d1b-106fff1a123a.png)

This is my request. If I copy it and execute on the

[2020-02-22 16:25] hagen1778 commented on #171
Hi @Shanginre! Are you sure that datasource is actually working and you CH instance receiving requests from Grafana? You may check it in Grafana Query Inspector or by simply looking into [network activity](https://developers.google.com/web/tools/chrome-devtools/network) in your browser.

[2020-02-24 03:37] Shanginre commented on #171
CH server is actually working (in console: curl 'http://localhost:8123/' Ok.)
Grafana Query Inspector can't load (endless cycle)
In the Network panel I see the folliwing error:

"Access to XMLHttpRequest at 'localhost:8123/?query=SELECT%20%20%20%20%20(intDiv(toUInt32(undefined)%2C%2060)%20*%2060)%20*%201000%20as%20t%2C%20%20%20%20%20count()%20FROM%20default.undefined%20WHERE%20undefined%20%3E%3D%2

[2020-02-24 08:07] hagen1778 commented on #171
There should be setting in Datasource settings `Enable CORS` or something similar.
![image](https://user-images.githubusercontent.com/2902918/75136423-96bd3e80-56dc-11ea-8d07-6a6f0de5bd70.png)

If it won't help pls see https://community.grafana.com/t/how-to-allow-access-control-allow-origin-for-all-the-apis/2045

[2020-02-25 06:36] Shanginre commented on #171
I have added CORS setting in Datasource settings.
I have installed the nginx web server and configured it for CORS, but no results.
I have installed the CHProxy web server and made CORS settings CORS as well, but no results.

It is very strange that I don’t even have the opportunity to select PROXY in the access settings! Is this a release feature? How can I tell Grafana to use a proxy?

![image](

[2020-02-25 06:51] Shanginre commented on #171
this is very strange, but I cannot specify proxy for other types of sources, such as Prometheus, etc.

[2020-02-25 08:10] hagen1778 commented on #171
I guess this may be connected with Grafana update - https://github.com/grafana/grafana/issues/22169
Can you try older versions of Grafana?

[2020-02-26 02:12] Shanginre commented on #171
I installed version 5.4.5 and the error went away! A very strange mistake!

**I think you should test the plugin for newer versions of Grafana.**

Please tell me, on which latest version of grafana does the CH plugin works correctly?

[2020-02-26 07:16] alex-zaitsev commented on #171
@Shanginre , it works with Grafana 6 before the latest update from GrafanaLabs that seem to break the compatibility.

[2020-02-26 10:26] #171 closed

[2020-02-28 22:40] champtar commented on #124
Looking at query inspector:
[code]
Int* comes in as string in "data"

[2020-02-28 23:23] champtar commented on #124
Just found an ugly workaround, just wrap all your numbers into toFloat64() in your ClickHouse query
[code]

[2020-02-29 00:47] champtar commented on #124
ClickHouse quote UInt64 and Int64 by default because most javascript implementations uses IEEE 754, so max safe integer value is 2^53-1
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER
We can configure ClickHouse to not quote the 64 bit integers:
https://clickhouse.tech/docs/en/operations/settings/settings/#session_settings-output_format_json

[2020-03-02 19:19] champtar commented on #124
@gimm3fuel (you seem to be merging everything) is it just a doc issue for you or do you want to to add this param in every queries ?

[2020-03-24 09:54] juris commented on #127
Same here with 6.7.1.

Moreover, it shows "No data" if I specify fixed time range. Presets like "Last X days" work fine. Defined ranges, like "From now-30 to now-1" produce "No data".

[2020-03-29 06:03] AbhinandanKurakure opened #173 "How to measure Total cpu utilisation of cluster"
I am a beginner to clickhouse DB.I am using clickhouse DB to store the metrics and using clickhouse plugin for grafana.I have a metric named 'node_cpu_seconds_total' which is a counter which contains total cpu time spent.
I am using clickhouse plugin for grafana,and the datasource being clickhouse.
How can I show(visualize in grafana) the total cpu usage of a cluster using the above metric.

[2020-03-29 09:15] hagen1778 commented on #173
Hi @AbhinandanKurakure!
You probably need the "speed" of how that counter changes, so try to use `$rate` macros for that. You may find its description in README of the plugin.

[2020-03-29 14:49] AbhinandanKurakure commented on #173
@hagen1778   can you provide an explanation of how to exactly used `$rate` macro as there is only one  example provided in the README of the plugin.Except that example i am unable to think of way to use '$rate' macro.This is the first time i am working on a TSDB so i am finding it a little difficult

[2020-03-29 16:48] hagen1778 commented on #173
$rate(countIf(Type = 200) AS good, countIf(Type != 200) AS bad) FROM requests
`$rate(column)` accepts a column name or expression as argument and calculates the per-second average rate of increase for that argument. It is very similar to [Prometheus rate](https://prometheus.io/docs/prometheus/latest/querying/functions/#rate) function.

Let's take for example your counter `node_cpu_seconds_total`.

[2020-03-30 03:58] AbhinandanKurakure commented on #173
Thank you for the excellent answer @hagen1778.One more doubt, but the `$rate` always expects an aggregate operation

[2020-03-30 07:16] AbhinandanKurakure commented on #173
I have checked your #78 issue where you are provided `$perSecond()` macro.So is it better to use `$perSecond()` macro rather than `$rate()`?

[2020-03-30 08:22] hagen1778 commented on #173
Oh, you're right! I totally forgot how everything works(( Rate doesn't calculate difference between values, but `$perSecond` does. Sorry for miss leading you.

[2020-03-30 09:56] AbhinandanKurakure commented on #173
My query in clickhouse will yield the following result where `mdlbl_cpu` is cpu core and `mdlbl_mode` is linux mode.

SELECT
    startTime,
    endTime,
    doubleVal
FROM telemetry
WHERE (md_type = 'node_cpu_seconds_total') AND (mdlbl_cpu = '1') AND (mdlbl_mode IN ('user'))

┌───────────startTime─┬─────────────endTime─┬─doubleVal─┐
│ 2020-03-30 00:15:04 │ 2020-03-30 00:15:04 │  31760.62 │
│ 2020-

[2020-03-30 17:44] juris opened #174 "/mode-clickhouse.js request"
For some reason, when panel with ClickHouse datasource is loading, there is a request to:
https://<SERVER_ROOT>/mode-clickhouse.js
Which returns nothing.

Grafana 6.7.1

[2020-03-30 18:46] hagen1778 commented on #173
Looks correct. Let's try to calculate manually. Last values are:
[code]
You use `endTime` as DateTime column, so we will base calculation on that:
1. skip first datapoint since nothing to compare with
2. (32645.54  - 32627.75) / (2020-03-30 06:23:04 - 2020-03-30 06:15:04) = (32645.54  - 32627.75) / (8*60) = 0.037 // step is always the same - 8 minutes
3. (32664.45 - 32645.54) / (8*60) = 0.039
4. (

[2020-03-30 19:09] juris commented on #127
Figured out why I'm seeing it. We have a DateTime column named "t". So I was able to overcome my issue by changing :
[code]
to
[code]

[2020-03-31 04:55] AbhinandanKurakure commented on #173
No more Doubts.Thanks you very much

[2020-03-31 05:22] #173 closed

[2020-04-09 14:27] simPod opened #175 "How to build"
I tried to build this to find a bug however the built code is not working. I'm getting different results compared to dist.

![image](https://user-images.githubusercontent.com/327717/78905824-d7033100-7a7e-11ea-802f-d483d6b9915b.png)

Ran `yarn` `yarn run build:prod`. Is it broken / I have different dependency versions because of missing log or? Thanks!

[2020-04-16 10:07] diywarrior opened #179 "Wrong current value on graph or table but correct in query inspector"
Hello,
My case is really specific but hope that someone could help me.

So in short, i have materialized view with summary information on amount of mailed users of my service. Example:
![Selection_086](https://user-images.githubusercontent.com/18305071/79438293-04e6f900-7fdc-11ea-9142-4a4af040e3f7.png)

As i need optional aggregation (by day, week, month, year) - i'm generating timeseries this way

[2020-04-22 08:48] Felixoid opened #180 "Add extremes to the output"
Hello colleagues, and thank you for a great plugin!

ClickHouse has pretty cool features [GROUP BY WITH TOTAL](https://clickhouse.tech/docs/en/sql_reference/statements/select/#with-totals-modifier) and [extremes](https://clickhouse.tech/docs/en/operations/settings/settings/#extremes). When added, they add objects `totals` and `extremes` accordingly into json payload:

[code]

It would be great to

[2020-04-23 17:14] nevgin opened #181 "Dont work plugin"
After filling in the plugin settings and clicking the Save and test button. An error - HTTP Error Internal Server Error.

Grafana 6.7.2 logs:
t=2020-04-23T17:09:54+0000 lvl=eror msg="Request error" logger=context userId=1 orgId=1 uname=admin error="runtime error: invalid memory address or nil pointer dereference" stack="/usr/local/go/src/runtime/panic.go:199 (0x44d65b)\n/usr/local/go/src/runtime/s

[2020-04-25 20:56] kirik commented on #179
Have just the same problem

[2020-04-27 07:35] diywarrior commented on #179
@kirik It worked like a charm!
Thank you for suggestion
Closing issue.

[2020-04-27 10:37] kirik commented on #179
@diywarrior could you please reopen issue? I believe this is a bug.
I'm not sure is it grafana or ch-grafana related - I have ES and Prometheus datasources and they works just fine for any range of time.

[2020-04-27 12:33] diywarrior commented on #179
Same stack and issue for me.
Currently this workaround is good enough for me, but you're right.
Maybe better to resolve this

[2020-05-05 07:30] Slach commented on #181
currently grafana-clickhouse it's an only frontend plugin

could you provide more information about your environment?
which version `clickhouse` do you use?
which version `clickhouse-grafana` plugin do you use?
which clickhouse-grafana plugin connection parameters do you use?

I tried to reproduce your error with latest master `git clone git@github.com/vertabedia/clickhouse-grafana.git` + `docker-

[2020-05-05 07:38] Slach commented on #180
Could you suggest examples and use cases for this data inside grafana?
I think this proposal restrict by grafana visualization and panel plugins

only one visualization plugin would be applied for total and extremes it's a `table` plugin, but total, min, max already implemented on https://grafana.com/docs/grafana/latest/features/panels/table_panel/  and can be calculated on "client-side"

[2020-05-11 13:16] Slach commented on #179
value for last N datapoint in `time series` format extrapolated
it's described on FAQ
https://github.com/Vertamedia/clickhouse-grafana#faq
maybe this behavior should be optional

[2020-05-11 13:22] kirik commented on #179
Thank you @Slach for explanation!
And yes I think too that this behavior should be optional (or off by default) because it produce wrong numbers.

[2020-05-11 18:06] #179 closed

[2020-05-13 13:50] #175 closed

[2020-05-15 06:21] jackpgao opened #187 "SQL parse error with `from` key word"
[code]

- with above SQL, it generate to

[code]

- this part is wrong.

[code]

- version: 1.9.5
- Grafana: v6.7.1 (ca6d08d5cb)

[2020-05-18 20:01] Felixoid commented on #180
Hello @Slach, sorry for a long silence.

You are right, my problem was in the Int64+json. https://clickhouse.tech/docs/en/operations/settings/settings/#session_settings-output_format_json_quote_64bit_integers

Basically, this setting has solved the issue and now this ticket is completely redundant.

[2020-05-18 20:01] #180 closed

[2020-05-26 12:59] malsumis opened #188 "plugin no longer works in grafana 7.0+"
Hi,

after upgrading to grafana 7.0.1 the Vertamedia Clickhouse plugin no longer works. It fails with the following error:

Data Source Error

[2020-05-30 17:09] chuprik opened #189 "Displaying column as JSON View Cell display mode"
Hello! I'm using your plugin for selecting data from CH and displaying it as a table. And I would like to display one column from selection as JSON View Cell. And I have weird Grafana behavior, it looks like selected column is quoted and Grafana can't parse JSON :)

![image](https://user-images.githubusercontent.com/802946/83334621-6d4e1900-a2b0-11ea-9335-5b9d24299448.png)

![image](https://user-i

[2020-05-30 20:13] kotchuprik opened #190 "Does your plugin use Custom HTTP headers?"
Hey! I continue to be happy with your data source plugin and just tried to use Browser fetch requests instead of Server and turned on the flag for sending CORS query param, but it works when API sends Origin param, I did set, and no Origin param sends. Checked the source code and haven't found any mentions about custom headers. Is it correct, or am I wrong?

![image](https://user-images.githubuser

[2020-06-01 11:00] kotchuprik commented on #189
fast stupid fix is here https://github.com/StrongSquirrel/clickhouse-grafana/commit/e62fb02dd2a96ccb5121c6a0507c83d3fe841e00

[2020-06-04 10:45] hyberdk commented on #156
@variantf did you ever solve this issue? I have the exact same problem... it took me a while to figure out that it was the subquery that was the problem as the output from clickhouse looks the same to me.

[2020-06-08 10:12] Stephane-Thales opened #191 "query with join change dataframe structure, and the chart display"
Hi,

A query that return exactly the same result is not dislayed the same way in Grafana

this first query work well for pie chart, and bar Graph in series mode. It display a pie or a bar per value in the field platform.

[code]

This second query, that return exactly the same result don't work. There is a bar for platform and CNT.

[code]

When using Query Inspector of Grafana panel, I can see th

[2020-06-09 09:37] Slach commented on #188
@malsumis
could you check latest grafana 7.0.3 with latest master?

you need make something like this
[code]

[2020-06-09 10:13] Slach commented on #181
close issue due inactivity feedback
@nevgin if your error still reproduce, please fill free to comment and provide more context and reopen issue

[2020-06-09 10:13] #181 closed

[2020-06-11 23:49] v-zhuravlev commented on #130
Had the same error while trying to use `groupArrayMovingAvg`. It is also not the list.

[2020-06-15 16:59] adivinho opened #194 "Null values are displayed in a graph panel"
We have got a strange behavior with null values in graph panels.
Our table has records with one of two possible service types mysql, postgresql
![Screenshot_20200615_193757](https://user-images.githubusercontent.com/25184101/84683346-c0c29700-af3f-11ea-870f-66c828966b97.png)

So if mysql services are stopped and data in the table is related to postgresql only
then charts still shows some values fo

[2020-06-16 06:42] malsumis commented on #188
Sorry for the late reply. Got caught in other stuff. Seems to work fine with thhe latest master.

Big thanks!

[2020-06-17 07:38] Slach commented on #118
@PeterZaitsev I try to reproduce this behavior on latest master `docker-compose.yaml` with a changed image to `grafana:6.0.2` and failed

looks like the current master branch works fine with grafana 6.0 explore mode without apply
https://github.com/Vertamedia/clickhouse-grafana/pull/129

![image](https://user-images.githubusercontent.com/105560/84868749-9c2d0300-b096-11ea-9650-d3fe39987dfd.png)

I

[2020-06-17 12:01] Slach commented on #194
@adivinho which version `clickhouse-grafana` plugin do you use? 1.9.5 or latest 2.0.0?
could also provide more context?
- did you try to turn off "Extrapolation" option when editing query in grafana clickhouse plugin?
- did you try to toggle "staircase" option in "visualization"?
- which mode do you use for null values for "stacked" graph? did you try to use "null as zero"?

I tried to reproduce y

[2020-06-17 13:46] adivinho commented on #194
I have just tested it with the latest 2.0.0 version and now all charts are shown correctly.
![Screenshot_20200617_164554](https://user-images.githubusercontent.com/25184101/84906029-18850d80-b0ba-11ea-839a-4516e1c0cf14.png)

[2020-06-17 15:20] PeterZaitsev commented on #118
Thank you. Indeed this was fixed in one of the releases since I reported the issue

[2020-06-17 15:20] #118 closed

[2020-06-17 15:22] Slach opened #197 "golang part not works with $columns, $perSecond and $perSecondColumns macros"
@bmanth60
could you help us solve
https://github.com/grafana/grafana-plugin-repository/pull/656#issuecomment-645432626
ASAP?

[2020-06-17 15:23] #188 closed

[2020-06-17 15:27] Slach commented on #81
close issue cause no activity
@acmeguy feel free a continue to discuss on https://github.com/Vertamedia/clickhouse-grafana/pull/89

[2020-06-17 15:27] #81 closed

[2020-06-17 15:30] Slach commented on #83
close issue during miss any activity
@volfco feel free to reopen the issue
Also, you could implement something for moving average use ideas from https://stackoverflow.com/questions/53416531/clickhouse-moving-average

[2020-06-17 15:30] #83 closed

[2020-06-17 15:33] Slach commented on #95
issue resolved via https://github.com/Altinity/clickhouse-grafana/commit/00d2e0bfb44a5fad623062cdde487e74fc211b1c

[2020-06-17 15:33] #95 closed

[2020-06-17 16:51] #194 closed

[2020-06-17 17:02] Slach opened #198 "Full Support "ad-hoc filter" variable type "values" filter"
the current implementation only supports Enum fields values
we need to add processing and cache `SELECT DISTINCT field FROM table LIMIT X` for getTagValues

[2020-06-17 17:57] PeterZaitsev commented on #198
Right. You probably also want to use the current time range  to this query so only relevant values pulled in

[2020-06-18 02:28] Stephane-Thales opened #199 "for Table pluggin, fields that are not Integer are typed as string"
Hi all,

Only for the Table plugin (so far it work with the Stat object)
With a query format as Table (not Time series)

If a clickhouse Field is Nullable(Float64), Float64, Decimal ... it's typed as String.
So the plugin can't be configured to apply numeric related formatting (%, Threshold ...)

To check, compare types between
- Query inspector / Query / Object / Response / Meta / Object / type
-

[2020-06-19 09:43] hagen1778 commented on #130
Same error happens for following query:
[code]

[2020-06-19 14:05] #197 closed

[2020-06-19 18:07] bmanth60 commented on #197
Thanks for resolving this, sorry I was tied up with work.

[2020-06-20 16:46] Slach commented on #197
@bmanth60 also, I think we need refactoring and rewrite from `https://github.com/grafana/grafana-plugin-model` to `https://github.com/grafana/grafana-plugin-sdk-go/`

[2020-06-22 09:36] hyberdk opened #202 "An unexpected error happened"
Hi all,

I have a tendency to get "unexpected errors" from Grafane using the ClickHouse plugin. Here is the output I get.. Im not sure how to troubleshoot it exactly, so any guidance will be appriciated.

My enviroment is:
Grafana 7.0.3 (in docker)
clickhouse-grafana 2.0.1 plugin (manually dropped in the plugins folder)
ClickHouse server version 20.4.4 revision 54434 (also in docker)

here is the

[2020-06-22 09:41] hyberdk commented on #191
I have the same issue and #156 seems to be a duplicate of the issue..

I cannot fix it, but I do have an environment where I can replicate the fault, so if any input is needed please just reach out.

[2020-06-22 12:54] adivinho opened #203 "plugin shows a wrong version"
It was installed the latest plugin version **_2.0.1_** but it's still shown as **_2.0.0_**

![Screenshot_20200622_155339](https://user-images.githubusercontent.com/25184101/85289750-95d8c580-b4a0-11ea-9332-d2a70f093c72.png)

[2020-06-22 14:26] #203 closed

[2020-06-22 14:37] Slach commented on #203
@adivinho thanks a lot for reporting

[2020-06-22 14:38] Slach commented on #151
@Kenterfie is this error still relevant for you?

[2020-06-23 09:43] adivinho commented on #203
@Slach It looks like you have missed to set the new version here too
dist/plugin.json
![Screenshot_20200623_124238](https://user-images.githubusercontent.com/25184101/85388726-1bb34a00-b54f-11ea-8dba-9fccfcd6de7b.png)

[2020-06-25 06:56] Slach commented on #174
yep. confirmed, but I don't know why this happens inside grafana app in public/build/brace*.js
this URL return HTML instead of Javascript

[2020-06-25 11:29] hyberdk commented on #202
Hi Eugene (@Slach),

thanks a lot for looking into this problem.. I really appropriate it.

I can confirm that the Pie Chart now works, but there is one catch..

I _have_ to select "Format as Time series", if I select "Format as Table" I still get an error

This is what I mean: "Time series" works, "Table" no joy..

![image](https://user-images.githubusercontent.com/3530739/85711191-4f28dc80-b6e7-

[2020-06-25 11:48] #187 closed

[2020-06-25 11:49] Slach commented on #187
Dear @jackpgao please look at last master  and check your query

[2020-06-25 12:07] Slach commented on #202
@hyberdk could you explain how you make PIE Chart visualization? I don't see PIE chart in default grafana7 visualization plugin list

I also tried to reproduce query look like yours
and currently last master works OK
![image](https://user-images.githubusercontent.com/105560/85716870-527f9080-b706-11ea-9fa5-c9c94e36c8f3.png)

[2020-06-25 12:08] hyberdk commented on #156
@variantf, it looks like pull #206 fixes this issue..

This is the same query as before.

![image](https://user-images.githubusercontent.com/3530739/85716765-1429a780-b6ed-11ea-857a-e2e5ef508d04.png)

@Slach, I pretty sure your fix for my crash also fixed this issue.. it works for me at least ;-)

[2020-06-25 12:14] Slach commented on #191
@Stephane-Thales could you check the latest `master` branch and check your issue?
Looks like  https://github.com/Vertamedia/clickhouse-grafana/pull/206 should fix it

[2020-06-25 12:17] #156 closed

[2020-06-25 12:25] Slach commented on #202
@hyberdk also the same query from your issue in table format looks good:

![image](https://user-images.githubusercontent.com/105560/85719440-ddfa2100-b708-11ea-9211-4e1a441d1b62.png)

[2020-06-25 12:47] Slach commented on #199
Dear @Stephane-Thales, could you help me reproduce issue?

I tried to reproduce with following steps:
[code]

### run following queries inside clickhouse-client
[code]

open grafana at `http://localhost:3000/dashboard/new` and add the following query:
[code]
and got the following results:
![image](https://user-images.githubusercontent.com/105560/85722698-fd467d80-b70b-11ea-9bf0-bb9791e7be36.png)

[2020-06-25 14:25] Slach commented on #190
@kotchuprik as I can see in https://github.com/grafana/grafana/pull/11643/files
and here https://github.com/grafana/grafana/pull/17846

grafana support custom HTTP headers only for "Server" access mode, cause HTTP Headers values is secureJSON area and add on server side golang proxy

[2020-06-25 14:25] #190 closed

[2020-06-25 15:16] Slach commented on #202
I catch it
![image](https://user-images.githubusercontent.com/105560/85746647-0b05fe00-b720-11ea-8b69-50f74df59842.png)

[code]

so error happens inside Pie Chart plugin
look like PieChart can't work with "table" format
see https://github.com/grafana/piechart-panel/issues/113

[2020-06-25 15:16] #202 closed

[2020-06-25 15:32] Slach commented on #189
@kotchuprik big thanks for a workaround

unfortunately, I don't have any idea how to properly recognize when we shall use JSON.parse and when is not

cause ClickHouse database doesn't have data types like JSON / JSONB in PostgreSQL and Datasource plugin doesn't know anything about visualization method

[2020-06-25 16:29] kotchuprik commented on #189
@Slach I had idea do one more update my code and replace string checking with:
[code]

but it looks weird :)

[2020-06-25 16:43] Slach commented on #189
@kotchuprik yep, but this solution will decrease performance when data amount will grow

[2020-06-25 16:49] kotchuprik commented on #189
maybe it can be handled on golang side somehow?

[2020-06-25 17:29] Slach commented on #189
no, golang part of plugin use only for alerts
maybe it can be handled by the "Transform" feature on grafana on the browser side?
https://grafana.com/blog/2020/06/11/new-in-grafana-7.0-data-transformations-for-all-visualizations-that-support-queries/

[2020-06-26 01:24] Stephane-Thales commented on #199
Hi @Slach ,

for reference, i'm using
[code]
to reproduce my issue I've used the same table than you :

[code]

then New dashboard, new pannel
first query like yours

[code]

in clickhouse 👍
[code]
![grafana bug field type 001](https://user-images.githubusercontent.com/34121381/85810534-f2ccc800-b78d-11ea-951c-da2510a476a1.png)

Note the change of option "Cell display mode" to "Color text" for vis

[2020-06-26 01:54] Stephane-Thales commented on #191
Hi @Slach
I tried to replace the official pluggin installed with `grafana-cli plugins install vertamedia-clickhouse-datasource` using the one from Git, but it did'nt work, the Git one is not reconised.

I've done as root:
[code]
But Grafana can't find a clickhouse plugin.
I restored by re-doing
[code]

Any idea how to deploy the last version of clickhouse-grafana ?

Thanks

[2020-06-26 08:11] hyberdk commented on #191
Hi @Stephane-Thales,

your problem is likely that your Grafana install does now allow unsigned plugins..

If you are like me and run Grafana in docker, you need to add this environment variable:

`"GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=vertamedia-clickhouse-datasource"`

See this if you are not running docker: https://grafana.com/docs/grafana/latest/plugins/plugin-signature-verification/

Esbe

[2020-06-26 08:14] hyberdk commented on #202
Awesome, thanks for investigating this!

[2020-06-26 09:06] Slach commented on #191
Hi @Stephane-Thales, also you can look to https://grafana.com/docs/grafana/latest/administration/configuration/#allow-loading-unsigned-plugins
and add
[code]

unfortunately at the current time no proper method to sign plugin which not signed by "grafana team"
https://grafana.com/docs/grafana/latest/developers/plugins/sign-a-plugin/

[2020-06-28 03:28] Gongruixiao opened #209 "can't install latest version"
![image](https://user-images.githubusercontent.com/8455456/85937040-63ace500-b932-11ea-975b-249ee9d347b6.png)

[2020-06-28 03:44] #209 closed

[2020-06-28 03:46] Gongruixiao commented on #209
#188 have solve this issue

[2020-06-28 04:03] jackpgao commented on #187
It works~~

[2020-06-28 05:00] Slach commented on #199
I catch it
![image](https://user-images.githubusercontent.com/105560/85938347-09a62280-b926-11ea-8207-ebe64d71a815.png)

please use latest master branch or wait when 2.0.2 will be released on grafana-plugin-repository

[2020-06-28 05:11] Slach commented on #209
@Gongruixiao please subscribe to https://github.com/grafana/grafana-plugin-repository/pull/656
currently, PR not merged and I trying to reproduce error message on "alert" golang part

[2020-06-29 02:30] Stephane-Thales commented on #191
Thanks all,

Do you know the frequency of update from this Github to the [grafana-cli repository](https://grafana.com/grafana/plugins/vertamedia-clickhouse-datasource) ? It's still the 1.9.5 over there.

[2020-06-29 02:46] Slach commented on #191
please subscribe to https://github.com/grafana/grafana-plugin-repository/pull/656

this ticked closed by https://github.com/Vertamedia/clickhouse-grafana/pull/206

[2020-06-29 02:46] #191 closed

[2020-06-29 07:38] mzealey commented on #199
I have pulled the latest master but this is not fixed for me

[code]

still thinks these Float64-based cols are strings.

[2020-06-29 08:04] Slach commented on #199
@mzealey could you share SHOW CREATE TABLE cloudlinux_faults?

[2020-06-29 08:04] mzealey commented on #199
[code]

[2020-06-29 08:05] mzealey commented on #199
latest grafana docker image so 7-series

[2020-06-29 08:06] Slach commented on #199
did you try to redefine decimals character in Average or Maximum columns?

[2020-06-29 08:07] mzealey commented on #199
I am not sure what you mean by this?

[2020-06-29 08:07] Slach commented on #199
I mean Decimals on "Fields" tab on right side in panel edit
https://user-images.githubusercontent.com/105560/85938347-09a62280-b926-11ea-8207-ebe64d71a815.png

[2020-06-29 08:09] mzealey commented on #199
Ah yes then they work as numbers. Is there no way to do this automatically in the plugin ?

[2020-06-29 08:18] Slach commented on #199
look like it's a not a plugin scope
please look at https://github.com/Altinity/clickhouse-grafana/commit/94ebf7633c238f63203b5af4a6bb8a7d7c32bf41
plugin already convert ClickHouse numeric related types to JavaScript "number"
after that visualization plugins continue to convert it to visual representations

[2020-06-29 08:18] #199 closed

[2020-06-30 13:27] Slach commented on #167
@artemnikonov closed by https://github.com/Vertamedia/clickhouse-grafana/pull/206
please check the latest `master` branch
and subscribe to https://github.com/grafana/grafana-plugin-repository/pull/656 for notifying when 2.x release will be published

[2020-06-30 13:27] #167 closed

[2020-06-30 17:46] #165 closed

[2020-06-30 17:46] Slach commented on #165
@patsevanton i hope your issue covered by https://github.com/Vertamedia/clickhouse-grafana/pull/211/files#diff-04c6e90faac2675aa89e2176d2eec7d8R545

[2020-06-30 17:52] Slach commented on #140
closed by https://github.com/Vertamedia/clickhouse-grafana/pull/183
need to add dist/MANIFEST.txt and implements sign process
also need refactoring from  https://github.com/grafana/grafana-plugin-model/ to https://github.com/grafana/grafana-plugin-sdk-go

[2020-06-30 17:52] #140 closed

[2020-06-30 17:54] Slach opened #212 "Implements sign process and add dist/MANIFEST.txt"
look at https://grafana.com/docs/grafana/latest/developers/plugins/sign-a-plugin/
and https://grafana.com/docs/grafana/latest/plugins/plugin-signature-verification/
currently, only "grafana team" plugins can be signed correctly

[2020-07-02 13:46] #151 closed

[2020-07-02 16:05] #169 closed

[2020-07-02 16:09] Slach commented on #169
@ryanmickler unfortunately, grafana 7.x broke template variables for cases when the data source plugin return each variable value as  `["string", "string"]`, but for grafana 6.7.x latest version of master works fine

as a workaround, we can use
using `SELECT arrayStringConcat(array_field,",")  ... ` for template variable  and `WHERE arrayStringConcat([field1, field2], ",") IN (${variable_name})`
h

[2020-07-02 16:43] Slach commented on #168
@camtarn is this issue still relevant for you?
latest master version + grafana 7.x in docker-compose
for following Annotation SQL query
[code]

show all works fine
![image](https://user-images.githubusercontent.com/105560/86387578-d0b2d880-bcac-11ea-95e0-93ce6e91fabf.png)

could you check latest `master` branch?

[2020-07-02 16:59] #168 closed

[2020-07-02 17:03] Slach commented on #157
@yang3808282 thanks for reporting

[2020-07-02 17:03] #157 closed

[2020-07-02 17:04] Slach commented on #138
@igor9292 thanks for reporting, I close issue, feel free open new if you have any question

[2020-07-02 17:04] #138 closed

[2020-07-03 03:28] Slach commented on #130
@hagen1778, @minaevmike
look like
the latest `master` version works fine with remote() and cluster() functions and template variables inside them
I use the following SQL query for `remote_host` variable:
[code]
![image](https://user-images.githubusercontent.com/105560/86428365-f5876a00-bd05-11ea-8ebc-278f62a01463.png)

and following for `cluster_name`
[code]
![image](https://user-images.githubuser

[2020-07-03 03:32] #130 closed

[2020-07-03 03:33] Slach commented on #130
@hagen1778 and @minaevmike could you check the latest `master` branch?

[2020-07-03 03:54] Slach commented on #162
@homekuanyi could you explain what exactly works incorrectly?
I tried to reproduce your issue on the latest `master` branch, but look like everything works fine
![image](http://g.recordit.co/kBCaXpVnPX.gif)

[2020-07-03 04:05] #162 closed

[2020-07-03 04:07] Slach commented on #162
I just add repeated template variable example to clickhouse_dashboard.json
@homekuanyi you can reproduce repeated behavior with following steps
[code]
open http://localhost:3000/dashboards -> clickhouse dashboard

feel free reopen issue if still reproduce

[2020-07-03 04:29] Slach commented on #99
@vane4karock look like latest `master` branch works fine with merge() table function
![image](https://user-images.githubusercontent.com/105560/86431740-01c3f500-bd0f-11ea-890c-0d191d7ee7ce.png)
i will add example with merge() function to clickhouse_dashboard.json

you can reproduce behavior with following steps
[code]
open http://localhost:3000/dashboards -> clickhouse dashboard

[2020-07-03 04:35] #99 closed

[2020-07-03 06:30] Slach commented on #115
@PeterZaitsev there is not a bug, there is a misunderstanding between documentation and interpretation of term "timestamp"

timestamp in Grafana JavaScript it's a UnixTime + ms momentjs

please look at
https://github.com/Vertamedia/clickhouse-grafana/blob/master/src/sql_query.ts#L475
https://github.com/Vertamedia/clickhouse-grafana/blob/master/src/datasource.ts#L138

dateMatch.parse convert string

[2020-07-03 06:43] #115 closed

[2020-07-05 07:32] #117 closed

[2020-07-06 06:13] #198 closed

[2020-07-06 06:17] Slach commented on #198
@PeterZaitsev adhoc values filter basic functionality implemented
unfortunately, grafana core doesn't provide additional context to `adhoc.ts` functions, so only
[code]
was implement, it can be suboptimal for high cardinality values and make full column scan (PK scan or secondary index scan for some cases) in ClickHouse table

[2020-07-06 15:36] Slach commented on #117
@PeterZaitsev, @albenik, @kbespalov
Hi guys,
this rounding behavior related to grafana core data transformation for time series data, `grafana-clickhouse` data source plugin pass $timeSeries to grafana as UInt64 timestamp with ms and grafana graph panel transform it to "browser local datetime"

@PeterZaitsev I reproduce your query on https://github.com/Vertamedia/clickhouse-grafana/pull/219
and go

[2020-07-07 03:46] Slach commented on #161
@maxxch sorry for the late response, I promise we will get more quality feedback our plugin users

could check your error with the latest 2.0.1 version plugin which published on https://grafana.com/grafana/plugins/vertamedia-clickhouse-datasource?

please turn off "Extrapolate" on Query Editor -> Go To Query mode

[2020-07-07 03:46] #161 closed

[2020-07-07 04:20] Slach commented on #141
Dear @splichy, sorry for the late response, I promise we will get more quickly and qualified feedback for our plugin users
unfortunately, the current plugin code base can't apply `$table` macro with recursive `$templateVariable` and i don't see how we can improve it without geoengineering, feel free make PR for it

as a workaround, instead of using $table macro, you can define couple template vari

[2020-07-07 04:27] #141 closed

[2020-07-07 08:53] maxxch commented on #161
Thanks Eugene, I will try and let you know

On Tue, Jul 7, 2020 at 5:46 AM Eugene Klimov <notifications@github.com>
wrote:

[2020-07-07 09:55] Slach commented on #124
Hello @champtar, sorry for the late response, I promise we will get more quickly and qualified feedback in issues for our plugin users

could you check your issue with latest 2.0.2 or 2.0.1 plugin version?

Look like latest grafana with latest plugin version show table "short" format and WorldMap correctly
![table short](https://user-images.githubusercontent.com/105560/86764755-b89ed880-c061-11ea-

[2020-07-07 10:12] #124 closed

[2020-07-07 10:15] Slach commented on #139
Hello @aayush210, sorry for the late response, I promise we will give more quickly and qualified feedback to users of our plugin

 could you share SQL table schema and SQL query example to reproduce your issue?

[2020-07-07 10:33] Slach commented on #154
sorry but Data source permissions it's a Grafana Enterprise only feature, so I don't know how we can implement it, cause Enterprise Grafana core source part is not public, also permissions are out of scope for data source plugin

as a workaround, you can try to do the following things:
- create separate ClickHouse users and profiles with separate row policy for each  Team on clickhouse server
http

[2020-07-07 10:33] #154 closed

[2020-07-07 12:22] Slach commented on #127
@dmitrysdm
if you change your query
from
[code]

to
[code]
I will see results

"no data" which you see related to behavior how to `clickhouse-grafana` plugin detect which columns should be represented as "groups" or "labels" and which columns should be represented as "value"
please look to:
- https://github.com/Vertamedia/clickhouse-grafana/blob/2.0.2/src/datasource.ts#L109
- https://github.com/Ve

[2020-07-07 12:41] #127 closed

[2020-07-07 17:58] hagen1778 commented on #130
Thanks for doing this!

[2020-07-08 11:56] oleg-savko opened #230 "Problem with alerts with multiple lines (group by)"
When I try to add alerts for graph with multiple lines with group by, its seems like try to parse all columns to float and throw exception when parse label:

**Example query:**

[code]

**Throw exception:**

`"tsdb.HandleRequest() error rpc error: code = Unknown desc = unable to parse value /client-area/registration/route/UPLOAD for 'h': strconv.ParseFloat: parsing "/client-area/registration/route

[2020-07-08 11:59] Slach commented on #230
@oleg-savko, thanks for reporting, do you use time Series format or table Format for your query?

[2020-07-08 12:14] oleg-savko commented on #230
I use Time Series format.

[2020-07-08 14:18] oott123 opened #231 "Fill zero or null for time point lack of data"
Just like https://community.grafana.com/t/how-to-display-0-for-series-value-when-value-is-null/6911 , can we have this "fill" feature in clickhouse-grafana ?

[2020-07-08 14:19] oott123 commented on #231
sorry , i think this is a dup of #134

[2020-07-08 14:19] #231 closed

[2020-07-08 15:32] Slach commented on #230
@oleg-savko

as a quick workaround
you can try use following macros
[code]

I going fix your issue tomorrow

[2020-07-09 08:44] oleg-savko commented on #230
@Slach Great! Thank you very much!)

[2020-07-10 08:53] ghuname opened #232 "Template variable dependant of another template variable with "Include All option" on, causes Cannot read property 'replace' of null"
Grafana v6.6.2 (3fa63cfc34)
ClickHouse datasource for Grafana 4.6+ 1.9.5

I have several dependant templating variables:

![image](https://user-images.githubusercontent.com/15207713/87134789-7233be80-c299-11ea-8329-9f6b6ab87a97.png)

This one works always.

![image](https://user-images.githubusercontent.com/15207713/87134856-8a0b4280-c299-11ea-9603-d1d5fb47b3d8.png)

This one for now has "Include

[2020-07-10 12:03] #230 closed

[2020-07-10 13:53] Slach commented on #232
@ghuname please upgrade clickhouse grafana plugin to latest 2.0.1 published version
https://grafana.com/grafana/plugins/vertamedia-clickhouse-datasource/changelog
after fix https://github.com/Vertamedia/clickhouse-grafana/issues/169
"multiple values" variables should pass better

I try to reproduce your behavior on the latest plugin master and grafana 6.7.5

I successful deploy 3 template variable

[2020-07-10 13:57] Slach commented on #232
@ghuname please look to
https://github.com/Vertamedia/clickhouse-grafana/blob/master/docker/grafana/dashboards/mutiple_depends_variable.json
and
https://github.com/Vertamedia/clickhouse-grafana/blob/master/docker/clickhouse/init_schema.sql#L33

feel free to reopen if issue reproduce on the latest version of a plugin

[2020-07-10 14:02] Slach commented on #148
I close this issue cause it inactive and already solved in version 1.9.2, feel free reopen if necessary

[2020-07-10 14:02] #148 closed

[2020-07-10 16:37] Slach commented on #134
on latest ClickHouse testing version
we have `ORDER BY time WITH FILL`
please look to https://github.com/ClickHouse/ClickHouse/pull/12410

[2020-07-10 16:41] Slach commented on #134
Dear @ctaity
I think implements WITH FILL analog for $macros inside clickhouse-grafana is too complicated and out of scope for data source plugin

Current macros architecture just stateless convert $macros to SQL queries and pass it to Clickhouse server

Feel free reopen this issue or create pull request if you disagree

Feel free make Pull Request or repoen issue if you

[2020-07-10 16:41] #134 closed

[2020-07-12 03:39] xuanyuanaosheng commented on #188
@Slach  The official grafan is using  `grafana-cli plugins install vertamedia-clickhouse-datasource`.  The plugin dir is /var/lib/grafana/plugins/vertamedia-clickhouse-datasource

[2020-07-12 09:00] ponikrf opened #235 "I do not see the installed plugin in the list of plugins"
I installed the new grafane version 7.0.6 on ubuntu 20.04, all according to instructions.
[code]
But I don't see the clickhouse plugin list

I installed random plug-ins and I see them on the list.

I went to see the folder `/var/lib/grafana/plugins` here.

<img width="529" alt="Снимок экрана 2020-07-12 в 11 57 33" src="https://user-images.githubusercontent.com/3146693/87242598-e0fa4e80-c436-11ea-8

[2020-07-12 17:41] Slach commented on #188
@xuanyuanaosheng do you mean plugin still not work with your grafana 7.x?

could you provide more context and steps to reproduce?
which error message you see?

[2020-07-12 18:24] Slach commented on #235
@ponikrf thanks you for reporting,
did you try to add
environment variable:
[code]

or change grafana.ini settings
[code]
?

Unfortunately, grafana currently doesn't support worked signing method for community plugins
https://community.grafana.com/t/how-to-create-a-signed-backend-plugin/30068/2

[2020-07-12 18:34] ponikrf commented on #235
Thank you, it really works (I changed grafana.ini). It's weird that the other Unsigned plug-ins showed up right away, it caused me questions.

[2020-07-13 06:07] Slach commented on #235
these plugins don't support "alerts" backend functionality

[2020-07-13 08:19] Slach commented on #188
@xuanyuanaosheng, please look https://github.com/Vertamedia/clickhouse-grafana/issues/235#issuecomment-657258015
this solution is applicable for you?

[2020-07-13 08:21] #235 closed

[2020-07-13 08:34] ghuname commented on #232
@Slach, will 2.0.1 work with Grafana v6.6.2 (3fa63cfc34)?

[2020-07-13 09:37] Slach commented on #232
@ghuname  yes, 2.x version plugin version works with 6.6.2

[2020-07-13 14:10] fr05t1k opened #237 "Additional time range for alerts doesn't work"
It seems like an alert window doesn't work.

I specified that I'd like to check 3h window with 1h shift.
![image](https://user-images.githubusercontent.com/2131624/87313906-3a43aa00-c52b-11ea-9a39-6ded54b2efca.png)

This window is greater than 20%
![image](https://user-images.githubusercontent.com/2131624/87314315-b63df200-c52b-11ea-82b3-c5aad3096fdf.png)

But the alert checks the whole period of

[2020-07-13 14:21] fr05t1k commented on #237
Index: datasource.go
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
--- datasource.go	(revision 35879b0fd7876201910adacc32de53d46cc90a18)
+++ datasource.go	(date 1594650002971)
@@ -63,7 +63,7 @@
 		return nil, fmt.Errorf("invalid status code. status: %v", response.Status)
 	}

-	return par

[2020-07-13 14:21] fr05t1k commented on #237
Probably this patch could help
[code]

[2020-07-13 15:08] oleg-savko opened #238 "Macros $interval not correct parse"
When use custom interval (variable with type Interval) macros $interval not correct parsed.

In docs said that it should parsed to seconds:
_$interval - replaced with selected "Group by a time interval" value (as a number of seconds)_

but it doesnt.

**plugin version**: 2.0.1

**Example artificial:**
table:

[code]

query:

[code]
parsed to:
`
SELECT     (intDiv(toUInt32(d), 600) * 600) * 1000 as

[2020-07-13 16:37] Slach commented on #238
;) as we figure out in telegram,
there is $interval is not a macro,  it's a template variable with the same name as macro
and this template variable has type "Interval"

unfortunately, grafana core doesn't pass grafana specific template variable type  to plugin during replacement

so, as workaround we should change variable type from "Interval" to "Query"
and use following SQL query for clickhouse

[2020-07-13 16:40] #238 closed

[2020-07-14 08:59] ghuname commented on #232
Thanks

[2020-07-14 09:11] ghuname opened #240 "Integer or String?"
My grafana [Grafana v6.6.2 (3fa63cfc34)] clickhouse
(ClickHouse client version 20.3.12.112., ClickHouse server version 20.3.12 revision 54433.) datasource has the following select:

[code]

describe [describe (select above) ] of the select looks like this:

[code]

As you can see, modem_cnt is of UInt64 type.

For presenting the select I am using official grafana table plugin. In this plugin, mode

[2020-07-14 09:51] Slach commented on #237
@fr05t1k thanks for reporting and provide the solution

I applied your patch, it works perfectly ;)

[2020-07-14 10:43] Slach commented on #240
@ghuname do you use Table as visualization plugin?
which format do you use for your query ? "time series" or "table"?

could you click "Query Inspector" -> "Query" -> copy to clipboard
and share result here?

[2020-07-14 12:17] ghuname commented on #232
@Slach I have installed 2.0.1 version and problem is still present.
Can you please reopen this issue.

[2020-07-14 12:22] ghuname commented on #240
Yes I am using Table as visualization plugin and Format as: Table.
Here is output of the Query Inspector:

[code]

[2020-07-14 13:28] Slach commented on #240
@ghuname did you upgrade your vertamedia-clickhouse-grafana to 2.x version?

[2020-07-14 14:48] Slach commented on #232
Ok. could you share your grafana dashboard JSON and SQL schema with me (via email bloodjazman@gmail.com if data is private)?

[2020-07-15 08:21] sundy-li commented on #232
I just faced this problem after upgraded to the newest version. If I want to use single quotes in In ${version}, but all version variables looks like Number (actually in clickhouse it's type is String), how to solve this problem?

![image](https://user-images.githubusercontent.com/3325189/87521663-3d6ba100-c6b7-11ea-9d19-c713cf926079.png)

[2020-07-15 10:31] Slach commented on #232
@sundy-li quick workaround for you
`SELECT ... WHERE os IN ( arrayMap((x)->toString(x),${client_version}) )`

[2020-07-15 11:18] Slach commented on #240
@ghuname issue still actual for you after an upgrade to 2.x?
could you share grafana dashboard JSON and clickhouse table schema?

[2020-07-15 11:21] Slach commented on #139
I close issue cause feedback is missed

@aayush210 feel free to reopen the issue if this still actual for you

[2020-07-15 11:21] #139 closed

[2020-07-15 11:56] ghuname commented on #240
Yes I have upgraded to 2.0.1, and the issue is still present.

[2020-07-16 10:57] sunyongsheng112 commented on #235
it helps me too ~

[2020-07-16 16:31] Slach commented on #232
@ghuname  could you share your grafana dashboard JSON and SQL schema with me, to help me reproduce your behavior?

[2020-07-16 16:51] levonet commented on #212
I have same problems with Grafana 7.x docker container.
`t=2020-07-16T16:44:18+0000 lvl=eror msg="Failed to load plugin" logger=plugins error="plugin \"vertamedia-clickhouse-datasource\" is unsigned" pluginPath=/var/lib/grafana/plugins/vertamedia-clickhouse-datasource/dist`

[2020-07-17 08:23] Slach commented on #212
@levonet please look to https://github.com/Vertamedia/clickhouse-grafana/#quick-start

apply  changes into grafana.ini
[code]
or setup environment variable
[code]

[2020-07-17 18:30] bmanth60 opened #242 "Backend Deprecation Warning"
The backend plugin has the following warning:

It needs to be updated with: https://github.com/grafana/grafana-plugin-sdk-go but this is still alpha

[2020-07-20 10:02] pachico opened #243 "Plugin cannot be loaded since version 2.*"
I have tried to load the plugin for both 2.0.1 and 2.0.2 versions but Grafana wont be able to load them.
Error simply says:
[code]
We had to roll back to 1.9.5.

Can you have a look?
Thanks in advance

[2020-07-20 10:29] Slach commented on #243
@pachico
could you describe your setup environment?
which grafana version do you use?
how you install vertamedia-clickhouse-datasource?

where is your plugin directory (by default /var/lib/grafana/plugins)?

could you share results of the following command?
[code]

[2020-07-20 10:54] vblazquez commented on #243
@Slach
grafana 7.1.0
OS: ubuntu 16.04
vertamedia-clickhouse-datasource errors with 2.0.1 and 2.0.2. Version 1.9.5 works smoothly
Plugins installed using cli, grafana-cli plugin install vertamedia-clickhouse-datasource, after install we restart the service

Output for 'grep -i -r plugin /etc/grafana'
[code]

Could it be that version 2.0.* need to be specifically allowed?

[2020-07-20 11:34] Stephane-Thales opened #244 "grafana-cli plugins can't update to 2.0.2"
Dear All,

I've the pluggin 2.0.1, trying to upgrade to 2.0.2
with Grafana v7.1.0 (8101355285)

using
`grafana-cli plugins update vertamedia-clickhouse-datasource`
or
`grafana-cli plugins update-all`

the cmd line keep doing the upgrade, but in the UI the plugin stay in 2.0.1, and if I rerun the command it's upgrading it again, without doing anything.
I've "upgraded" the plugin multuple time, rest

[2020-07-20 14:26] Slach commented on #244
duplicate with https://github.com/Vertamedia/clickhouse-grafana/issues/243

[2020-07-20 16:43] Slach commented on #243
please look https://github.com/Vertamedia/clickhouse-grafana#quick-start
add
[code]
to grafana.ini

and run something like this
[code]

[2020-07-20 16:50] Slach commented on #244
@Stephane-Thales could you run following commands?
[code]

look like backend part of plugin /var/lib/grafana/plugins/vertamedia-clickhouse-grafana/dist/vertamedia-clickhouse-plugin_linux_amd64`  is locked when grafana-server is running

[2020-07-20 17:29] wordsappadmin opened #245 "Can't use $unescape($column) in SELECT request when $column is multiple-value variable"
Plugin has example in Show Help:

When $column is multiple value variable this example don't work.

**Usecase 1**
$column is multiple-value variable  with value 'id'
[code]
**Usecase 2**
$columns is multiple-value variable with two values: 'date', 'id'
[code]

The question is how to remove brackets [] from multiple-value variable?

Grafana v7.1.0 (8101355285)
vertamedia-clickhouse-datasource 2.0.2

[2020-07-21 01:16] Stephane-Thales commented on #244
Hi @Slach

That did not work.

I also tried without success

[code]

But what worked :

[code]

And that upgrade to 2.0.2 fixed my issue #199 .
Thanks

[2020-07-21 05:48] Slach commented on #243
I tried to reproduce update scenario
[code]

with
[code]

2.0.2 works fine with Grafana 7.1.0
please comment and reopen the issue if this error still reproduce

[2020-07-21 05:48] #243 closed

[2020-07-21 05:55] Slach commented on #244
hmmm look like you install clickhouse grafana plugin into
`/var/lib/grafana/plugins/clickhouse-grafana` manually

but `grafana-cli plugins install` use `/var/lib/grafana/plugins/vertamedia-clickhouse-datasource`

[2020-07-21 05:55] #244 closed

[2020-07-21 06:18] Slach commented on #245
simple workaround
use `${columns:csv}`
instead of `$unescape($columns)`

[2020-07-21 06:21] #245 closed

[2020-07-21 06:23] Slach commented on #242
@bmanth60 could you help us switch to the new SDK?
new SDK not still alpha, but still in a development state, but protocol and API is stable

[2020-07-21 07:13] Slach commented on #135
@dan-hughes
could you share your dashboard JSON or maybe make screencast which captures triggering "save prompt"?

I tried to reproduce use $__from, $__to inside SQL query
"save prompt" doesn't trigger when I change time range in grafana UI

![image](http://g.recordit.co/THBTq4Gv8E.gif)

[2020-07-21 07:30] #135 closed

[2020-07-21 15:23] Slach commented on #240
@ghuname
look like every *Int64 field type converted by clickhouse server to string when used FORMAT JSON clause, cause JSON
![image](https://user-images.githubusercontent.com/105560/88072260-43b5bd80-cb8e-11ea-8a5b-d685909e95d7.png)
it's required for compatible to JavaScript
please look details here https://github.com/ClickHouse/ClickHouse/issues/114

I tried to reproduce UInt64 + table plugin gr

[2020-07-21 15:23] #240 closed

[2020-07-21 19:38] bmanth60 commented on #242
@Slach it may take a me a little while here but yeah, I am testing it out right now. I will update here on my status.

[2020-07-22 03:39] Slach commented on #242
@bmanth60 sounds great ;) feel free to make PR

[2020-07-22 08:04] ghuname commented on #232
@Slach I found the root of the problem. If query among other values return a null value, than template vars engine is confused.
The solution is to add "... and field is not null" as one of conditions.

[2020-07-22 08:55] Slach commented on #232
@ghuname ok, could you close this issue and create a new issue?
what you mean "template variable engine is confused"? do you mean something wrong with grafana UI or clickhouse-grafana replace template variable with wrong values?

[2020-07-24 10:02] #232 closed

[2020-07-24 10:32] miggi opened #251 "Cannot enable ClickHouse-Grafana plugin for Kuberenetes"
Hey guys,

We really need your super-plugin for our Grafana inside Kuberenetes, but it seems to be not pulling by key "vertamedia-clickhouse-datasource" in helm chart. Do you have any ideas why ?

See my config below:

[code]

After applying I see other plugins, but NO  clickhouse-data source

[2020-07-24 11:19] banburybill opened #252 "Template variable expansion default type changed in 2.0.2?"
I have multi-value template variables. With Grafana 7.1.0 and plugin 2.0.1, plain `$var` expands as a sqlstring, so as `'one', 'two', 'three'`. With 2.0.2 this becomes `['one', 'two', 'three']`. I'm using this in `SELECT field WHERE field IN ($var)`, so ClickHouse becomes unhappy.

With 2.0.2, I can explicitly request `sqlstring` and replace `$var` with `${var:sqlstring}` to restore previous behav

[2020-07-24 11:44] Slach commented on #252
@banburybill
which version of clickhouse do you use?
could you share the generated SQL query?
before change
I tried
[code]
and  was successfull
[code]

if you need multiple variable values as field names
so just try to use quick workaround `${var:csv}`

[2020-07-24 11:46] Slach commented on #251
Hello @miggi,
thanks for report

how exactly your helm chart install plugins inside kubernetes?
It use a special init Container? which image?

Or it use a `GF_INSTALL_PLUGINS` environment variable?
or maybe helm chart use kubernetes grafana-operator?

which grafana version do you use?
did you try to allow unsigned plugin?
https://github.com/Vertamedia/clickhouse-grafana/#grafana-7x-setup-notes

[2020-07-24 11:55] miggi commented on #251
Hi @Slach We've finally figured out. So the solution should be according to your documentation. We updated unsigned option:

in values.xml helm Grafana chart:

[code]
It might be useful for other users to include that recommendation in your documentation.
But the issue is not actual anymore. Thanks.

[2020-07-24 12:59] Slach commented on #251
@miggi
this recommendation already have in plugin documentation https://github.com/Vertamedia/clickhouse-grafana/#grafana-7x-setup-notes

anyway, thanks a lot for open issue  I hope after resolve
https://github.com/Vertamedia/clickhouse-grafana/issues/212
`allow_loading_unsigned_plugins` will unnecessary

[2020-07-24 12:59] #251 closed

[2020-07-24 14:27] banburybill commented on #252
Sorry, I should have included that. Yes, it's a ClickHouse version issue. We're on a carefully selected 19.16 version, 19.16.4.12.

FWIW, here's logs of the actual queries. With 2.0.1:
`executeQuery: (from xxx) SELECT region_name FROM wombat.node_text WHERE NOT bitTest(flags, 0) AND server_name IN ('IMRS','Sinodun') GROUP BY region_name FORMAT JSON`

With 2.0.2:
`executeQuery: Code: 53, e.displayT

[2020-07-24 14:31] banburybill commented on #252
Altinity's latest recommended stable ClickHouse is 20.3.12.112, a recommendation made less than a month ago. Previous Altinity recommended stable versions were both 19.16 releases. We'll think about updating, but there is a case for retaining ClickHouse v19 support.

[2020-07-24 14:49] Slach commented on #252
@banburybill
let's try another workaround
[code]

this query should work in clickhouse 19.16 the same way as 20.3

[2020-07-24 15:38] Slach commented on #252
oops ;(
look like we need to apply fix which continues to solve https://github.com/Vertamedia/clickhouse-grafana/issues/169, but stay works for old ClickHouse versions

@banburybill thanks for open the issue

[2020-07-25 15:52] #252 closed

[2020-07-25 15:58] Slach commented on #252
Hi @banburybill, could you check the latest `master` branch?

also please subscribe to https://github.com/grafana/grafana-plugin-repository/pull/690 for notifying when this fix will available https://grafana.com/grafana/plugins/vertamedia-clickhouse-datasource

[2020-07-26 15:38] negbie opened #254 "Several string->number casting issues"
1) https://github.com/grafana/grafana/issues/26606
2) String +4912345 will be shown in table panel as 4912345

[2020-07-27 07:37] Slach commented on #254
@negbie thanks for reporting
did you try "2e11" in table plugin with other SQL datasource like a postgresql\mysql?

[2020-07-27 08:00] Slach commented on #254
@negbie look like this is not clickhouse-grafana related issue, postgresql + table also interpret "2e1" as numeric
![image](https://user-images.githubusercontent.com/105560/88517587-7e917880-d008-11ea-8773-de7911a1a99b.png)

I think this is more global issue as we think

look like
JSON spec, interpret string "2e1" always as numeric
https://www.json.org/json-en.html

[2020-07-27 08:21] #254 closed

[2020-07-27 08:26] negbie commented on #254
Hi @Slach thank you very much for looking into this that quickly. I opened it first in Grafana but then I wasn't 100% sure so I opened it here too. Yes I could reproduce both cases (32E11 and +123123) aswell for Postgresql datasource.

[2020-07-27 11:27] banburybill commented on #252
Yes, latest master fixes my problem. Thanks!

[2020-07-27 17:20] negbie opened #256 "Querybuilder has a problem with strings which contain `$rate` and `From` in field names"
In Grafana I have a template variable $UserName and I put following statement into the Querybuilder

[code]

This produces following wrong query:
`SELECT t, Success/runningDifference(t/1000) SuccessRate, Fail/runningDifference(t/1000) FailRate FROM ( SELECT (intDiv(toUInt32(CallTime), 1) * 1) * 1000 AS t, countIf(StatusCode = '200') AS Success, countIf(StatusCode != '200') AS Fail FromUser like '%

[2020-07-27 17:27] negbie commented on #256
Just to make sure it's not because of the conditionalTest statement I've tried this statement:

[code]
Which still produces following wrong query:
`SELECT t, Success/runningDifference(t/1000) SuccessRate, Fail/runningDifference(t/1000) FailRate FROM ( SELECT (intDiv(toUInt32(CallTime), 1) * 1) * 1000 AS t, countIf(StatusCode = '200') AS Success, countIf(StatusCode != '200') AS Fail FromUser='bob'

[2020-07-27 17:44] negbie commented on #256
Did some more tests and it seems that this happens only in combination with the $rate funciton

[2020-07-28 04:52] Slach commented on #256
@negbie  thanks a lot for reporting, i will fix it ASAP

[2020-07-28 09:50] #256 closed

[2020-07-28 09:50] Slach commented on #256
@negbie
could you check the latest `master` version?

[2020-07-28 09:51] negbie commented on #256
Wow you are fast! Thanks a lot! I will test it just after lunch break and report back!

[2020-07-28 10:49] negbie commented on #256
@Slach works, thank you very much!

[2020-07-28 11:02] Dino1010 opened #258 "multiple template variable contatenation"
Hi,
Using  clickhouse-grafana source
I need concat multiple variable  like  concat (area,ip,'-')     area,ip both variable
I am trying to:
i find concat(arr[, separator]) function but it's fail!
 $columns(concat([area,ip,'-']) ,sum(inbandwidth)  as carton, ) FROM $table

[2020-07-28 11:26] Slach commented on #258
@Dino1010 could you provide some details what happens?

[2020-07-28 13:20] bigHave opened #259 "query with variable generate bad clickhouse sql"
**grafana version: v6.7.4
clickhosue-grafana version: 2.0.2**

In my panel, I set a variable named type:
![image](https://user-images.githubusercontent.com/9249583/88669594-aa9b1f80-d116-11ea-8ace-dd66b8a7f86a.png)

then I add this variable to query like this:
![image](https://user-images.githubusercontent.com/9249583/88669821-f51c9c00-d116-11ea-9bcc-518233801565.png)

which generated sql like thi

[2020-07-28 13:43] Slach commented on #259
duplicated with https://github.com/Vertamedia/clickhouse-grafana/issues/252
could you try to latest `master` version?
or subscribe https://github.com/grafana/grafana-plugin-repository/pull/690 and wait when 2.0.4 will release on Grafana plugin repository

[2020-07-28 13:43] #259 closed

[2020-07-28 16:04] alexorekhov opened #260 "Compatibility with Grafana 7.1.1"
After upgrading Grafana to ver. 7.1.1 plugin stop working and on datasource page, I see the following error:

![image](https://user-images.githubusercontent.com/44675562/88690936-e2996700-d104-11ea-9569-5282c18e785d.png)

Tried to reinstall the plugin, but it didn't help. Did I miss something or it's an issue that should be fixed?

Thanks in advance.

[2020-07-29 03:00] bigHave commented on #259
I'll give a try. thx for reply

[2020-07-29 04:27] Slach commented on #260
please read https://github.com/Vertamedia/clickhouse-grafana#grafana-7x-setup-notes
so, for properly setup you need change configuration option
[code]
or setup environment variable
[code]
duplicated with
https://github.com/Vertamedia/clickhouse-grafana/issues/243
https://github.com/Vertamedia/clickhouse-grafana/issues/235
https://github.com/Vertamedia/clickhouse-grafana/issues/188

[2020-07-29 04:27] #260 closed

[2020-08-03 14:14] hagen1778 opened #265 "Feature Request: Respect comments in query"
I'd like DS to respect comments set in query. The motivation behind FR is following:
1. Comments may contain useful information that may be used then for scanning `query_log` table;
2. Some users may apply additional logic based on comments content - like query complexity, permissions or retention checks.

I noted that https://github.com/Vertamedia/clickhouse-grafana/issues/95 was solved by stripp

[2020-08-03 15:06] Slach commented on #265
Goog proposal I try to make it ASAP.

[2020-08-04 09:43] jinlongwang opened #266 "update to grafana7.0 & clickouse-garfana 2.0.2 query error"
## environment
grafana： 7.0
clickhouse plugin： 2.0.2

## issue
![image](https://user-images.githubusercontent.com/2275120/89278437-af148a80-d678-11ea-9694-225ba58b9bfc.png)
![image](https://user-images.githubusercontent.com/2275120/89278512-c8b5d200-d678-11ea-8070-2857eb6e832e.png)

## Other clues
when i use grafana6.3.4 and clickhouse plugin verison is 1.9.0 , Query no problem

The difference is

[2020-08-04 11:40] negbie opened #267 "Support Basic Auth for datasource which used BasicAuth for alerts"
With Grafana 7.1.1 and latest clickhouse-grafana plugin version 2.0.5 every Alert throws following error:

error:"tsdb.HandleRequest() error rpc error: code = Unknown desc = invalid status code. status: 500 Internal Server Error"

For graphs the datasourse is working normally.

[2020-08-04 11:41] negbie commented on #267
Im using Docker with a mounted plugin directory.

[2020-08-04 12:29] Slach commented on #267
could you share your table schema
and grafana dashboard JSON which contains alerts?

also, could you share results for following command `docker log <your_grafana_container_id>`?

[2020-08-04 12:38] negbie commented on #267
[code]
[code]

error: code = Unknown desc = invalid status code. status: 500 Internal Server Error" changing state to=alerting
t=2020-08-04T12:35:01+0000 lvl=info msg="New state change" logger=alerting.resultHandler ruleId=9 newState=pending prev state=unknown
t=2020-08-04T12:36:01+0000 lvl=eror msg="Alert Rule Result Error" logger=alerting.evalContext ruleId=9 name="Panel Title alert" error="tsdb

[2020-08-04 13:30] Slach commented on #266
Your screens
hmm, version 1.9.5 should works with grafana 7.0 and grafana 7.1 but contains some bugs, which fixed on 2.0.2 version

@jinlongwang, could you share original query which you used in Query editor?
your screenshots look like you show generated query after parsing

[2020-08-04 13:45] negbie commented on #267
Don't know if it helps but datasource is using basic auth.

[2020-08-04 14:42] negbie commented on #267
Not sure if this is a heisenbug but I tried it again and this time it worked. Need to investigate it.

[2020-08-04 15:43] negbie commented on #267
Something else I've found along the way. If you select by
 toStartOfHour(CallTime) AS t

you will get following error:
error:"tsdb.HandleRequest() error rpc error: code = Unknown desc = unable to parse timestamp with alias=`t` value=2020-08-04 16:00:00 error=strconv.ParseInt: parsing "2020-08-04 16:00:00": invalid syntax"

[2020-08-04 17:41] Slach commented on #267
toStartOfHour it's expected behavior
please create a separate issue
and use `toUInt64(toStartOfHour(...)) AS t` as quick workaround

[2020-08-04 17:43] negbie commented on #267
Ah ok. Thanks I will. Currently I use (intDiv(toUInt32(CallTime), 1800) * 1800) * 1000 as t.

[2020-08-04 17:43] Slach commented on #267
maybe "heisenbug" depends of data which returned from your datasource

could you check `system.query_log` in your clickhouse database and try to find queries related to your alerts

[2020-08-04 17:44] negbie commented on #267
Ok, thanks for the hint, I will see if I can find something useful.

[2020-08-04 17:49] negbie commented on #267
Ok we are lucky and it's not a heisenbug. I can reproduce it. It works now because in the datasource settings I turned the switch on "Use Yandex.Cloud authorization headers" and filled the credentials. Even if you turn of the switch again it will still work.

Looking into the code I found this:
https://github.com/Vertamedia/clickhouse-grafana/blob/master/datasource.go#L104

[2020-08-04 17:52] negbie opened #268 "Allow backend parsing timestamp as Date or DateTime type not only UInt64"
When using toStartOfHour() Grafana Alert query will throw this error:

error:"tsdb.HandleRequest() error rpc error: code = Unknown desc = unable to parse timestamp with alias=t value=2020-08-04 16:00:00 error=strconv.ParseInt: parsing "2020-08-04 16:00:00": invalid syntax"

[2020-08-04 17:53] negbie commented on #267
If you delete the credentials for Yandex.Cloud authorization headers you will see the mentioned error again.

[2020-08-05 02:40] jinlongwang commented on #266
hi, @Slach, there is my  original query
[code]
and today i found this problem is show on clickhouse plugin version 1.9 and higher

but clickhouse plugin verison 1.6.0 is fine.

is there any change for parsed $timeSeries ？

Why are the quotes parsed on versions 1.9 and higher?

thx！

[2020-08-05 05:43] Slach commented on #267
@negbie thanks a lot for investigating,
I think we need to switch to new plugin SDK
@bmanth60 any news about progress with it?

[2020-08-05 13:30] Slach commented on #266
@jinlongwang I tried to reproduce your query on latest `master` version `clickhouse-grafana` plugin
could you suggest what exactly you choose as `table`, `database` and `Сolumn:DateTime` in your query when turn off query-editor?
![image](https://user-images.githubusercontent.com/105560/89417715-7fcd4e80-d748-11ea-85b4-81e12bba8a91.png)

Does it look like `ts/1000`?

and how do you group your data?

[2020-08-05 13:32] Slach commented on #266
@jinlongwang which data type have `ts` field in your table?

[2020-08-05 14:10] Slach commented on #258
@Dino1010 does this issue still relevant for you? or can I close it?

[2020-08-05 14:51] #265 closed

[2020-08-06 06:44] fgbogdan commented on #265
Hi,
How should I update the code - allowing comments or not ?

[2020-08-06 07:05] Slach commented on #265
@fgbogdan just turn off "skip comments" dashboard on query editor on latest `master`

[2020-08-06 07:06] Slach commented on #265
![image](https://user-images.githubusercontent.com/105560/89501704-3c70ef80-d7dd-11ea-8f49-26728174a147.png)

[2020-08-06 11:07] Slach commented on #266
@jinlongwang is this issue still actual for you? could you help me reproduce it and help you to resolve issue?
Could you please answer to questions above?

[2020-08-06 12:42] jinlongwang commented on #266
hi, @Slach, thanks for you help

## turn off query-editor
![image](https://user-images.githubusercontent.com/2275120/89531690-39005700-d823-11ea-8739-1eb6f99dde87.png)

## query options parameters
![image](https://user-images.githubusercontent.com/2275120/89531823-6baa4f80-d823-11ea-858d-138726c2599a.png)

and I have updated the plugin  version  to 2.0.6， but it's still have this problem
![image](

[2020-08-06 12:57] jinlongwang commented on #266
@Slach i found a workaround
![image](https://user-images.githubusercontent.com/2275120/89534206-28ea7680-d827-11ea-9d33-3c289e368104.png)
![image](https://user-images.githubusercontent.com/2275120/89534398-6c44e500-d827-11ea-8398-d809b7cc8174.png)

[2020-08-06 13:22] fgbogdan commented on #265
Ok - i see the "skip comment"
Now - should I do a new pull request and put back my changes or I have another way to integrate my code ?

[2020-08-06 13:46] Slach commented on #266
@jinlongwang thanks a lot, a can reproduce your issue
I will fix it ASAP

[2020-08-06 13:58] Slach commented on #266
@jinlongwang alerts became just for copy existing dashboard

your issue became from 1.9.0 as part of ConditionalTest functionality in https://github.com/Vertamedia/clickhouse-grafana/commit/c6dd0a564393e9fb9207031aaa3d3a5e464a0ab5
for https://github.com/Vertamedia/clickhouse-grafana/pull/122

I can fix it

[2020-08-07 06:53] Slach commented on #265
@fgbogdan for your part of code with SQL logic functionality, unfortunately, cause we run direct JavaScript in page context,

Hackers can publish some dashboards and write something like
[code]

and from https://pastebin.com/raw/jDrHGHsr we will execute any js which can show standard grafana login and steal grafana users passwords, not only cookies

[2020-08-07 06:59] Slach commented on #265
@fgbogdan just open https://requestbin.com/r/enwiu9j3057dn/1fl924qjkyCZHBTjD5V2YpxXXVS
there is just a simple explanation

[2020-08-07 07:45] fgbogdan commented on #265
ok - got it.
then - so be it - 10x for effort.

[2020-08-07 08:45] #266 closed

[2020-08-07 08:46] Slach commented on #266
@jinlongwang could you install and check the latest `master` version of plugin?

[2020-08-07 14:33] gloyka opened #272 "Queries from single dashboard stopped running in parallel since 2.0.3"
We have some dashboards with multiple clickhouse panels. Queries from dashboard use to be running in paralell.

They are executed consequentially now, since 2.0.3 version. One after another.
It seriously affects full dashboard loading time.

before 2.0.3:
![before_2 0 3](https://user-images.githubusercontent.com/9253469/89655814-4ffe8200-d8d3-11ea-9f4a-0534149ced00.png)

since 2.0.3:
![since_2 0 3

[2020-08-07 17:32] Slach commented on #272
@gloyka thanks a lot for reporting
I'm rollback some kind of changes in https://github.com/Vertamedia/clickhouse-grafana/commit/8e384d268644994983bf1bf42f2ee49f826e6e1b ASAP

[2020-08-07 17:54] #272 closed

[2020-08-07 18:11] Slach commented on #258
@Dino1010 did you try the latest `master` version?

[2020-08-08 12:47] Slach commented on #272
@gloyka could you please check the latest `master` version?
![image](https://user-images.githubusercontent.com/105560/89673590-0ed09700-d900-11ea-9ded-76598dca2e84.png)

[2020-08-10 05:49] Slach commented on #268
Hello @negbie
I tried to figure out with this issue

Unfortunately, only grafana `Graph` panel supports "alerts" tab,
but this plugin requires the first column as JavaScript timestamp with seconds + milliseconds  (UInt64 in golang types, Unix timestamp * 1000)

So, even we allow parsing ClickHouse DateTime \ Date on golang side without convert toUInt64, we will fail on JavaScript side and have emp

[2020-08-10 05:49] #268 closed

[2020-08-10 06:03] Slach commented on #242
Hello @bmanth60, do you have any news about the switching process to the new golang SDK?

[2020-08-10 06:15] negbie commented on #268
Hi Slach, thank you very much for looking into this! Ok makes sense and I think it's not a big deal. I've just stumbled over this because I tried clickhouse for the first time and wasn't familiar with all available conversion funktions. toUInt64( ... ) * 1000 is totally fine for me.

[2020-08-10 12:37] ADovgalyuk opened #276 "v2.0.7 and Grafana v7.1.3: Error 400 - bad request"
Hi everyone.
I've got an error after plugin update from 1.9.5 to 2.0.7. My request:
[code]
On 1.9.5 generated sql request is:
[code]
![v195](https://user-images.githubusercontent.com/56922689/89783093-086c3600-db1f-11ea-95af-917554357c4c.png)

But on 2.0.7 its different and incorrect, part of subquery is lost:
[code]
![v207](https://user-images.githubusercontent.com/56922689/89782976-d955c480-db1e

[2020-08-10 13:20] Dino1010 commented on #258
@Slach  i use 1.9.5 .if latest master version fix this Issues,I am very willing to try it.

[2020-08-10 13:59] Slach commented on #258
@Dino1010
[code]
please check latest `master` version also it should works in 1.9.5
if not
please click GeneratedSQL and share in this issue

[2020-08-10 14:06] Slach commented on #276
Hello @ADovgalyuk thanks for detailed report I will check it and fix ASAP

[2020-08-10 14:50] gloyka commented on #272
@Slach it works well now. Thank you!

[2020-08-10 17:18] bmanth60 commented on #242
I got some of the frames mapped, but I don't think it is completely correct. Still doing more testing on this. I also need to rebase with master. It is getting there.

[2020-08-10 17:21] pavel-odintsov opened #277 "$columns expression triggers Clickhouse syntax error in clickhouse-grafana 2.0.2"
Hello!

We've got some issues with columns expression on v7.1.1 (3039f9c3bd) and latest stable plugin version (2.0.2).

We have following query:
[code]

It worked fine for years but we've noticed issues after upgrade to latest Grafana and plugin.

Clickhouse does not like generated code with following error:
[code]

We can see following generated SQL:

[code]

You can find original dashboard here

[2020-08-11 05:03] Slach commented on #242
maybe we can write some unit tests for golang code?

[2020-08-11 05:05] Slach commented on #277
@pavel-odintsov thanks you for reporting
i try to resolve issue ASAP

[2020-08-11 06:03] evgmoskalenko opened #278 "New versions in Grafana plugins"
Hello, could you tell please, when will new versions appear in Grafana plugins - https://grafana.com/grafana/plugins/vertamedia-clickhouse-datasource

[2020-08-11 09:55] Slach commented on #278
please subscribe to
https://github.com/grafana/grafana-plugin-repository/pull/690
and ask grafana team to merge this PR

[2020-08-11 10:02] evgmoskalenko commented on #278
Thanks.. :-)

[2020-08-11 10:02] #278 closed

[2020-08-11 16:46] jinlongwang commented on #266
@Slach 2.0.7 is ok! thank you!

[2020-08-13 05:22] #276 closed

[2020-08-13 05:22] #277 closed

[2020-08-13 05:23] Slach commented on #276
@ADovgalyuk could you check the latest `master` version of plugin?

[2020-08-13 05:26] Slach commented on #277
@pavel-odintsov could you git clone the latest `master` branch plugin version and check your query?

[2020-08-17 09:19] Dino1010 commented on #258
it is broken.
<img width="939" alt="Snipaste_2020-08-17_16-08-12" src="https://user-images.githubusercontent.com/48425373/90379552-72e81d80-e0ad-11ea-8bca-0b46f3481999.png">
<img width="809" alt="Snipaste_2020-08-17_16-24-30" src="https://user-images.githubusercontent.com/48425373/90379564-767ba480-e0ad-11ea-9382-3919d75bd203.png">
<img width="1694" alt="Snipaste_2020-08-17_17-13-56" src="https://

[2020-08-19 18:38] pavel-odintsov commented on #277
Thank you so much! Will do!

[2020-08-24 06:11] via-justa commented on #267
I'm facing the same issue with self hosted clickhouse and basic auth, any news or workaround on the subject?

[2020-08-24 06:46] Slach commented on #267
@via-justa look to https://github.com/Vertamedia/clickhouse-grafana/pull/275
if you able to code on golang, could you help us to switch to new grafana SDK?

[2020-08-24 07:55] Slach commented on #258
@Dino1010 could you try
[code]
?

[2020-08-25 13:52] genzgd opened #281 "Tables have wrong columns if ClickHouse JSON datapoint is not ordered"
We use Trickster to cache time series data.  Because of the way that Trickster caches queries, the properties of the JSON datapoints returned from cached queries are in alphabetical order, not the same order as the ClickHouse response meta array.  This breaks tables in the plugin, because it appears the construction of the table row assumes that the properties of the JSON object are in that same o

[2020-08-27 18:16] nitzan-tz opened #282 "adhoc is not working in latest grafana and latest plugin"
Hi,

I have adhoc variable and I have a query that include WHERE with $adhoc
I am using Grafana v7.1.5 and Clickhouse plugin 2.1.0
I have this adhoc filter
`default.flows_raw.SrcAS=1299
`
But the $adhoc is always 1

[code]

It is translated to

[code]

[2020-08-28 08:56] Slach commented on #282
@nitzan-tz could you share screenshot or part of dashboard JSON  which could explain how exactly you define "ad-hoc" filters?
could you look to https://github.com/Vertamedia/clickhouse-grafana/blob/master/docker/grafana/dashboards/clickhouse_dashboard.json#L1405
these ad-hoc filters work as expected

I will try to reproduce your case ASAP

[2020-08-28 08:58] Slach commented on #281
@genzgd thanks a lot for reporting
I will try to reproduce it ASAP

[2020-08-28 13:18] nitzan-tz commented on #282
@Slach here is the json of the adhoc filter

`  "templating": {
    "list": [
      {
        "datasource": "ClickHouse",
        "filters": [
          {
            "condition": "",
            "key": "default.flows_raw.SrcAS",
            "operator": "=",
            "value": 1299
          }
        ],
        "hide": 0,
        "label": "",
        "name": "adhoc_filter_example",
        "ski

[2020-08-31 04:13] ashutoshraina commented on #281
Just reporting that we also have the same problem. We proxy clickhouse queries through a http layer and the json response produced by the proxy layer isn't necessarily in the same order as the select clause. This causes the table to have wrong data under the wrong columns.

[2020-08-31 05:30] Slach commented on #281
@ashutoshraina do you mean "trickster" proxy or "proxy mode" in clickhouse data source?

[2020-08-31 06:11] ashutoshraina commented on #281
We have a separate proxy written in go. We point the datasource to that proxy. The query comes back with the expected JSON but rendering of the table is incorrect due to the reasons mentioned above.
See the response below, the indices in the meta and the order in the results doesn't match which causes the rendering to become out of order in the table. If we matched on name, this would go away.  Th

[2020-09-01 08:30] liangli1213 opened #283 "[Feature Request] Fill missing points in series"
In MySQL raw query editor mode, we can use $__timeGroup(dateColumn, '5m', value) to fill missing points in the series, (see https://grafana.com/docs/grafana/latest/features/datasources/mysql/)

So I'd request ClickHouse datasource to add similar function.

[2020-09-01 11:27] Slach commented on #283
@liangli1213 clickhouse itself already have similar solution
just look to
https://clickhouse.tech/docs/en/sql-reference/statements/select/order-by/#orderby-with-fill
and try to use something like this
[code]

[2020-09-01 13:27] liangli1213 commented on #283
@Slach I got below error message when use with fill, so does the applied column should be not null?

[code]
`SQL Error [475]: ClickHouse exception, code: 475, host: bdc-clickhouse, port: 8123; Code: 475, e.displayText() = DB::Exception: Incompatible types of WITH FILL expression values with column type Nullable(Int32) (version 20.8.1.4474 (official build))`

[2020-09-01 13:57] igor9292 opened #284 "no generate select 2.1"
systax error: failed at position 1(line 1, col)
no generate select

$columns(
  substring(concat(JobName as JobName,' # ' , Metrics.MetricName as Metric), 1, 50) as JobSource,
  sum(Metrics.Value) as Kafka_lag_max)
FROM $table
ARRAY JOIN Metrics

[2020-09-01 14:18] Slach commented on #283
@liangli1213
look like you define checkDate as Nullable(DateTime)
so, could you check
[code]

[2020-09-01 15:04] liangli1213 commented on #283
@Slach , thanks for your code, it works, but it should be toDateTime(0), and by the way, do you have any idea about how $interval comes?

[2020-09-01 15:21] Slach commented on #283
@liangli1213 $interval come as seconds, so you can use `WITH FILL STEP $interval`

could we close this issue?

[2020-09-02 03:09] Slach commented on #284
@igor9292 thanks for reporting, I confirm, ARRAY JOIN doesn't parse properly cause the parser to expect `ON|USING` keyword after `JOIN Metrics` ...

could you suggest
do you have one `$table`
which contains `Metrics` field Nested structure?

[2020-09-02 08:55] #284 closed

[2020-09-02 08:57] Slach commented on #284
@igor9292 could you check your query with the latest `master` version and share results and reopen this issue if still reproduce?

[2020-09-02 09:25] Slach commented on #282
@nitzan-tz could check the latest `master` branch version of plugin?
also, could you share a full JSON for your dashboard and `CREATE TABLE` statements if your error still reproduce?
I checked source code
only one place where we can replace `$adhoc` to `1`
https://github.com/Vertamedia/clickhouse-grafana/blob/master/src/sql_query.ts#L100-L103
and `adhocCondition` fills only in
https://github.com/V

[2020-09-02 09:29] liangli1213 commented on #283
@Slach , I'm wondering the minimal value of $interval? since I noticed the value of my checkDate column has 5 minutes interval, and the minimal value of $interval seems to be 300, is that true?

[2020-09-02 09:48] Slach commented on #281
@genzgd could you share your `trickster.conf` `[origins]` and `[caches]` section?

[2020-09-02 09:52] Slach commented on #281
@ashutoshraina could you explain what exactly wrong? as I see on your screenshot everything looks fine, table have same column order as described in response `meta` part

[2020-09-02 10:11] Slach commented on #283
values for $interval depedns on your dashboard selected time range, graph panel width
![image](https://user-images.githubusercontent.com/105560/91968592-48919380-ed2e-11ea-8ed4-beb88aa9990c.png)

and you can redefine it in query settings
![image](https://user-images.githubusercontent.com/105560/91968755-8c849880-ed2e-11ea-8b5a-a024a12df6b3.png)

[2020-09-02 10:19] genzgd commented on #281
Trickster config -- we run trickster against an nginx proxy in Kubernetes.

[code]

I am the primary author of the ClickHouse support for Trickster.  I am very familiar with how cached queries are stored, using standard GoLang JSON support, and I know that order of properties is not preserved.  We see the same results as @ashutoshraina -- the columns on the screenshot are in the correct order, but